
// Accordions 
//
// Accordions are expandable and collapseable areas that can hide a number of wfm-blocks.
//
//Markup:
//<div>
//	<div class="sidenav-header accordion-head" ng-click="accordionToggle1 = !accordionToggle1">Title</div>
//	<div ng-show="accordionToggle1">
//		<div>
//			<div class="wfm-block"><a ="#">a</a></div>
//		</div>
//	</div>
//</div>
//<div>
//	<div class="sidenav-header accordion-head" ng-click="accordionToggle2 = !accordionToggle2">Title</div>
//	<div ng-show="accordionToggle2">
//		<div>
//			<div class="wfm-block"><a ="#">b</a></div>
//		</div>
//	</div>
//</div>
//<div>
//	<div class="sidenav-header accordion-head" ng-click="accordionToggle3 = !accordionToggle3">Title</div>
//	<div ng-show="accordionToggle3">
//		<div>
//			<div class="wfm-block"><a ="#">c</a></div>
//		</div>
//	</div>
//</div>
//
//Styleguide 1.15
//

.wfm-accordion {
	width: 100%;
}

.sidenav-header.accordion-head, .bottom-header.accordion-head {
	list-style: none;
	cursor:pointer;

	/*dark hover*/
	/*
	&:hover, &:active{
		background-color:#003466;
		color:$white;
	}*/
}