
// Accordions 
//
// Accordions are expandable and collapseable areas that can hide a number of wfm-blocks.
//
//Markup: accordion.hbs
//
//Styleguide 1.15
//

.wfm-accordion{
	list-style:none;
	padding: 0;
}

.wfm-accordion-head{
	width: 100%;
	padding: 5px;
	background-color:$blue-300;
	color: $gray087;
	border-bottom: 1px solid rgba(0, 0, 0, 0.06);
	cursor:pointer;
}

.wfm-accordion-head i{
	float:right;
	transition:all 0.5s ease-in-out;
}
 
.wfm-accordion-content{
	@extend .wfm-block;
}

.wfm-accordion-subheader{
	@extend .wfm-block;
	background-color: $blue-100;
	color: $gray087;
}

.sidenav-header.accordion-head, .bottom-header.accordion-head {
	list-style: none;
	cursor:pointer;
}

.toggle-icon-open{
	transform:rotate(-90deg);
	
}

