
// Accordions 
//
// Accordions are expandable and collapseable areas that can hide a number of wfm-blocks.
//
//Markup:
//<div>
//	<div class="accordion-head" ng-click="accordionToggle1 = !accordionToggle1">Title A<i class="mdi mdi-chevron-down"></i></div>
//	<div ng-cloak ng-show="accordionToggle1">
//		<div>
//			<div class="wfm-block"><a ="#">a</a></div>
//		</div>
//	</div>
//</div>
//<div>
//<div class="accordion-head" ng-click="accordionToggle2 = !accordionToggle2">Title B<i class="mdi mdi-chevron-down"></i></div>
//	<div ng-cloak ng-show="accordionToggle2">
//		<div>
//			<div class="wfm-block"><a ="#">b</a></div>
//		</div>
//	</div>
//</div>
//<div>
//<div class="accordion-head" ng-click="accordionToggle3 = !accordionToggle3">Title C<i class="mdi mdi-chevron-down"></i></div>
//	<div ng-cloak ng-show="accordionToggle3">
//		<div class="wfm-block">Accordions can have headers inside them.</div>
//		<div class="bottom-header">
//			<a ="#">I am a header inside C</a>
//		</div>
//		<div class="wfm-block">This is my content</div>
//		<div class="bottom-header">
//			<a ="#">I am also inside C</a>
//		</div>
//		<div class="wfm-block">Check out my content</div>
//	</div>
//</div>
//
//Styleguide 1.15
//

.accordion-head{
	width: 100%;
	padding: 5px;
	background-color:$blue-300;
	color: $gray087;
	border-bottom: 1px solid rgba(0, 0, 0, 0.06);
	cursor:pointer;
}

.accordion-head i{
	float:right;
}

.wfm-accordion.ng-show.accordion-head i{
	float:right;
	background:red;
}

.sidenav-header.accordion-head, .bottom-header.accordion-head {
	list-style: none;
	cursor:pointer;

	/*dark hover*/
	/*
	&:hover, &:active{
		background-color:#003466;
		color:$white;
	}*/
}