//Buttons
//
// When using buttons, avoid non specific actions as a label.
//For example, "OK", "GO", "ACCEPT" are not specific while "SAVE USER" and "GO ON DASHBOARD" are.
//This helps the user understand what the action will do and what object it will effect. 
//For more details take a look at the <a href="http://www.google.com/design/spec/components/buttons.html#buttons-usage">material design buttons</a>
//
//The primary version of the button should be used for the primary action (i.e the one the user is most likely to take) in that view. 
//By that logic there should normally only be one per screen.
//
//There are different types of buttons, however try to use one type of button per container. Only mix button types when you have a good reason to do so.
//
//Styleguide 1.6
//

// Flat buttons
//
//The flat buttons are 'printed' on the material and only show its area when hovered, it uses capital letters to differentiate it from a link.
//
//Markup:
//<button class="wfm-btn wfm-btn-invis-default">Default</button> 
//<button class="wfm-btn wfm-btn-invis-primary">Primary</button>
//<button class="wfm-btn wfm-btn-invis-disabled">Disabled</button>
//
//Styleguide 1.6.1
//

// Raised buttons
//
//The raised buttons lives on a raised layer and its area is always visible. 
//
//Markup:
//<button class="wfm-btn wfm-btn-default">Default</button>
//<button class="wfm-btn wfm-btn-primary">Primary</button> 
//<button class="wfm-btn wfm-btn-primary-disabled">Disabled</button> 
//
//Styleguide 1.6.2
//

// Action buttons
//
//The floating action button functions much like the primary raised button in that there should preferably only be one per view, indicating the primary positive action. More about when to use it can be found in the <a href="http://www.google.com/design/spec/components/buttons.html#buttons-floating-action-button">google material guidelines.</a>
//
//Markup:
//<button class="wfm-fab"><i class="mdi mdi-account"></i>
//	<md-tooltip>My account</md-tooltip>
//</button>
//<button class="wfm-fab info"><i class="mdi mdi-arrow-right"></i>
//	<md-tooltip>Carry on</md-tooltip>
//</button>
//<button class="wfm-fab success"><i class="mdi mdi-plus"></i>
//	<md-tooltip>Add a thing</md-tooltip>
//</button>
//<button class="wfm-fab mini"><i class="mdi mdi-account"></i>
//	<md-tooltip>My account</md-tooltip>
//</button>
//<button class="wfm-fab mini info"><i class="mdi mdi-arrow-right"></i>
//	<md-tooltip>Carry on</md-tooltip>
//</button>
//<button class="wfm-fab mini success"><i class="mdi mdi-plus"></i>
//	<md-tooltip>Add a thing</md-tooltip>
//</button>
//
//Styleguide 1.6.3
//

//Action button dropdown
//
//Action buttons can be arranged in a dropdown to group actions.
//
//Markup:
//<div layout="row">
//	<md-fab-speed-dial md-open="false" md-direction="down" class="md-fling">
//		<md-fab-trigger>
//			<button class="wfm-fab info material-depth-1"><i class="mdi mdi-duck"><md-tooltip>Ducks</md-tooltip></i></button>
//		</md-fab-trigger>
//		<md-fab-actions>
//			<button class="wfm-fab info material-depth-1 mini"><i class="mdi mdi-duck"><md-tooltip>Duck</md-tooltip></i></button>
//			<button class="wfm-fab material-depth-1 mini"><i class="mdi mdi-duck"><md-tooltip>Duck</md-tooltip></i></button>
//			<button class="wfm-fab success material-depth-1 mini"><i class="mdi mdi-duck"><md-tooltip>Goose</md-tooltip></i></button>
//		</md-fab-actions>
//	</md-fab-speed-dial>
//</div>
//
//Styleguide 1.6.4
//

//Back buttons
//
//Back buttons can be variety as long as the back icon is included.
//
//Markup:
//<button class="wfm-fab info"><i class="mdi mdi-reply"></i></button>
//<md-tooltip>Back</md-tooltip>
//<button class="wfm-fab info mini"><i class="mdi mdi-reply"></i></button>
//<md-tooltip>Back</md-tooltip>
//
//Styleguide 1.6.5
//

.wfm-btn {
	border: none;
	padding: 10px;
	margin: 5px;
	cursor: pointer;
	border-radius: 3px;
	transition: all 0.2s ease-in-out;
	text-decoration:none!important;
	text-transform: uppercase;
}

.wfm-btn-invis-default {
	color: $gray100!important;
	background-color: transparent;
	
	&:hover{
		background-color: #ececec;
	}
}

.wfm-btn-invis-primary {
	color: $blue-500!important;
	background-color: transparent;
	
	&:hover{
		background-color: #ececec;
	}
}

.wfm-btn-invis-disabled {
	color: $gray026!important;
	background-color: transparent;
	
	&:hover{
		cursor: not-allowed;
	}
}

.wfm-btn-primary-disabled{
	color: $gray026!important;
	background-color: $gray012;
	
	&:hover{
		cursor: not-allowed;
	}
}

.wfm-btn-default {
	color: $gray087!important;
	background-color: $white;
	@extend .material-depth-1;
	
		&:hover{
		@extend .material-depth-2;
	}
}

.wfm-btn-primary {
	color: $white;
	background-color: $blue-500;
	@extend .material-depth-1;
	
		&:hover{
		@extend .material-depth-2;
	}
}

.wfm-fab {
	border: none;
	margin:$full-padding;
	cursor: pointer;
	padding:15px;
	line-height:16px!important;
	background-color:$pink-500;
	color:white;
	text-align:center;
	border-radius: 50%;
	transition: all 0.2s ease-in-out;
	text-decoration:none!important;
	
	&.mini{
		padding: 8px!important;
		/*max-height: 34px;*/
	}
	
	&:hover{
		@extend .material-depth-2;
	}
}

.wfm-fab.success{
	background-color: $green-100;
	color:$gray087;
}
.wfm-fab.info{
	background-color: $blue-500;
}

