// Buttons
//
// Avoid non specific actions as a label of an action.
// For example, "OK" and "GO" are not specific but "SAVE USER" and "GO ON DASHBOARD" are.
//
//Styleguide 1.6
//

// Default buttons
//
//Markup:
//<button class="btn btn-default">default</button> 
//
//Styleguide 1.6.1
//