//Buttons
//
//When using buttons try helping the user understand what the action will do and what object it will effect. This can be done using good terms and tooltips.
//For more details take a look at the <a href="http://www.google.com/design/spec/components/buttons.html#buttons-usage">material design buttons</a>
//
//Note: A primary button is UNIQUE on a page and is for the MAIN action on that page.
//
//Styleguide 1.9
//

// Flat buttons
//
//The flat buttons are 'printed' on the material and only show its area when hovered, it uses capital letters to differentiate it from a link.
//Use the flat buttons when there is a panel/area behind (around) the button.
//
//Markup:
//<button class="wfm-btn wfm-btn-invis-default">Default</button>
//<button class="wfm-btn wfm-btn-invis-primary">Primary</button>
//<button class="wfm-btn wfm-btn-invis-disabled">Disabled</button>
//
//Styleguide 1.9.1
//

// Raised buttons
//
//The raised buttons lives on a raised layer and its area is always visible. Use raised buttons when there is no panel/area behind (around) the button.
//
//Markup:
//<button class="wfm-btn wfm-btn-default">Default</button>
//<button class="wfm-btn wfm-btn-primary">Primary</button>
//<button class="wfm-btn wfm-btn-primary-disabled">Disabled</button>
//
//Styleguide 1.9.2
//

// Action buttons
//
//The floating action button functions similarly to the raised buttons except that they float above the entire layout (even though its located inside the view header). They are also similar in that they are unique in each view, indicating the primary positive action. More about when to use it can be found in the <a href="http://www.google.com/design/spec/components/buttons.html#buttons-floating-action-button">google material guidelines.</a>
//
//Markup:
//<button class="wfm-fab  material-depth-1"><i class="mdi mdi-account"></i>
//	<md-tooltip>My account</md-tooltip>
//</button>
//<button class="wfm-fab  material-depth-1 info"><i class="mdi mdi-arrow-right"></i>
//	<md-tooltip>Carry on</md-tooltip>
//</button>
//<button class="wfm-fab  material-depth-1 success"><i class="mdi mdi-plus"></i>
//	<md-tooltip>Add a thing</md-tooltip>
//</button>
//<button class="wfm-fab  material-depth-1 mini"><i class="mdi mdi-account"></i>
//	<md-tooltip>My account</md-tooltip>
//</button>
//<button class="wfm-fab  material-depth-1 mini info"><i class="mdi mdi-arrow-right"></i>
//	<md-tooltip>Carry on</md-tooltip>
//</button>
//<button class="wfm-fab  material-depth-1 mini success"><i class="mdi mdi-plus"></i>
//	<md-tooltip>Add a thing</md-tooltip>
//</button>
//
//Styleguide 1.9.3
//


//Removing action buttons
//
//The action button can not be disabled, rather it should simply not be displayed if unavailable.
//It is possible to trigger the animations using ng-click and/or ng-class.
//
//These animations should only be applied to action buttons.
//
//Markup:
//<button class="wfm-fab grow-out  material-depth-1"><i class="mdi mdi-plus" ></i>
//	<md-tooltip>I appear when needed</md-tooltip>
//</button>
//<button class="wfm-fab  material-depth-1" ng-class="{'shrink-in':animateIn === 'trigger1'}" ng-click="animateIn = 'trigger1'">
//<i class="mdi mdi-close"></i>
//	<md-tooltip>Click me and im gone</md-tooltip>
//</button>
//
//Styleguide 1.9.4
//



.wfm-btn {
	border: none;
	padding: 10px;
	margin: 5px;
	cursor: pointer;
	border-radius: 3px;
	transition: all 0.2s ease-in-out;
	text-decoration:none!important;
	text-transform: uppercase;
}

.wfm-btn-invis-default {
	color: $gray100!important;
	background-color: transparent;

	&:hover{
		background-color: #ececec;
	}
}

.wfm-btn-invis-primary {
	color: $blue-500!important;
	background-color: transparent;

	&:hover{
		background-color: #ececec;
	}
}

.wfm-btn-invis-disabled {
	color: $gray026!important;
	background-color: transparent;

	&:hover{
		cursor: not-allowed;
	}
}

.wfm-btn-primary-disabled{
	color: $gray026!important;
	background-color: $gray012;

	&:hover{
		cursor: not-allowed;
	}
}

.wfm-btn-default {
	color: $gray087!important;
	background-color: $white;
	@extend .material-depth-1;

		&:hover{
		@extend .material-depth-2;
	}
}

.wfm-btn-primary {
	color: $white;
	background-color: $blue-500;
	@extend .material-depth-1;

		&:hover{
		@extend .material-depth-2;
	}
}

.wfm-fab {
	border: none;
	margin:$full-padding;
	cursor: pointer;
	padding:15px;
	line-height:16px!important;
	background-color:$blue-500;
	color:white;
	text-align:center;
	border-radius: 50%;
	transition: all 0.2s ease-in-out;
	text-decoration:none!important;

	&.mini{
		padding: 8px!important;
		/*max-height: 34px;*/
	}

	&:hover{
		@extend .material-depth-2;
	}
}

.wfm-fab.success{
	background-color: $green-100;
	color:$gray087;
}
.wfm-fab.info{
	background-color: $purple-500;
	color:$white;
}

.grow-out {
    animation:grow 0.2s;
    animation-timing-function:ease-in-out;
    animation-play-state:running;
    -webkit-animation:grow 0.2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function:ease-in-out;
    -webkit-animation-play-state:running;
}

.shrink-in {
    animation:shrink 0.2s;
    animation-timing-function:ease-in-out;
    animation-play-state:running;
    -webkit-animation:shrink 0.2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function:ease-in-out;
    -webkit-animation-play-state:running;
}

@keyframes grow {
    from {
        transform: scale(0,0);
    }
    to {
        transform: scale(1,1);
    }
}

@keyframes shrink {
    from {
			  transform: scale(1,1);
    }
    to {
				transform: scale(0,0);
				display: none!important;
				visibility: hidden!important;
    }
}
