
//Cards
//
//Cards are used to show a large number of same size content.
//
//Markup:
//<div class="card-group">
//	<div class="wfm-card" tabindex="0"><h2>Title</h2></div>
//	<div class="wfm-card wfm-card-disabled" tabindex="0"><h2>Title</h2></div>
//	<div class="wfm-card" tabindex="0"><h2>Title</h2></div>
//	<div class="wfm-card" tabindex="0"><h2>Title</h2></div>
//	<div class="wfm-card" tabindex="0"><h2>Title</h2></div>
//	<div class="wfm-card" tabindex="0"><h2>Title</h2></div>
//	<div class="wfm-card" tabindex="0"><h2>Title</h2></div>
//</div>
//
//Styleguide 1.19
//
.card-group {
	display: inline-block;
	width: 100%;
	transition: 1s all ease-in-out;
}

 .wfm-card {
	 display: block;
	 width: auto;
	 background:$white;
	 float: left;
	 min-width: 11%;
	 min-height: 150px;
	 @extend .material-depth-1;
	 margin: 5px;
	 cursor:pointer;
	 padding: 10px;
	 transition:0.2s all ease-in-out;

	 &:hover,&:focus{
	 	box-shadow: 0 8px 17px 0 rgba(0,0,0,.2)!important;
	 }
 }

 .wfm-card-disabled {
	 background-color:$gray026;

	 &:hover{
	 	box-shadow: 0 8px 17px 0 rgba(0,0,0,.2)!important;
		cursor: not-allowed;
	 }
 }

 // Card List
 //
 //	The Teleopti Card List is used to show a list of expanding content. Each card can be clicked to expanded while the compact version shows information at a glance.
 //
 //It is encouraged to add as much relevant information as possible to the header of the card (while avoiding text wrapping). Any html elements provided within the &lt;card-header&gt; and/or &lt;card-body&gt; tags will be rendered accordingly.
 //
 //Styleguide 4.6
 //

// Single
//
// The single select card list only allows for one card open at any given time, this is useful when the content needs more focused attention.
//
//Markup:
//<wfm-card-list >
//	<wfm-card ng-repeat="item in items">
//		<card-header>
//			<span><i class="mdi" ng-class="item.title"></i></span>
//				Single card title
//			<span class="chevron"><i class="mdi mdi-chevron-right"></i></span>
//		</card-header>
//		<card-body class="panel">
// 			<div class="con-row demo-outline">
//    		<div class="con-flex">Content</div>
// 			</div>
//  		<div class="con-footer">
//	 			<button class="wfm-btn wfm-btn-invis-default">Advanced</button>
//    		<button class="wfm-btn wfm-btn-invis-primary">Options</button>
//  		</div>
//		</card-body>
//	</wfm-card>
//</wfm-card-list>
//
//Styleguide 4.6.1
//

// Multiple
//
// The multi select card list can have any number of cards open to allow for easy comparison of content.
//
//Markup:
//<wfm-card-list multi-select>
//	<wfm-card ng-repeat="item in items">
//		<card-header>
//			<span><i class="mdi" ng-class="item.title"></i></span>
//			Multi card title
//			<span class="chevron"><i class="mdi mdi-chevron-right"></i></span>
//		</card-header>
//		<card-body class="panel">
// 			<div class="con-row demo-outline">
//    		<div class="con-flex">Content</div>
// 			</div>
//  		<div class="con-footer">
//	 			<button class="wfm-btn wfm-btn-invis-default">Advanced</button>
//    		<button class="wfm-btn wfm-btn-invis-primary">Options</button>
//  		</div>
//		</card-body>
//	</wfm-card>
//</wfm-card-list>
//
//Styleguide 4.6.2
//


/*Overrides bootstrap*/
.wfm-card-list {
	width: 100%;
}

.wfm-card-title {
	cursor: pointer;
	min-height: 35px;
	line-height: 35px;
	padding: 0 $full-padding *3;

	.chevron{
		float: right;
	}
}

md-content {
	padding-bottom: $full-padding *2;
	background-color: transparent!important;
}

.wfm-card-unselected{
	width: 90%;
	margin: $full-padding *2 auto;
    transition: all .2s ease-out;
}

.wfm-card-unselected:hover{
	@extend .material-depth-2;
}

.wfm-card-selected {
	margin: 25px auto;
	width: 95%;
	transition-property: width, height;
	transition-duration: 0.2s;
	transition-timing-function: ease-out;

	.chevron{
		transition:all 0.2s ease-in-out;
		transform:rotate(90deg);
	}
}

wfm-card:first-child .wfm-card-selected {
	margin-top: $full-padding *2;
}

wfm-card:last-child .wfm-card-selected {
	margin-bottom: $full-padding *2;
}

.wfm-card-selected .wfm-card-title{
	background-color: $blue-100;
	transition: background-color 0.3s linear;
	transition: box-shadow 0.3s linear;
}

.wfm-card-content {
	background-color: $white;
}
