

//Card grid
//
// Cards are used to show a large number of similar content. Providing filters or ways to sort cards is appreciated.
// Card actions should be triggered on click of the whole card.
//
//Markup:
//<div class="wfm-grid">
// <div class="grid-card">
//	 <div class="list-content">
//		 <h2>Card header</h2>
//		 <span>Short card tag line</span>
//	 </div>
// </div>
// <div class="grid-card">
//	 <div class="list-content">
//		 <h2>Card header</h2>
//		 <span>Short card tag line</span>
//	 </div>
// </div>
// <div class="grid-card">
//	 <div class="list-content">
//		 <h2>Card header</h2>
//		 <span>Short card tag line</span>
//	 </div>
// </div>
//</div>
//
//Styleguide 1.18
//

//Mini card grid
//
//Smaller cards that provide more items on screen at once.
//
//Markup:
//<div class="wfm-grid">
// <div class="grid-card-mini">
//	 <div class="list-content">
//		 <h2>Card header</h2>
//		 <span>Short card tag line</span>
//	 </div>
// </div>
// <div class="grid-card-mini">
//	 <div class="list-content">
//		 <h2>Card header</h2>
//		 <span>Short card tag line</span>
//	 </div>
// </div>
// <div class="grid-card-mini">
//	 <div class="list-content">
//		 <h2>Card header</h2>
//		 <span>Short card tag line</span>
//	 </div>
// </div>
// <div class="grid-card-mini">
//	 <div class="list-content">
//		 <h2>Card header</h2>
//		 <span>Short card tag line</span>
//	 </div>
// </div>
// <div class="grid-card-mini">
//	 <div class="list-content">
//		 <h2>Card header</h2>
//		 <span>Short card tag line</span>
//	 </div>
// </div>
// <div class="grid-card-mini">
//	 <div class="list-content">
//		 <h2>Card header</h2>
//		 <span>Short card tag line</span>
//	 </div>
// </div>
//</div>
//
//Styleguide 1.18.1
//

.wfm-grid {
  display: flex;
  display: -ms-flexbox;
  flex-wrap: wrap;

  .grid-card-disabled{
    background: $gray012;
    pointer-events: none;
    cursor: not-allowed!important;
  }

  .grid-card, .grid-card-mini  {
    display: flex;
    display: -ms-flexbox;
    padding: $full-padding;
    width: 100%;
  }

  a:focus{
    outline: rgb(0, 153, 255) solid 1px!important;
  }

  @media all and (min-width: 768px) {
    .grid-card {
      width: 50%;
    }

    .grid-card-mini{
      width:25%;
    }
  }

  @media all and (min-width: 960px) {
    .grid-card {
      width: 33.33%;
    }

    .grid-card-mini{
      width:16.66%;
    }
  }

  .list-content {
    background-color: $white;
    display: flex;
    display: -ms-flexbox;
    flex-direction: column;
    padding:$full-padding;
    width: 100%;

    @extend .material-depth-1;
    @extend .raise;
  }

  .list-content span {
    flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    padding-bottom: $full-padding;
  }
}

.card-group {
  display: inline-block;
  width: 100%;
  transition: 1s all ease-in-out;
}

.wfm-card-title{
	outline: 0 solid transparent!important;
}

.wfm-card {
  display: block;
  width: auto;
  background:$white;
  float: left;
  min-width: 15rem;
  min-height: 150px;
  @extend .material-depth-1;
  margin: 5px;
  cursor:pointer;
  padding: 10px;
  transition:0.2s all ease-in-out;

  &:hover,&:focus{
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2)!important;
  }
}

.wfm-card-unselected{
  background: $white;
}

.wfm-card-disabled {
  background-color:$gray026;

  &:hover{
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2)!important;
    cursor: not-allowed;
  }
}

// Card List
//
//	The Teleopti Card List is used to show a list of expanding content. Each card can be clicked to expanded while the compact version shows information at a glance.
//
//It is encouraged to add as much relevant information as possible to the header of the card (while avoiding text wrapping). Any html elements provided within the &lt;card-header&gt; and/or &lt;card-body&gt; tags will be rendered accordingly.
//
//Styleguide 4.6
//

// Single
//
// The single select card list only allows for one card open at any given time, this is useful when the content needs more focused attention.
//
//Markup:
//	<wfm-card-list >
//		<wfm-card ng-repeat="item in items">
//			<card-header tabindex="-1">
//      <div tabindex="0">
//				<span><i class="mdi" ng-class="item.title"></i></span>
//					<b>Single card title</b>
//				<span class="chevron"><i class="mdi mdi-chevron-right"></i></span>
//      </div>
//			</card-header>
//			<card-body class="panel">
//	 			<div class="con-row demo-outline">
//	    		<div class="con-flex">Content</div>
//	 			</div>
//	  		<div class="con-footer">
//		 			<button class="wfm-btn wfm-btn-invis-default">Advanced</button>
//	    		<button class="wfm-btn wfm-btn-invis-primary">Options</button>
//	  		</div>
//			</card-body>
//		</wfm-card>
//	</wfm-card-list>
//
//Styleguide 4.6.1
//

// Multiple
//
// The multi select card list can have any number of cards open to allow for easy comparison of content.
//
//Markup:
//	<wfm-card-list multi-select>
//		<wfm-card ng-repeat="item in items">
//			<card-header tabindex="-1">
//      <div tabindex="0">
//				<span><i class="mdi" ng-class="item.title"></i></span>
//					<b>Multi card title</b>
//          <span class="chevron"><i class="mdi mdi-chevron-right"></i></span>
//      </div>
//			</card-header>
//			<card-body class="panel">
//	 			<div class="con-row demo-outline">
//	    		<div class="con-flex">Content
//          </div>
//	 			</div>
//	  		<div class="con-footer">
//		 			<button class="wfm-btn wfm-btn-invis-default">Advanced</button>
//	    		<button class="wfm-btn wfm-btn-invis-primary">Options</button>
//	  		</div>
//			</card-body>
//		</wfm-card>
//	</wfm-card-list>
//
//Styleguide 4.6.2
//

// Open multiple by default
//
// The multi select cards can be set to be open by default.
//
//Markup: cardlist_default.hbs
//
//
//Styleguide 4.6.3
//


/*Overrides bootstrap*/
.wfm-card-list {
  width: 100%;
}

.wfm-card-title {
  cursor: pointer;
  min-height: 35px;
  line-height: 35px;
  padding: 0 $full-padding *3;

  .chevron{
    float: right;
  }
}

md-content {
  padding-bottom: $full-padding *2;
  background-color: transparent!important;
}

.wfm-card-unselected{
  transition-property: box-shadow, background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  background: $white;
  color:$text-color-standard;
}

.wfm-card-unselected:hover{
  @extend .material-depth-2;
  background-color: $white!important;
}

.wfm-card-selected {
  transition-property: width, height;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;

  .chevron{
    transition:all 0.2s ease-in-out;
    transform:rotate(90deg);
  }
}

wfm-card:first-child .wfm-card-selected {
  margin-top: $full-padding *2;
}

wfm-card:last-child .wfm-card-selected {
  margin-bottom: $full-padding *2;
}

md-card{
  border-radius: 0;
}

.wfm-card-selected .wfm-card-title{
  background-color: $white;
  color: $text-color-standard;
  transition: background-color 0.3s linear;
  transition: box-shadow 0.3s linear;
}

.wfm-card-content {
  padding: 10px 16px;
  background-color: $white;
}
