
//Cards
//
//Cards can be used to display similar content in a grid.
//
//Markup:
//<div class="card-group">
//	<div class="wfm-card" tabindex="0">
//				Title
//		</div>
//	<div class="wfm-card wfm-card-disabled" tabindex="0">
//				Title
//		</div>
//	<div class="wfm-card" tabindex="0">
//			Title
//		</div>
//	</div>
//
//Styleguide 1.17
//
.card-group {
	display: inline-block;
	width: 100%;
	transition: 1s all ease-in-out;
}

 .wfm-card {
	 display: block;
	 width: auto;
	 background:$white;
	 float: left;
	 min-width: 10rem;
	 min-height: 150px;
	 @extend .material-depth-1;
	 margin: 5px;
	 cursor:pointer;
	 padding: 10px;
	 transition:0.2s all ease-in-out;

	 &:hover,&:focus{
	 	box-shadow: 0 8px 17px 0 rgba(0,0,0,.2)!important;
	 }
 }

 .wfm-card-disabled {
	 background-color:$gray026;

	 &:hover{
	 	box-shadow: 0 8px 17px 0 rgba(0,0,0,.2)!important;
		cursor: not-allowed;
	 }
 }

// Card List
//
//	The Teleopti Card List is based on the card list displayed in google inbox.  Each card can be clicked on within the list and will expand to show detail.</br>
//  Only one card can be opened at a time.The header and content of each card is completely customizable and any html elements provided within the &lt;card-header&gt; and  &lt;card-body&gt; tags will be rendered appropriately.
//
//Markup:
//<wfm-card-list multi-select>
//	<wfm-card ng-repeat="item in items">
//		<card-header>
//			<span><i class="mdi" ng-class="item.title"></i></span>
//			multi-select
//			<span class="chevron"><i class="mdi mdi-chevron-right"></i></span>
//		</card-header>
//		<card-body>
//			card body
//		</card-body>
//	</wfm-card>
//</wfm-card-list>
//<wfm-card-list >
//	<wfm-card ng-repeat="item in items">
//		<card-header>
//			<span><i class="mdi" ng-class="item.title"></i></span>
//			<span class="chevron"><i class="mdi mdi-chevron-right"></i></span>
//		</card-header>
//		<card-body>
//			card body
//		</card-body>
//	</wfm-card>
//</wfm-card-list>
//
//Styleguide 4.3
//


/*Overrides bootstrap*/
.wfm-card-list {
	width: 100%;
}

.wfm-card-title {
	cursor: pointer;
	min-height: 35px;
	line-height: 35px;
	padding: 0 $full-padding *3;
	background-color: $blue-100 ;

	.chevron{
		float: right;
	}
}

md-content {
	padding-bottom: $full-padding *2;
}

.wfm-card-unselected{
	width: 90%;
	margin: $full-padding *2 auto;
    transition: all .2s ease-out;
}

.wfm-card-unselected:hover{
	background-color: $blue-100;
	box-shadow: 0 8px 17px 0 rgba(0,0,0,.2);
}

.wfm-card-selected {
	margin: 25px auto;
	width: 95%;
	transition-property: width, height;
	transition-duration: 0.2s;
	transition-timing-function: ease-out;

	.chevron{
		transition:all 0.2s ease-in-out;
		transform:rotate(90deg);
	}
}

wfm-card:first-child .wfm-card-selected {
	margin-top: $full-padding *2;
}

wfm-card:last-child .wfm-card-selected {
	margin-bottom: $full-padding *2;
}

.wfm-card-selected .wfm-card-title{
	background-color: $blue-100;
	transition: background-color 0.3s linear;
	transition: box-shadow 0.3s linear;
}

.wfm-card-content {
	padding: $full-padding *2 16px;
	background-color: $white;
}
