
.wfm-grid {
  display: flex;
  display: -ms-flexbox;
  flex-wrap: wrap;

  .grid-card-disabled{
    background: $hover;
    pointer-events: none;
    cursor: not-allowed!important;
  }

  .grid-card, .grid-card-mini  {
    display: flex;
    display: -ms-flexbox;
    padding: $full-padding;
    width: 100%;
  }

  a:focus{
    outline: rgb(0, 153, 255) solid 1px!important;
  }

  @media all and (min-width: 768px) {
    .grid-card {
      width: 50%;
    }

    .grid-card-mini{
      width:25%;
    }
  }

  @media all and (min-width: 960px) {
    .grid-card {
      width: 33.33%;
    }

    .grid-card-mini{
      width:16.66%;
    }
  }

  .list-content {
    background-color: $white;
    display: flex;
    display: -ms-flexbox;
    flex-direction: column;
    padding:$full-padding;
    width: 100%;

    @extend .material-depth-1;
    @extend .raise;
  }

  .list-content span {
    flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    padding-bottom: $full-padding;
  }
}

.card-group {
  display: inline-block;
  width: 100%;
  transition: $transition-timing;
}

.wfm-card-title{
  outline: 0 solid transparent!important;
}

.wfm-card {
  display: block;
  width: auto;
  background:$white;
  float: left;
  min-width: 15rem;
  min-height: 150px;
  @extend .material-depth-1;
  margin: 5px;
  cursor:pointer;
  padding: 10px;
  transition: $transition-timing;

  &:hover,&:focus{
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2)!important;
  }
}

.wfm-card-unselected{
  background: $white;
}

.wfm-card-disabled {
  background-color:$hover;

  &:hover{
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2)!important;
    cursor: not-allowed;
  }
}

.card{
  background: $gray012;

  .card-footer{
    background: $white;
    display: flex;
    justify-content: space-between;
  }

  @media all and (max-width: 768px) {
    .card-footer-section{
      display: flex;
      justify-content: space-between;
    }
  }

}

// Card
//
// The card is a simpler version of the panel with more direct actions available in the footer.
// The card can have different colors by applying notice-info, notice-warning, notice-error and notice-success classes to the card element.
//
// Markup:
//<div class="card panel material-depth-1">
//    <div class="sub-header">
//      <h2>Card title</h2>
//    </div>
//  <div class="con-row">
//     <div class="con-flex">Content</div>
//  </div>
//  <div class="card-footer con-row">
//    <span class="con-flex card-footer-section">
//      <div tabindex=0 class="context-menu card-context">
//        <i class="mdi mdi-duck"></i>
//      </div>
//      <div tabindex=0 class="context-menu card-context">
//        <i class="mdi mdi-alert"></i>
//      </div>
//      <div tabindex=0 class="context-menu card-context">
//        <i class="mdi mdi-settings"></i>
//      </div>
//    </span>
//    <span class="con-flex line-right card-footer-section">
//      <button class="wfm-btn wfm-btn-invis-default">Default</button>
//      <button class="wfm-btn wfm-btn-invis-primary">Primary</button>
//    </span>
//  </div>
//</div>
// <h3>With color:
//<select ng-model="selectedClass">
//<option>notice-success</option>
//<option>notice-info</option>
//<option>notice-error</option>
//<option>notice-warning</option>
//</select>
//</h3>
//<div class="card panel material-depth-1" ng-class="selectedClass">
//    <div class="sub-header">
//      <h2>Colorful card title</h2>
//    </div>
//  <div class="con-row">
//     <div class="con-flex">Content</div>
//  </div>
//  <div class="card-footer con-row">
//    <span class="con-flex card-footer-section">
//      <div tabindex=0 class="context-menu card-context">
//        <i class="mdi mdi-duck"></i>
//      </div>
//      <div tabindex=0 class="context-menu card-context">
//        <i class="mdi mdi-alert"></i>
//      </div>
//      <div tabindex=0 class="context-menu card-context">
//        <i class="mdi mdi-settings"></i>
//      </div>
//    </span>
//    <span class="con-flex line-right card-footer-section">
//      <button class="wfm-btn wfm-btn-invis-default">Default</button>
//      <button class="wfm-btn wfm-btn-invis-primary">Primary</button>
//    </span>
//  </div>
//</div>
//
//
//Styleguide 4.13
//

// Card list
//
// The single select card list only allows for one card open at any given time, this is useful when the content needs more focused attention.
// It is encouraged to add as much relevant information as possible to the header of the card (while avoiding text wrapping). Any html elements provided within the &lt;card-header&gt; and/or &lt;card-body&gt; tags will be rendered accordingly.
//
//Markup:
//	<wfm-card-list >
//		<wfm-card ng-repeat="item in items">
//			<card-header tabindex="-1">
//      <div tabindex="0">
//				<span><i class="mdi" ng-class="item.title"></i></span>
//					<b>Single card title</b>
//				<span class="chevron"><i class="mdi mdi-chevron-right"></i></span>
//      </div>
//			</card-header>
//			<card-body class="panel">
//	 			<div class="con-row demo-outline">
//	    		<div class="con-flex">Content</div>
//	 			</div>
//	  		<div class="con-footer">
//		 			<button class="wfm-btn wfm-btn-invis-default">Advanced</button>
//	    		<button class="wfm-btn wfm-btn-invis-primary">Options</button>
//	  		</div>
//			</card-body>
//		</wfm-card>
//	</wfm-card-list>
//
//

// Card list (multiple)
//
// The multi select card list can have any number of cards open to allow for easy comparison of content.
//
//Markup:
//	<wfm-card-list multi-select>
//		<wfm-card ng-repeat="item in items">
//			<card-header tabindex="-1">
//      <div tabindex="0">
//				<span><i class="mdi" ng-class="item.title"></i></span>
//					<b>Multi card title</b>
//          <span class="chevron"><i class="mdi mdi-chevron-right"></i></span>
//      </div>
//			</card-header>
//			<card-body class="panel">
//	 			<div class="con-row demo-outline">
//	    		<div class="con-flex">Content
//          </div>
//	 			</div>
//	  		<div class="con-footer">
//		 			<button class="wfm-btn wfm-btn-invis-default">Advanced</button>
//	    		<button class="wfm-btn wfm-btn-invis-primary">Options</button>
//	  		</div>
//			</card-body>
//		</wfm-card>
//	</wfm-card-list>
//
//

// Card list (open by default)
//
// The multi select cards can be set to be open by default.
//
//Markup: cardlist_default.hbs
//
//
//


/*Overrides bootstrap*/
.wfm-card-list {
  width: 100%;
}

.wfm-card-title {
  cursor: pointer;
  min-height: 35px;
  line-height: 35px;
  padding: 0 $full-padding *3;

  .chevron{
    float: right;
  }
}

md-content {
  padding-bottom: $full-padding *2;
  background-color: transparent!important;
}

.wfm-card-unselected{
  transition-property: box-shadow, background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  background: $white;
  color:$text-color-standard;
}

.wfm-card-unselected:hover{
  @extend .material-depth-2;
  background-color: $white!important;
}

.wfm-card-selected {
  transition-property: width, height;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;

  .chevron{
    transition: $transition-timing;
    transform:rotate(90deg);
  }
}

wfm-card:first-child .wfm-card-selected {
  margin-top: $full-padding *2;
}

wfm-card:last-child .wfm-card-selected {
  margin-bottom: $full-padding *2;
}

md-card{
  border-radius: 0;
}

.wfm-card-selected .wfm-card-title{
  background-color: $white;
  color: $text-color-standard;
  transition: background-color 0.3s linear;
  transition: box-shadow 0.3s linear;
}

.wfm-card-content {
  padding: 10px 16px;
  background-color: $white;
}


// Card list (multiple open)
//
// The card list consists of expandable panels-like cards. The header part is used for displaying a title and other indicators. The content part could contains any type of html elements.
// By default, card list items support open multiple cards at the same time.
//<table class="wfm-table">
//<tr><th>Attribute Name</th><th>Usage</th><th>Required</th></tr>
//<tr><td>pre-open</td><td>Bind to a repeated card that should be open.</td><td>false</td></tr>
//<tr><td>open</td><td>can be set to 'single' to open one card at a time, closing previously open ones</td><td>false</td></tr>
//<tr><td>color</td><td>Bind a object that defines colors on all cards, can include linear gradient to indicate order or scale</td><td>false</td></tr>
//<tr><td>color-condition</td><td>Options for what color goes on what card</td><td>false</td></tr>
//</table>
//
//Markup:
//<card-panel-list>
//<card-panel ng-repeat="item in cardListItems" id="$index">
//    <card-panel-header>
//        <b>Single card title</b>
//    </card-panel-header>
//    <card-panel-content>
//      <div class="panel">
//	 			<div class="con-row demo-outline">
//	    		<div class="con-flex">Content</div>
//	 			</div>
//	  		<div class="con-footer">
//		 			<button class="wfm-btn wfm-btn-invis-default">Advanced</button>
//	    		<button class="wfm-btn wfm-btn-invis-primary">Options</button>
//	  		</div>
//			</div>
//   </card-panel-content>
//</card-panel>
//</card-panel-list>
//
//Styleguide 4.14
//

// Card list (pre-open)
//
// By using attribute 'pre-open', selected list items will pre-open on load.
//
//Markup:
//<card-panel-list>
//<card-panel ng-repeat="item in cardListItems" pre-open="item.Selected" id="$index">
//    <card-panel-header>
//        <b>Single card title</b>
//    </card-panel-header>
//    <card-panel-content>
//      <div class="panel">
//	 			<div class="con-row demo-outline">
//	    		<div class="con-flex">Content</div>
//	 			</div>
//	  		<div class="con-footer">
//		 			<button class="wfm-btn wfm-btn-invis-default">Advanced</button>
//	    		<button class="wfm-btn wfm-btn-invis-primary">Options</button>
//	  		</div>
//			</div>
//   </card-panel-content>
//</card-panel>
//</card-panel-list>
//
//Styleguide 4.15
//

// Card list (single open)
//
// By using attribute 'open="single"', the card list only allows one card to be open at a time.
//
//Markup:
//<card-panel-list>
//<card-panel ng-repeat="item in cardListItems" open="single" id="$index">
//    <card-panel-header>
//        <b>Single card title</b>
//    </card-panel-header>
//    <card-panel-content>
//      <div class="panel">
//	 			<div class="con-row demo-outline">
//	    		<div class="con-flex">Content</div>
//	 			</div>
//	  		<div class="con-footer">
//		 			<button class="wfm-btn wfm-btn-invis-default">Advanced</button>
//	    		<button class="wfm-btn wfm-btn-invis-primary">Options</button>
//	  		</div>
//			</div>
//   </card-panel-content>
//</card-panel>
//</card-panel-list>
//
//Styleguide 4.16
//

// Card list (simple color bar)
//
// By using attribute 'color', header part of card list items will contain a simple color bar on the left.
//
// <div class="jsprewrap">
//   <div class="ksscopy kss-style" ng-click="showJs['cardDemo1'] = !showJs['cardDemo1']">
//       <span ng-hide="showJs['cardDemo1']">Show</span>
//      <span ng-show="showJs['cardDemo1']">Hide</span>
//     JavaScript
//     <i class="mdi mdi-code-tags pull-right"></i>
//   </div>
//   <div class="animate-show" ng-show="showJs['cardDemo1']">
//     <code>
//       <pre class="prettyprint linenums lang-js">
//
//          $scope.simpleColor = {
//            render: 'class',
//            className: 'brown'
//           }
//
//          css code example:
//          .brown {
//             border-color: $brown-100;
//           }
//
//       </pre>
//     </code>
//   </div>
// </div>
//
//Markup:
//<card-panel-list>
//<card-panel ng-repeat="item in cardListItems" color="simpleColor" id="$index">
//    <card-panel-header>
//        <b>Single card title</b>
//    </card-panel-header>
//    <card-panel-content>
//      <div class="panel">
//	 			<div class="con-row demo-outline">
//	    		<div class="con-flex">Content</div>
//	 			</div>
//	  		<div class="con-footer">
//		 			<button class="wfm-btn wfm-btn-invis-default">Advanced</button>
//	    		<button class="wfm-btn wfm-btn-invis-primary">Options</button>
//	  		</div>
//			</div>
//   </card-panel-content>
//</card-panel>
//</card-panel-list>
//
//Styleguide 4.17
//

// Card list (special simple color bar)
//
// By using a combination of attributes 'color' and 'color-condition', header part of the card list items will contain simple color bars on the left by matching condition.
//
// <div class="jsprewrap">
//   <div class="ksscopy kss-style" ng-click="showJs['cardDemo2'] = !showJs['cardDemo2']">
//       <span ng-hide="showJs['cardDemo2']">Show</span>
//      <span ng-show="showJs['cardDemo2']">Hide</span>
//     JavaScript
//     <i class="mdi mdi-code-tags pull-right"></i>
//   </div>
//   <div class="animate-show" ng-show="showJs['cardDemo2']">
//     <code>
//       <pre class="prettyprint linenums lang-js">
//
//          $scope.simpleColor2 = {
//            render: 'condition',
//            condition: { 'color1': 'brown', 'color2': 'orange', 'color3': 'purple' }
//           }
//
//          css code example:
//          .brown {
//             border-color: $brown-100;
//           }
//
//          .purple {
//             border-color: $purple-300;
//           }
//
//          .orange {
//             border-color: $orange-400;
//           }
//
//       </pre>
//     </code>
//   </div>
// </div>
//
//Markup:
//<card-panel-list>
//<card-panel ng-repeat="item in cardListItems" color="simpleColor2" color-condition="item.Color" id="$index">
//    <card-panel-header>
//        <b>Single card title</b>
//    </card-panel-header>
//    <card-panel-content>
//      <div class="panel">
//	 			<div class="con-row demo-outline">
//	    		<div class="con-flex">Content</div>
//	 			</div>
//	  		<div class="con-footer">
//		 			<button class="wfm-btn wfm-btn-invis-default">Advanced</button>
//	    		<button class="wfm-btn wfm-btn-invis-primary">Options</button>
//	  		</div>
//			</div>
//   </card-panel-content>
//</card-panel>
//</card-panel-list>
//
//Styleguide 4.18
//

// Card list (linear color bar)
//
// By using attribute 'color', header part of card list items will contains simple color bar on the left by matching condition.
//
// <div class="jsprewrap">
//   <div class="ksscopy kss-style" ng-click="showJs['cardDemo3'] = !showJs['cardDemo3']">
//       <span ng-hide="showJs['cardDemo3']">Show</span>
//      <span ng-show="showJs['cardDemo3']">Hide</span>
//     JavaScript
//     <i class="mdi mdi-code-tags pull-right"></i>
//   </div>
//   <div class="animate-show" ng-show="showJs['cardDemo3']">
//     <code>
//       <pre class="prettyprint linenums lang-js">
//
//          $scope.simpleColor3 = {
//           render: 'linear',
//           rgba: 'rgba(156, 39, 176, 1)'
//           }
//
//       </pre>
//     </code>
//   </div>
// </div>
//
//Markup:
//<card-panel-list>
//<card-panel ng-repeat="item in cardListItems" color="simpleColor3" id="$index">
//    <card-panel-header>
//        <b>Single card title</b>
//    </card-panel-header>
//    <card-panel-content>
//      <div class="panel">
//	 			<div class="con-row demo-outline">
//	    		<div class="con-flex">Content</div>
//	 			</div>
//	  		<div class="con-footer">
//		 			<button class="wfm-btn wfm-btn-invis-default">Advanced</button>
//	    		<button class="wfm-btn wfm-btn-invis-primary">Options</button>
//	  		</div>
//			</div>
//   </card-panel-content>
//</card-panel>
//</card-panel-list>
//
//Styleguide 4.19
//


card-panel {
  display: block;
}

.card-panel-header-wrapper {
  min-height: 44px;
  line-height: 44px;
  padding: 0 15px 0 5px;
  border-left: 10px solid rgba(255, 255, 255, 0);
}

.card-panel-header-wrapper > card-panel-header {
  display: flex;
  margin: 0 10px;
}

card-panel-header .header-flex:nth-child(n) {
  flex: 1;
}

.card-panel-content-wrapper {
  border-top: 1px $gray012 solid;
}

.brown {
  border-color: $brown-100;
}

.purple {
  border-color: $purple-300;
}

.orange {
  border-color: $orange-400;
}

.datepicker-popup .wfm-popup-wrap{
 transition:none!important;
}
