// Card List
//
//	The Teleopti Card List is based on the card list displayed in google inbox.  Each card can be clicked on within the list and will expand to show detail.</br>
//  Only one card can be opened at a time.The header and content of each card is completely customizable and any html elements provided within the &lt;card-header&gt; and  &lt;card-body&gt; tags will be rendered appropriately.
//
//Markup:
//<wfm-card-list>
//	<wfm-card ng-repeat="item in items">
//		<card-header>
//			<span><i class="mdi" ng-class="item.title"></i></span>
//			<span class="chevron"><i class="mdi mdi-chevron-right"></i></span>
//		</card-header>
//		<card-body>
//			<button class="wfm-fab info material-depth-1"><i class="mdi mdi-duck"></i></button>
//		</card-body>
//	</wfm-card>
//</wfm-card-list>
//
//Styleguide 2.4
//


/*Overrides bootstrap*/
.wfm-card-list {
	width: 100%;
}

.wfm-card-list-container {
	max-height: 450px;
}

.wfm-card-unselected {
	margin-top: $full-padding *2;
	margin-bottom: $full-padding *2;
	cursor: pointer;
	width: 90%;
	margin-left: auto !important;
	margin-right: auto !important;
}

.wfm-card-selected {
	margin-top: 25px;
	margin-bottom: 25px;
	cursor: pointer;
	width: 95%;
	margin-left: auto !important;
	margin-right: auto !important;
	transition-property: width, height;
	transition-duration: 0.2s;
	transition-timing-function: ease-out;

	.chevron{
		transition:all 0.2s ease-in-out;
		transform:rotate(90deg);
	}
}

.wfm-card-title {
	min-height: 35px;
	line-height: 35px;
	padding: 0 $full-padding *3;
	background-color: $blue-100 ;

	.chevron{
		float: right;
	}
}

.wfm-card-content {
	padding: $full-padding *2 16px;
	background-color: $white;
}

wfm-card:first-child .wfm-card-selected {
	margin-top: $full-padding *2;
}

wfm-card:last-child .wfm-card-selected {
	margin-bottom: $full-padding *2;
}