
// Line chart
//
//A chart is a great way to present complex data. We use <a href="http://c3js.org/gettingstarted.html">C3 charts</a> to get nice features like legends, zoom and period selection. 
//<h5>Javascript example</h5>
//<code><pre>
//var chart = c3.generate({
//	bindto: '#myChart',
//	data: {
//		columns: [
//			['data1', 30, 200, 100, 400, 150, 250],
//			['data2', 20, 180, 240, 100, 190,0]
//		]
//	},
//	subchart: {
//		show: true
//	},
//	zoom: {
//		enabled: true
//	}
//});
//</pre></code>
//
//Markup:
//	<div id="myChart"></div>
//
//Styleguide 2.3
//

.c3-tooltip td,.c3-tooltip th{
  color:white;
  background-color: rgba(0,0,0,0.54)!important;
}

 .c3-tooltip td>span {
  margin-left: 10px;
  margin-top: 5px;
  border:1px solid white;
}

.c3-brush .extent {
	stroke: #0099FF!important;
	fill: #0099FF!important;
}

g.tick line{
	display:none;
}