
// Line chart
//
//A chart used to present complex data. We use <a href="http://c3js.org/gettingstarted.html">C3 charts</a> to get nice features like legends, zoom and period selection. 
//<h5>Javascript example</h5>
//<code><pre>
//var chart = c3.generate({
//    bindto: '#myChart',
//    data: {
//        columns: [
//			['data1', 30, 200, 100, 400, 150, 250],
//            ['data2', 20, 180, 240, 100, 190,0]
//        ],
//        selection: {
//    enabled: true
//  }
//    },
//    subchart: {
//        show: true
//    },
//	zoom: {
//        enabled: true
//    }
//});
//</pre></code>
//
//Markup:
//	<div class="wfm-chart" id="myChart"></div>
//
//Styleguide 2.3
//

.wfm-chart{
	background-color:$white;

	.c3-tooltip td>span {
	  margin-left: 10px;
	  margin-top: 5px;
	  border:1px solid white;
	}

	.c3-tooltip td,.c3-tooltip th{
		color:white;
		background-color: $gray054!important;
	}

	.c3-brush .extent {
		stroke: $blue-500!important;
		fill: $blue-500!important;
	}

	g.tick line{
		display:none;
	}
}
