
//Main colors
//
//  <div class="panel material-depth-1">
//     <div class="wfm-slide-tabs tabbed-panel">
//       <div class="head-actions panel-menu">
//         <div tabindex=0 class="context-menu card-context">
//         </div>
//       </div>
//       <md-content class="md-padding">
//         <md-tabs md-dynamic-height md-border-bottom >
//           <md-tab label="Classic Colors">
//             <md-content class="md-padding classictheme-background">
//               <div class="con-row">
//                 <div class="con-flex">
//                  <div class="con-fluid-row swatch-list">
//                    <div class="con-fluid-flex" style="border:none" ng-repeat="swatch in classicSwatches">
//                      <div class="card panel swatch">
//                        <div ng-class="swatch.Class">
//                          <div class="spacer"></div>
//                        </div>
//                        <div class="card-footer con-row">
//                          <div class="con-flex">
//                            <article>
//                              <b ng-bind="swatch.Variable"></b></br>
//                              Used for <span ng-bind="swatch.Use"></span></br>
//                              Code: <span ng-bind="swatch.Color"></span> </br>
//                              Text color: <span ng-bind="swatch.TextColor"></span>
//                            </article>
//                          </div>
//                        </div>
//                      </div>
//                    </div>
//                   </div>
//               </div>
//             </md-content>
//           </md-tab>
//           <md-tab label="Dark Theme Colors">
//             <md-content class="md-padding darktheme-background" >
//               <div class="con-row">
//                 <div class="con-flex">
//                  <div class="con-fluid-row swatch-list">
//                    <div class="con-fluid-flex" style="border:none" ng-repeat="swatch in classicSwatches">
//                      <div class="card panel swatch">
//                        <div ng-class="swatch.DarkClass">
//                          <div class="spacer"></div>
//                        </div>
//                        <div class="card-footer con-row" style="background:#424242">
//                          <div class="con-flex">
//                            <article>
//                              <b ng-bind="swatch.Variable"></b></br>
//                              Used for <span ng-bind="swatch.Use"></span></br>
//                              Code: <span ng-bind="swatch.DarkColor"></span> </br>
//                              Text color: <span ng-bind="swatch.DarkTextColor"></span>
//                            </article>
//                          </div>
//                        </div>
//                      </div>
//                    </div>
//                   </div>
//               </div>
//           </md-content>
//           </md-tab>
//         </md-tabs>
//      </md-content>
//   </div>
// </div>
//
//Styleguide 3.1
//

$full-padding: 5px; /*sets wfm-block*/
$half-padding: 3px;
$transition-timing: all 0.5s ease-in-out;
$standard-font-size:14px;
$sm-font-size:12px;
