$blue-500: #009688; /*Teal-500*/
$blue-300: #66c2ff; //#64b5f6;
$blue-100: #303030; //#BBDEFB;

$orange-400: #ffc285;
$orange-500: #FFA726;
$orange-600: #FB8C00;

$green-500: #8BC34A;
$green-300: #9CCC65;
$green-100: #c2e085;

$red-800: #D32F2F;
$red-700: #EF5350;
$red-600: #ee8f7d;

$purple-100:#E1BEE7;
$purple-300:#BA68C8;
$purple-500:#9C27B0;

$brown-100:#D7CCC8;
$brown-300:#A1887F;
$brown-500:#795548;

$pink-500: #E91E63;
$pink-300: #F06292;
$pink-100: #F8BBD0;

$teal-500: #009688;
$teal-300: #4DB6AC;
$teal-100: #B2DFDB;

$gray-500: #9E9E9E;
$gray-300: #E0E0E0;
$gray-100: #c2e085;
$gray012: #303030; //main Content
$gray026: rgba(0,0,0,0.26);
$gray054: rgba(0,0,0,0.54);
$gray087: #9E9E9E; //sidebar text
$gray100: rgba(0,0,0,1);
$white: #424242; //sidebar background


$full-padding: 5px; /*sets wfm-block*/
$half-padding: 3px;
$transition-timing: all 0.5s ease-in-out;
$standard-font-size:14px;
$sm-font-size:12px;
