// Datepicker
//
//The datepicker is based on bootstraps datepicker and all we do is wrap it and apply some special classes  to make it more compatible with material design.
//
//Markup:
//<div class="wfm-datepicker-wrap">
//	<div class="sub-header">
//		From/to: 
//	</div>
//	<datepicker show-weeks="true" ng-model="someDate" class="wfm-datepicker"></datepicker>
//</div >
//
//Styleguide 2.1
//


// Date range picker
//
//A directive for specifying a date-only period. It is composed from datepicker with added validation messages. In WFM, the error messages will be translated automatically.
//<table class="wfm-table">
//<tr><th>Attribute Name</th><th>Usage</th><th>Required</th></tr>  
//<tr><td>start-date</td><td>Bind to period start date</td><td>true</td></tr>
//<tr><td>end-date</td><td>Bind to period end date</td><td>true</td></tr>
//<tr><td>errors</td><td>Bind to errors. Its value will be set by the picker to an array of error-keys. The pre-defined error keys are 'order' and 'empty'</td><td>true</td></tr>
//<tr><td>hide-message</td><td>mute the error message</td><td>false</td></tr>
//</table>
//
//
//  
//Markup:
//<date-range-picker start-date="startDate" end-date="endDate" errors="errors"></date-range-picker>
//
//Styleguide 2.2
//


/*Overrides bootstrap*/
.wfm-datepicker-wrap {
	@extend .material-depth-1;
	margin: $full-padding;
	display:inline-block; 
	background-color:$white;
	min-height:290px;
}

.wfm-datepicker{
	table th {
		border-color: transparent;
	}

	.btn-default {
	  border-color: transparent!important;
	  background:$white;
	}

	.btn-info.active {
		background-color: $blue-100!important;
		color: $white;
	}

	tbody > tr > td.text-center.h6 {
		opacity: 0.4;
	}

	.btn {
		border-radius: 0;
		outline: none!important;
	}

	.btn.active, .btn:active {
	  background-image: none;
	   outline: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}

	.btn-info {
	  color: $gray100;
	  background-color: transparent;
	  border-color: transparent;
	}

	.text-info {
		color: inherit;
	}
	
	.range > button{
		background-color:$green-100;
    }
}

.wfm-date-range-picker-wrap {
  .wrong-sign {
    display: none; 
    color: #ee8f7d ;
  }
  .right-sign {
    display: none;
    color: #c2e085;
  }
  .error-msg-container {
    display: none;
    margin-top: 10px;
  }
  .ng-valid {		
    .right-sign {
      display: block; 
    }
  }
  .ng-invalid {
    &.ng-invalid-order ~ .error-msg-container.ng-invalid-order {
      display: block;
    }
    &.ng-invalid-empty ~ .error-msg-container.ng-invalid-empty {
      display: block;
    }
    .wrong-sign {
      display: block; 
    }		
  }	
  .wfm-datepicker-wrap td.in-date-range button {
    background-color: #c2e085;
  }
  .error-msg-container {
    display: none;
  }
  .wfm-date-picker-wrap {
    display: inline-block;
  }
  .datepickerfix{
    position:absolute;
    top:8px;
    right:10px;
    height:18px;
    width:18px;
  }
  .sub-header {
    position: relative;    
  }
}  
