// Date picker
//
//The datepicker is based on bootstraps datepicker and all we do is wrap it and apply some special classes  to make it more compatible with material design.
//
//Markup: <wfm-cultural-datepicker ng-model='dateForDatepicker'></wfm-cultural-datepicker>
//
//Styleguide 2.1
//

// Date range picker
//
//A directive for specifying a date-only period. It is composed from datepicker with added validation messages.
//<table class="wfm-table">
//<tr><th>Attribute Name</th><th>Usage</th><th>Required</th></tr>
//<tr><td>ng-model</td><td>Bind to a js-object representing the date range. The object is composed by <code>startDate</code> and <code>endDate</code> key-value pairs</td><td>true</td></tr>
//<tr><td>template-type</td><td>Declares whether to use <b>inline</b> or <b>popup</b> mode</td><td>false</td></tr>
//<tr><td>invalid-order-message</td><td>Message shown if dates are in wrong order. Standard use is 'StartDateMustBeEqualToOrEarlierThanEndDate'</td><td>false</td></tr>
//<tr><td>invalid-empty-message</td><td>Message shown if no dates are entered. Standard use is 'StartDateAndEndDateMustBeSet'</td><td>false</td></tr>
//<tr><td>custom-validators</td><td>Define additional validations. The value should be an array of validator-definition objects, which should have <code>key</code>, <code>message</code>, and <code>validate</code> properties defined. The <code>validate</code> attribute must be a function that accepts <code>startDate</code> and <code>endDate</code> as input and returns a boolean to indicate validation result.</td><td>false</td></tr>
//</table>
//
// <div class="jsprewrap">
//   <div class="ksscopy kss-style" ng-click="showJs['datepicker1'] = !showJs['datepicker1']">
//       <span ng-hide="showJs['datepicker1']">Show</span>
//      <span ng-show="showJs['datepicker1']">Hide</span>
//     JavaScript
//     <i class="mdi mdi-code-tags pull-right"></i>
//   </div>
//   <div class="animate-show" ng-show="showJs['datepicker1']">
//     <code>
//       <pre class="prettyprint linenums lang-js">
//
// $scope.dateRange = {
//	 startDate: new Date(),
//	 endDate: new Date()
// };
// $scope.dateRangeTemplateType = 'inline';
// $scope.dateRangeTemplateTypes = ['popup', 'inline'];
// $scope.dateRangeCustomValidators = [{
// 	key: 'lessThan7Days',
// 	message: 'DateRangeMustBeLessThanSevenDays',
// 	validate: function(start, end) {
// 		return moment(end).diff(moment(start), 'days') <= 7;
// 	}
// }];
//       </pre>
//     </code>
//   </div>
// </div>
//
//
//Markup: dateRangePicker.hbs
//
//Styleguide 2.2
//


/*Overrides bootstrap*/
.wfm-datepicker-controllers-container
{
	display: flex;
	display: -ms-flexbox;
	justify-content: flex-start;
	align-items: center;
}

.wfm-datepicker-container {
	position: relative;
}

.wfm-datepicker-popup-row {
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 40;
}

.wfm-date-range-picker .modal-box .modalbg{
	background: transparent;
}

.modal-box .wfm-datepicker-popup-row{
	z-index: 50;
}

.start-date-indicator {
	margin-right: 20px;
}

.wfm-datepicker-wrap {
	@extend .material-depth-1;
	margin: $full-padding;
	display:inline-block;
	background-color:$white;
	min-height:270px;
}

.wfm-cultural-datepicker-container {
	display:inline-block;
	min-height:290px;
}

.glyphicon{
	display: inline-block;
	font: normal normal normal 24px/1 MaterialDesignIcons;
	font-size: 16px;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
}

.glyphicon:hover:before{
	box-shadow: 0px 0px 0px 5px $hover;
	background:$hover;
	border-radius: 1px;
}

.glyphicon-chevron-left:before {
	content: "«"!important;
}
.glyphicon-chevron-right:before {
	content: "»"!important;
}

.wfm-datepicker{
	padding:5px;

	table th {
		border-color: transparent;
	}

	.btn-default {
		border-color: transparent!important;
		color:$text-color-standard;
		background:$white;
	}

	.btn-info.active {
		background-color: $secondary!important;
		color: $white;
	}

	tbody > tr > td.text-center.h6 {
		opacity: 0.4;
	}

	.btn {
		border-radius: 0;
		outline: none!important;
	}

	.btn.active, .btn:active {
		background-image: none;
		outline: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}

	.btn-info {
		color: $gray100;
		background-color: transparent;
		border-color: transparent;
	}

	.text-info {
		color: inherit;
	}

	.range > button{
		background-color:$highlight;
	}
}

.wfm-date-range-picker-wrap {

	.pin-down {
		background-color: $hover;
		@extend .material-depth-1;
	}

	.popup-control{
		height: 18px;
		width: 18px;
	}

	.popup-control:hover{
		background-color: $hover;
	}

	&.ng-invalid .popup-control .mdi-calendar{
		color: $red-800;
	}

	input.ng-invalid {
		border-bottom: 2px solid $red-600;
	}
	.in-date-range button {
		background-color: $highlight;
	}
}

.dropdown-menu{
	text-align: center;
	background-color: $white;
}

.popup-control{
	box-sizing: initial;
}

.error-msg-container {
	z-index: 30;
	margin-top: 5px;
	@extend .material-depth-2;
	background: $red-600;
}

.error-msg-container.error-msg-popup-container {
	position: absolute;
	width: 490px;
}

.error-msg-popup {
	margin-left: 10px;
	top: 290px;
	left: 0px;
}
