// Datepicker
//
//The datepicker is based on bootstraps datepicker and all we do is wrap it and apply some special classes  to make it more compatible with material design.
//
//Markup:
//	<div class="wfm-datepicker-wrap">
//		<div class="sub-header">
//			From/to:
//		</div>
//		<uib-datepicker show-weeks="true" ng-model="someDate" class="wfm-datepicker"></datepicker>
//	</div >
//
//Styleguide 2.1
//


// Date range picker
//
//A directive for specifying a date-only period. It is composed from datepicker with added validation messages. In WFM, the error messages will be translated automatically.
//<table class="wfm-table">
//<tr><th>Attribute Name</th><th>Usage</th><th>Required</th></tr>
//<tr><td>start-date</td><td>Bind to period start date</td><td>true</td></tr>
//<tr><td>end-date</td><td>Bind to period end date</td><td>true</td></tr>
//<tr><td>errors</td><td>Bind to errors. Its value will be set by the picker to an array of error-keys. The pre-defined error keys are 'order' and 'empty'</td><td>false</td></tr>
//<tr><td>hide-message</td><td>mute the error message</td><td>false</td></tr>
//</table>
//
//
//
//Markup:
//<select ng-model="dateRangeTemplateType"
//        ng-options="option for option in dateRangeTemplateTypes"></select>
//<date-range-picker ng-model="dateRange" template-type="dateRangeTemplateType"></date-range-picker>
//  
//Styleguide 2.2
//


/*Overrides bootstrap*/
.wfm-datepicker-wrap {
	@extend .material-depth-1;
	margin: $full-padding;
	display:inline-block;
	background-color:$white;
	min-height:290px;
}

.glyphicon{
	display: inline-block;
	font: normal normal normal 24px/1 MaterialDesignIcons;
	font-size: 16px;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
}

.glyphicon:hover:before{
	box-shadow: 0px 0px 0px 5px $gray012;
	background:$gray012;
	border-radius: 1px;
}

.glyphicon-chevron-right:before {
    content: "\f1e5"!important;
}

.glyphicon-chevron-left:before {
    content: "\f1e4"!important;
}

.wfm-datepicker{
	table th {
		border-color: transparent;
	}

	.btn-default {
	  border-color: transparent!important;
	  background:$white;
	}

	.btn-info.active {
		background-color: $blue-100!important;
		color: $white;
	}

	tbody > tr > td.text-center.h6 {
		opacity: 0.4;
	}

	.btn {
		border-radius: 0;
		outline: none!important;
	}

	.btn.active, .btn:active {
	  background-image: none;
	   outline: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}

	.btn-info {
	  color: $gray100;
	  background-color: transparent;
	  border-color: transparent;
	}

	.text-info {
		color: inherit;
	}

	.range > button{
		background-color:$green-100;
    }
}

.wfm-date-range-picker-wrap {
  .inline-datepicker-wrap {
    display: inline-block;
    position: relative;
    .dropdown-menu {
      position:absolute;
      box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
      background-color: $gray-100;
      z-index:100;
      margin-top: 0px;
    }
    .start-date-input + .dropdown-menu {
      margin-left:-60px;
    }
    .end-date-input + .dropdown-menu {
      margin-right: -60px;      
    }             
  }
    
  .pin-down {
    box-shadow: inset 0 2px 5px 0 rgba(0,0,0,.26);
    background-color: $gray-300;
  }  

  .popup-control {
    height:22px;
    width:22px;
    display:inline-block;
    text-align:center;
    padding-top:1px;
    cursor:pointer;
  }

  &.ng-invalid .popup-control .mdi-calendar{
    color: $red-800;
  }    
  
  input {
    text-align:center;
    width:200px;
  }
  input.ng-invalid {
    border-bottom: 2px solid $red-800;     
  }    
  .in-date-range button {
    background-color: $green-100;
  }
  .hor-m-5{
    margin-left:5px;
    margin-right:5px;
  }  
}

.error-msg-container {
  display: none;
  margin-top: 5px;
}

.error-msg-container.error-msg-popup-container {
  position: absolute;
  width: 490px;
}


.ng-invalid.ng-invalid-empty .error-msg-container.ng-invalid-empty {
  display: block !important;
}  

.ng-invalid.ng-invalid-order .error-msg-container.ng-invalid-order {
  display: block !important;
}
