// Datepicker
//
//The datepicker is based on bootstraps datepicker and all we do is wrap it and apply some special classes  to make it more compatible with material design.
//
//Markup:
//	<div class="wfm-datepicker-wrap">
//		<div class="sub-header">
//			From/to:
//		</div>
//		<uib-datepicker show-weeks="true" ng-model="someDate" class="wfm-datepicker"></datepicker>
//	</div >
//
//Styleguide 2.1
//


// Date range picker
//
//A directive for specifying a date-only period. It is composed from datepicker with added validation messages. In WFM, the error messages will be translated automatically.
//<table class="wfm-table">
//<tr><th>Attribute Name</th><th>Usage</th><th>Required</th></tr>
//<tr><td>ng-model</td><td>Bind to a js-object representing the date range. The object is composed by <code>startDate</code> and <code>endDate</code> key-value pairs</td><td>true</td></tr>
//<tr><td>template-type</td><td>Declares whether to use <b>inline</b> or <b>popup</b> mode</td><td>false</td></tr>
//</table>
//</br>
//
//Markup:
//<label>Template type:</label> <select ng-model="dateRangeTemplateType"
//        ng-options="option for option in dateRangeTemplateTypes"></select>
//<date-range-picker ng-model="dateRange" template-type="dateRangeTemplateType"></date-range-picker>
//
//Styleguide 2.2
//


/*Overrides bootstrap*/
.wfm-datepicker-wrap {
	@extend .material-depth-1;
	margin: $full-padding;
	display:inline-block;
	background-color:$white;
	min-height:270px;
}

.glyphicon{
	display: inline-block;
	font: normal normal normal 24px/1 MaterialDesignIcons;
	font-size: 16px;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	transform: translate(0, 0);
}

.glyphicon:hover:before{
	box-shadow: 0px 0px 0px 5px $gray012;
	background:$gray012;
	border-radius: 1px;
}

.glyphicon-chevron-right:before {
	content: "\f1e5"!important;
}

.glyphicon-chevron-left:before {
	content: "\f1e4"!important;
}

.wfm-datepicker{
	padding:5px;

	table th {
		border-color: transparent;
	}

	.btn-default {
		border-color: transparent!important;
		color:$text-color-standard;
		background:$white;
	}

	.btn-info.active {
		background-color: $blue-100!important;
		color: $white;
	}

	tbody > tr > td.text-center.h6 {
		opacity: 0.4;
	}

	.btn {
		border-radius: 0;
		outline: none!important;
	}

	.btn.active, .btn:active {
		background-image: none;
		outline: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}

	.btn-info {
		color: $gray100;
		background-color: transparent;
		border-color: transparent;
	}

	.text-info {
		color: inherit;
	}

	.range > button{
		background-color:$green-100;
	}
}

.wfm-date-range-picker-wrap {

	.pin-down {
		background-color: $gray012;
		@extend .material-depth-1;
	}

	.popup-control{
		height: 20px;
		width: 20px;
	}

	.popup-control:hover{
		background-color: $gray012;
	}

	&.ng-invalid .popup-control .mdi-calendar{
		color: $red-800;
	}

	input.ng-invalid {
		border-bottom: 2px solid $red-600;
	}
	.in-date-range button {
		background-color: $green-100;
	}
}

.dropdown-menu{
	text-align: center;
}

.error-msg-container {
	display: none;
	margin-top: 5px;
	@extend .material-depth-2;
	background: $red-600;
}

.error-msg-container.error-msg-popup-container {
	position: absolute;
	width: 490px;
}

.wfm-date-range-picker-wrap.ng-invalid.ng-invalid-empty .error-msg-container.ng-invalid-empty,
.wfm-date-range-picker-wrap.ng-invalid.ng-invalid-order .error-msg-container.ng-invalid-order {
	display: block !important;
}
