
//Forms
//
// Forms are more understandable with icons. Add one for every input if possible.
//
//Styleguide 1.4
//

// Standard input
//
//Markup:
//	<input type="text" placeholder="Name..."  />
//
//Styleguide 1.4.1
//

// Search input
//
//
//Markup:
//	<form class="filter-form">
//		<svg style="width: 18px; height: 18px;" viewBox="0 0 24 24">
//			<path fill="#000000" d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z" />
//		</svg>
//		<input type="text" placeholder="Search ..." />
//	</form>
//
//Styleguide 1.4.2
//

input[type='text']{
	width: 100%;
	margin: 5px 0;
	padding: 5px 0 2px;
	border: none;
  color: $gray087;
	border-bottom: 1px solid $gray-300;
  &:focus {
    border-bottom: 2px solid $blue-300;
  }
}

input[type='radio']{
	margin: 5px 0;
}

input[type='checkbox']{
	margin: 5px 0;
}

::-webkit-input-placeholder { /* WebKit browsers */
  color: $gray026;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: $gray026;
  opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: $gray026;
  opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color: $gray026;
}

// Select
//
// TODO
//
//Markup:
//	<select><option>1</option></select>
//
//Styleguide 1.4.3
//

// Radio buttons
//
// TODO
//
//Markup:
//	<input type="radio" name"radioName" value="option A" />option A
//  <input type="radio" name"radioName" value="option B" />option B
//
//Styleguide 1.4.4
//

