//Helper classes
//
//Styleguide 8
//
//

// Position
//
//Markup:
//<div class="pull-right">.pull-right</div>
//<div class="pull-left">.pull-left</div>
//<div class="line-right">.line-right</div>
//<div class="line-center">.line-center</div>
//<div class="line-flex">.line-flex</div>
//No style
//
//Styleguide 8.1
//

.line-flex{
	display: inline-flex;
}

.line-right{
	text-align:right;
}

.line-center{
  text-align: center;
}

// Cursor types
//
//Markup:
//<div class="cursor-pointer">hover me</div>
//
//Styleguide 8.2
//

.cursor-pointer,.pointer{
  cursor: pointer;
}


// Showing and hiding content
//
//Markup:
//<div class="show">displayed</div>
//<div class="hidden">hidden</div>
//<div class="invisible">invisible</div>
//
//Styleguide 8.3
//
.show {
  display: block !important;
}
.hidden {
  display: none !important;
}
.invisible {
  visibility: hidden;
}
