//Icons 
//
//We only use <a href="http://materialdesignicons.com/">Material icons</a>. 
//To use an icon, use the i-tag and apply the classes "mdi" and "mdi-icon-name" (replacing icon-name with the name form the icon index).
//
//In the cases where icons appear in the defined markup throughout this styleguide, they might have special style rules applied to them so be sure that the functionality is intact if you decide to remove them.  
//
//Styleguide 5
// 
//

// Quick symbol library
//
// Here you can find the icons we currently use and their name:
// *	<i class="mdi mdi-menu"></i> "mdi-menu" - Trigger a contextual menu
// *	<i class="mdi mdi-menu-down"></i> "mdi-menu-down" - Indicate sorting in tables
// *	<i class="mdi mdi-chevron-left"></i> "mdi-chevron-left" - Indicate expandable row
// *	<i class="mdi mdi-alert"></i> "mdi-alert" - Used for notices
// *	<i class='mdi mdi-thumb-up'></i> "mdi-thumb-up"- Positive feedback
// * 	<i class="mdi mdi-alert-circle"></i> "mdi-alert-circle" - Used for general notifications
// *	<i class="mdi mdi-alert-octagon"></i> "mdi-alert-octagon" - Used for errors
// * 	<i class="mdi mdi-plus"></i> "mdi-plus" - Add new item
// *	<i class="mdi mdi-content-copy"></i> "mdi-content-copy" - Duplicate the item
// * 	<i class="mdi mdi-pencil"></i> "mdi-pencil" - Edit the item
// * 	<i class="mdi mdi-delete"></i> "mdi-delete" - Remove the item
// * 	<i class="mdi mdi-fast-forward"></i> "mdi-fast-forward" - Sidenav toggle right
// * 	<i class="mdi mdi-rewind"></i> "mdi-rewind" - Sidenav toggle left
// * 	<i class="mdi mdi-magnify"></i> "mdi-magnify" - Indicate a search
// * 	<i class="mdi mdi-filter-outline"></i> "mdi-filter-outline" - Indicate a filter
// * 	<i class="mdi mdi-account"></i> "mdi-account" - User and account related actions
// * 	<i class="mdi mdi-arrow-right"></i> "mdi-arrow-right" - go, run, proceed 
//
//Styleguide 5.1
//

.mdi:before {
font-size: 18px!important;
}

.mdi-icon {
display: inline-block;
  font: normal normal normal 24px/1 MaterialDesignIcons;
  font-size: inherit;
  text-rendering: auto; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0); 
}

[class^="ui-grid-icon"]:before, [class*=" ui-grid-icon"]:before{
	@extend .mdi-icon; 
}

.ui-grid-icon-angle-down:before {	content: "\f35d";}
.ui-grid-icon-down-dir:before {	content:"\f35e";}
.ui-grid-icon-up-dir:before {	content:"\f361";}
.ui-grid-icon-sort-alt-up:before{	content:"\f447";}
.ui-grid-icon-sort-alt-down:before{	content:"\f448"}
.ui-grid-icon-cancel:before{content:"\f1f4"}
.ui-grid-icon-menu::before {content: "\f253";}
.ui-grid-icon-ok::before{content: "\f1d1";
}