//Lists
//
// A list can have several options attached to it in a so called 'leave-behind' (http://goo.gl/DMxAHS), however, options can only effect the list item they are a part of. Individual options can have a tooltip and an icon and they are displayed only if the item is hovered or clicked.
// If the list is long enough to extend outside of the main workarea it should be scrollable to avoid making the main view scroll.  
//
// If there are actions that affect the whole list (such as create new or delete all) they should be placed above or below the list.
//
//Markup:
//<ul class="wfm-list">
//	<li>
//		List Item 1
//		<div class="wfm-leave-behind">
//		<span>
//			<p>
//				Options
//			</p>
//		</span>
//		</div>
//	</li>
//	<li class="active">
//		List Item 2
//		<div class="wfm-leave-behind">
//			<span>
//				<i class="mdi mdi-content-copy"></i>
//				<i class="mdi mdi-pencil"></i>
//				<i class="mdi mdi-delete"></i>
//			</span>	
//		</div>
//	</li>
//	<li>
//		List Item 3
//		<div class="wfm-leave-behind">
//			<span>
//				<p>
//					Right behind
//				</p>
//			</span>
//		</div>
//	</li>
//</ul>
//
//Styleguide 1.2 
//

.wfm-list {
	padding-left: 0px;
	list-style: none;
	
	.active{
		border-left: 3px solid $pink-500;
		background-color: $white;
	}
}

.wfm-list li {
	@extend .wfm-block;
	cursor: pointer;
	overflow: hidden;
	background-color:$gray-100;
	border-left: 3px solid transparent;
	border-top:1px solid $gray012;

	/*
	&:active, &:focus, &:active:hover, &:focus:hover {
		background-color: $blue-500 !important;
	}
	*/

	&:hover{
		border-left: 3px solid $gray-300;
	}
}

.wfm-list-item-selected{
	border-left: 3px solid $pink-500!important;
	background-color: $white !important;
}

.wfm-leave-behind {
	@extend .material-trench-1;
	width: 0;
	float: right;
	overflow: hidden;
	margin-top: -12px;
	margin-bottom: -12px;
	margin-right: -5px;
	background-color: $gray012;
	transition: $transition-timing;
	padding-top: 12px;
	padding-bottom:5px;
	
	span{
		white-space:nowrap;
	}
	
	i{	
		position: justify;
		padding-left: 5px;
		padding-top: 2px;
		font-size: 18px;
		margin: 0 5px;
	}
	
	p{
		padding-left:5px;
		margin:0 5px;
	}
	
	&:before{
		color: $blue-100;
		content:"<";
		width: 5px;
		height: 10px;
		margin-left: -22px;
		position: absolute;
		padding: 0 5px;
	}
}

.wfm-list li:hover > .wfm-leave-behind {
	width: 110px;
}