//Lists
//
// A list can have several options attached to it in a so called  <a href="http://goo.gl/DMxAHS">leave-behind</a>, however, options can only effect the list item they are a part of. Individual options can have a tooltip and an icon and they are displayed only if the item is hovered or clicked.
//
// If the list is long enough to extend outside of the main workarea it should be scrollable to avoid making the main view scroll.  
//
// If there are actions that affect the whole list (such as create new or delete all) they should be placed above or below the list.
//
//Markup:
//<ul class="wfm-list">
//	<li>
//		List Item 1
//		<div class="wfm-leave-behind">
//				<span>Options</span>
//		</div>
//	</li>
//	<li class="active">
//		List Item 2
//		<div class="wfm-leave-behind">
//			<span>
//				<i class="mdi mdi-content-copy"></i>
//				<i class="mdi mdi-pencil"></i>
//				<i class="mdi mdi-delete"></i>
//			</span>	
//		</div>
//	</li>
//	<li>
//		List Item 3
//		<div class="wfm-leave-behind">
//			<span>
//				<i class="mdi mdi-delete"></i>
//			</span>
//		</div>
//	</li>
//	<li>
//		List Item 4 without actions
//	</li>
//	<li>
//		<i class="mdi mdi-alert"></i> List Item 5 with icon
//	</li>
//</ul>
//
//Styleguide 1.2 
//

.wfm-list {
	padding-left: 0px;
	list-style: none;
	max-height: 800px;
	overflow-y: auto;
	margin: 0;
}

.wfm-list li {
	padding: $full-padding;
	cursor: pointer;
	overflow: hidden;
	background-color:$gray-100;
	border-left: 3px solid transparent;
	border-top:1px solid $gray012;

	&:hover{
		border-left: 3px solid $gray-500;
		background-color:$gray-300;
	}

	&.active{
		border-left: 3px solid $pink-500;
		background-color: $white;
	}
	&.active:hover{
		border-left: 3px solid $pink-500;
		background-color: $white;
	}

	i{
		vertical-align: text-bottom;
		margin-right: $full-padding;
	}
}

.wfm-leave-behind {
	@extend .material-trench-1;
	width: 0;
	float: right;
	overflow: hidden;
	margin-top: -12px;
	margin-bottom: -12px;
	margin-right: -5px;
	background-color: $gray012;
	transition: $transition-timing;
	padding-top: 12px;
	padding-bottom:$full-padding;
	
	span{
		padding-left: $full-padding;
		white-space:nowrap;
	}
	
	i{	
		position: justify;
		padding-top: 2px;
		font-size: 18px;
		margin: 0 5px;
	}
	
	p{
		padding-left:$full-padding;
		margin:0 5px;
	}
}

.wfm-list li:hover > .wfm-leave-behind {
	width: 110px;
}
