//Lists
//
//The lists is used to display long collections of similar information. Keep in mind that a long list could push other things out of view.
//
//Styleguide 1.13.0

//Simple list
//
//For when you just want to display some data in a simple list without any actions.
//
//If you need actions (click or select), go to "Actions list".
//
//Optionally a list item can have a small, one sentence description attached to it. If more information is needed about the items consider using a modal or table.
//
//Markup:
//	<ul class="wfm-simple-list">
//		<li>
//			Tea
//			<div class="subtext">Its hot</div>
//		</li>
//		<li>
//			Beer
//			<div class="subtext">Tasty but expensive</div>
//		</li>
//		<li>
//			Coffe
//		</li>
//		<li class="active">
//			Juice
//		</li>
//	</ul>
//
//Styleguide 1.13.1
//

.wfm-simple-list {
	padding-left: 0px;
	list-style: none;
	max-height: 800px;
	overflow-y: auto;
	margin: 0;

	.subtext{
		color:$gray054;
	}
}

.wfm-simple-list li {
	padding: $full-padding;
	margin-bottom:5px;
	overflow: hidden;
}

/*.wfm-simple-list li:nth-child(even) {
background-color: $gray012;
}*/


//Action list
//
// Action lists are used for list where the user can perform actions. These can have several options attached to them in a so called  <a href="http://goo.gl/DMxAHS">leave-behind</a>, however, these options may only effect the list item they are a part of. Individual options can have a tooltip and an icon and they are displayed only if the item is hovered or clicked.
//
// Broad actions on the list (such as creating a new item or removing all) should be placed in the panel actions (see <a href="section-4.html">containers</a>, chapter).
//
//Markup:
//	<ul class="wfm-list">
//		<li ng-click="listSelected1 = !listSelected1">
//			<span class="list-item-container">
//				List item with one action in leave-behind
//			</span>
//			<span ng-cloak ng-show="listSelected1" class="list-dot grow-out"><b class="mdi mdi-check list-mark"></b></span>
//			<div class="wfm-leave-behind wfm-leave-behind-1">
//				<span>
//					<i class="mdi mdi-delete"></i>
//				</span>
//			</div>
//		</li>
//		<li ng-click="listSelected2 = !listSelected2">
//			<span class="list-item-container">
//				List item with two actions in leave-behind
//			</span>
//			<span ng-cloak ng-show="listSelected2" class="list-dot grow-out"><b class="mdi mdi-check list-mark"></b></span>
//			<div class="wfm-leave-behind wfm-leave-behind-2">
//				<span>
//					<i class="mdi mdi-pencil"></i>
//					<i class="mdi mdi-delete"></i>
//				</span>
//			</div>
//		</li>
//		<li ng-click="listSelected3 = !listSelected3">
//			<span class="list-item-container">
//				List item with three actions in leave-behind
//			</span>
//			<span ng-cloak ng-show="listSelected3" class="list-dot grow-out"><b class="mdi mdi-check list-mark"></b></span>
//			<div class="wfm-leave-behind">
//				<span>
//					<i class="mdi mdi-content-copy"></i>
//					<i class="mdi mdi-pencil"></i>
//					<i class="mdi mdi-delete"></i>
//				</span>
//			</div>
//		</li>
//		<li ng-click="listSelected4 = !listSelected4" class="disabled">
//			<span class="list-item-container">
//				Disabled list items without leave-behind
//			</span>
//			<span ng-cloak ng-show="listSelected4" class="list-dot grow-out"><b class="mdi mdi-check list-mark"></b></span>
//			<div class="wfm-leave-behind">
//				<span>
//					<i class="mdi mdi-content-copy"></i>
//					<i class="mdi mdi-pencil"></i>
//					<i class="mdi mdi-delete"></i>
//				</span>
//			</div>
//		</li>
//	</ul>
//
//Styleguide 1.13.2
//

.list-dot{
	display: inline-block;
	width: 25px;
	height: 25px;
	background-color: $green-100;
	border-radius: 50%;
	text-align: center;
	line-height: 25px;
	position: absolute;
	top: 0.2em;
	left: $half-padding;
}

ul {
	margin-bottom:0!important;
	list-style: none;
	padding-left: 0;
}

.list-item-container{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	display:inline-block;
	margin-left: 30px;
}


@media(min-width:600px){
	.list-item-container{
		max-width: 100%;
	}
}

@media(max-width:599px){
	.list-item-container{
		max-width: 12em;
	}
}

@media(max-width:450px){
	.list-item-container{
		max-width: 5em;
	}
}

.wfm-list {
	padding-left: 0px;
	list-style: none;
	max-height: 800px;
	overflow-y: auto;
	margin: 0;
	background: $white;
}

.wfm-list li {
	padding: $full-padding;
	cursor: pointer;
	overflow: hidden;
	border-left: 3px solid transparent;
	border-top:1px solid $gray012;
	position:relative;
	overflow-x:hidden;

	&:hover{
		border-left: 3px solid $gray-500;
		background-color:$gray-300;
	}

	&.active{
		border-left: 3px solid $pink-500;
		background-color: $green-100;
	}

	&.active:hover{
		border-left: 3px solid $pink-500;
		background-color: $green-100;
	}

	i{
		vertical-align: baseline;
		margin-right: $full-padding;
		color: #555555;
		padding-bottom: 5px;
	}

	&.disabled{
		background: $gray012!important;
		cursor: not-allowed;
		pointer-events: none;
	}
}

.wfm-leave-behind {
	height: 40px;
	width: 0;
	display: inline!important;
	position: absolute!important;
	right: 0;
	overflow: hidden;
	margin-top: -8px;
	transition: all .5s ease-in-out;
	padding-top: 8px;
	background-color: #cacaca;
	z-index: 30;
	border-bottom: 8px solid transparent;

	span{
		padding-left: $full-padding;
		white-space:nowrap;
	}

	i{
		position: justify;
		padding-top: 2px;
		font-size: 18px;
		margin: 0 5px;
	}

	p{
		padding-left:$full-padding;
		margin:0 5px;
	}
}
.wfm-list li:hover > .wfm-leave-behind {
	width: 110px;
}
.wfm-list li:hover > {
	.wfm-leave-behind.wfm-leave-behind-1 {
		width: 40px;
	}
	.wfm-leave-behind.wfm-leave-behind-2 {
		width: 75px;
	}
	.wfm-leave-behind.wfm-leave-behind-3 {
		width: 110px;
	}
	.wfm-leave-behind.wfm-leave-behind-4 {
		width: 145px;
	}
}
