//Lists
//
//The lists is used to display long colections of similar information.
//A long list should be contained so that it doesnt overflow the main view.
//
//Styleguide 1.2.0

//Simple list
//
//For when you just want to display some data in a simple list without any actions.
//
//If you need actions (click or select), go to "Actions list".
//
//Optionally a list item can have a small, one sentence description attached to it. If more information is needed about the items conceder using a modal or table.
//
//Markup:
//<ul class="wfm-simple-list">
//	<li>
//		Tea
//		<div class="subtext">Its hot</div>
//	</li>
//	<li>
//		Beer
//		<div class="subtext">Tasty but expensive</div>
//	</li>
//	<li>
//		Coffe
//	</li>
//	<li class="active">
//		Juice
//	</li>
//</ul>
//
//Styleguide 1.2.1
//

.wfm-simple-list {
	padding-left: 0px;
	list-style: none;
	max-height: 800px;
	overflow-y: auto;
	margin: 0;

	.subtext{
		color:$gray054;
	}
}

.wfm-simple-list li {
	padding: $full-padding;
	margin-bottom:5px;
	overflow: hidden;
}

/*.wfm-simple-list li:nth-child(even) {
   background-color: $gray012;
}*/


//Action list
//
// Action lists are used for list where the user can perform actions. These can have several options attached to them in a so called  <a href="http://goo.gl/DMxAHS">leave-behind</a>, however, these options may only effect the list item they are a part of. Individual options can have a tooltip and an icon and they are displayed only if the item is hovered or clicked.
//
// Global actions on the list (such as create new or delete all) should be placed above the list.
//
//Markup:
//<ul class="wfm-list">
//	<li>
//		<span class="list-item-container">
//			List item with one action in leave-behind
//		</span>
//		<div class="wfm-leave-behind wfm-leave-behind-1">
//			<span>
//				<i class="mdi mdi-delete"></i>
//			</span>
//		</div>
//	</li>
//	<li>
//		<span class="list-item-container">
//			List item with two actions in leave-behind
//		</span>
//		<div class="wfm-leave-behind wfm-leave-behind-2">
//			<span>
//				<i class="mdi mdi-pencil"></i>
//				<i class="mdi mdi-delete"></i>
//			</span>
//		</div>
//	</li>
//	<li class="active">
//		<span class="list-item-container">
//			Active list item with three actions in leave-behind
//		</span>
//		<div class="wfm-leave-behind">
//			<span>
//				<i class="mdi mdi-content-copy"></i>
//				<i class="mdi mdi-pencil"></i>
//				<i class="mdi mdi-delete"></i>
//			</span>
//		</div>
//	</li>
//	<li>
//		<i class="mdi mdi-alert"></i> List item with icon and no leave-behind
//	</li>
//</ul>
//
//Styleguide 1.2.2
//

ul {
	margin-bottom:0!important;
	list-style: none;
	padding-left: 0;
}

.list-item-container{
text-overflow: ellipsis;
white-space: nowrap;
overflow: hidden;
display:inline-block;
}


@media(min-width:600px){
	.list-item-container{
		max-width: 20em;
	}
}

@media(max-width:599px){
	.list-item-container{
		max-width: 12em;
	}
}

@media(max-width:450px){
	.list-item-container{
		max-width: 5em;
	}
}

.wfm-list {
	padding-left: 0px;
	list-style: none;
	max-height: 800px;
	overflow-y: auto;
	margin: 0;
}

.wfm-list li {
	padding: $full-padding;
	cursor: pointer;
	overflow: hidden;
	border-left: 3px solid transparent;
	border-top:1px solid $gray012;
	position:relative;
	overflow-x:hidden;

	&:hover{
		border-left: 3px solid $gray-500;
		background-color:$gray-300;
	}

	&.active{
		border-left: 3px solid $pink-500;
		background-color: $green-100;
	}
	&.active:hover{
		border-left: 3px solid $pink-500;
		background-color: $green-100;
	}

	i{
		vertical-align: baseline;
		margin-right: $full-padding;
		color: #555555;
		padding-bottom: 5px;
	}
}

.wfm-leave-behind {
  height: 37px;
  width: 0;
  display: inline!important;
  position: absolute!important;
  right: 0;
  overflow: hidden;
  margin-top: -8px;
  transition: all .5s ease-in-out;
  padding-top: 8px;
  background-color: #cacaca;
  z-index: 999;
  border-bottom: 8px solid transparent;

	span{
		padding-left: $full-padding;
		white-space:nowrap;
	}

	i{
		position: justify;
		padding-top: 2px;
		font-size: 18px;
		margin: 0 5px;
	}

	p{
		padding-left:$full-padding;
		margin:0 5px;
	}
}
.wfm-list li:hover > .wfm-leave-behind {
	width: 110px;
}
.wfm-list li:hover > {
	.wfm-leave-behind.wfm-leave-behind-1 {
		width: 40px;
	}
	.wfm-leave-behind.wfm-leave-behind-2 {
		width: 75px;
	}
	.wfm-leave-behind.wfm-leave-behind-3 {
		width: 110px;
	}
	.wfm-leave-behind.wfm-leave-behind-4 {
		width: 145px;
	}
}
