//Progress bar
//
//The loading bar is displayed at the top of the ui-view. If the process can be estimated or calculated we show the linear bar. Otherwise we use an indeterminite bar.
//
//Markup:
//<md-progress-linear md-mode="buffer" value="45" md-buffer-value="45"></md-progress-linear>
//<div class="wfm-block material-depth-1"> 45%</div>
//</br>
//<md-progress-linear md-mode="indeterminate"></md-progress-linear>
//<div class="wfm-block material-depth-1"> Loading...</div>
//
//Styleguide 1.28
//

md-progress-linear .md-bar {
	background-color:$highlight!important;
}

md-progress-linear[md-mode=buffer] .md-dashed:before {
  animation:none;
  -webkit-animation:none;
}

md-progress-linear .md-container,
md-progress-linear[md-mode=buffer]{
	background-color: $hover;
}

//Spinner
//
//The spinner is used to indicate automatic loading in big elements such as tables, lists and views.
//
//Markup:
//<md-progress-circular md-mode="indeterminate"></md-progress-circular>
//
//Styleguide 1.29
//

md-progress-circular path{
	stroke: $highlight;
}
//
// md-progress-circular .md-inner .md-left .md-half-circle {
//   border-left-color: $pink-500;
//   border-top-color: $pink-500;
// }
//
// md-progress-circular.md-default-theme .md-inner .md-left .md-half-circle,
// md-progress-circular.md-default-theme .md-inner .md-right .md-half-circle,
// md-progress-circular .md-inner .md-gap {
//   border-top-color: $pink-500;
//   border-bottom-color: $pink-500;
// }
//
// md-progress-circular .md-inner .md-right .md-half-circle {
//   border-right-color: $pink-500;
//   border-top-color: $pink-500;
// }

//.mini-spinner {
//	    transform: scale(0.2)!important;
//}
