//Loading
//
// When operations take time we display a loading bar or loader to indicate to the user that we are still running.
//
//Styleguide 1.17
//

//Progress bar
//
//The loading bar is displayed at the top of the ui-view. If the process can be estimated or calculated we show the linear bar. Otherwise we use an indeterminite bar.
//
//Markup:
//<md-progress-linear md-mode="buffer" value="45" md-buffer-value="45"></md-progress-linear>
//<div class="wfm-block material-depth-1"> 45%</div>
//</br>
//<md-progress-linear md-mode="indeterminate"></md-progress-linear>
//<div class="wfm-block material-depth-1"> Loading...</div>
//
//Styleguide 1.17.1
//

md-progress-linear .md-bar {
	background-color:$pink-500!important;
}

md-progress-linear[md-mode=buffer] .md-dashed:before {
  background-color: rgb(197,202,233);
  animation:none;
  -webkit-animation:none;
}

//Spinner
//
//The spinner is used to indicate automatic loading in big elements such as tables, lists and views. While it is visible it should be centeted within its container.
//The mini spinner can be shown along side any element or in a header to indicate loading.
//
//Markup:
//<md-progress-circular md-mode="indeterminate"></md-progress-circular>
//<md-progress-circular class="mini-spinner" md-mode="indeterminate"></md-progress-circular>
//
//Styleguide 1.17.2
//

md-progress-circular .md-inner .md-left .md-half-circle {
  border-left-color: $pink-500;
}

md-progress-circular.md-default-theme .md-inner .md-left .md-half-circle,
md-progress-circular.md-default-theme .md-inner .md-right .md-half-circle,
md-progress-circular .md-inner .md-gap {
  border-top-color: $pink-500;
}

md-progress-circular .md-inner .md-right .md-half-circle {
  border-right-color: $pink-500;
}

.mini-spinner {
	    transform: scale(0.2)!important;
}
