*:focus {
outline: -webkit-focus-ring-color auto 0;
}

body{
	background-color: $gray100;
	font-size:15px;
	overflow-x: hidden;
	font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif!important; 
	
	a:focus, a:hover{
		text-decoration:none;
	}
}

.styleguide-break{
	background-color:$orange-400;
	color:$gray087;
	padding:$full-padding;
	
	span:before{
		content:"This element does not exist in material design. ";
	}
}

.material-depth-1 {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.material-depth-2 {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}

.material-trench-1{
	-webkit-box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.16);
	-moz-box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.16);
	box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.16);
}

.material-header {
    background-color: $blue-500;
    position: absolute;
    min-height: 130px;
    width: 100%;
    top: 0;
    z-index: -1;
}

.wfm-block {
	padding:$full-padding;
	width:100%;
} 

.material-block-content {
    padding: $full-padding;
    vertical-align: middle;
}

.material-title {
    color: rgba(0,0,0,0.54);
}

.layout-container {
  width:100%;
  height:100%;
  display: -webkit-flex;
  display: flex; 
  -webkit-flex-direction: row;
  flex-direction: row;
}

.layout-container .content {
	@extend .material-depth-1;
	-webkit-flex: auto;
	flex: auto;
	padding: 10px;
	flex-basis: 70%;
	margin: 10px;
	background-color: $white;
}

.wfm-progress-bar {
    background: $blue-100;
    height: 5px;
    width: 0;
	margin:0;
    max-width: 100%;
	border-radius:0!important;
}
