*:focus {
outline: -webkit-focus-ring-color auto 0;
}

body{
	background-color: $gray012;
	font-size:14px;
	overflow-x: hidden;
	font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif!important;

	a:focus, a:hover{
		text-decoration:none;
		outline: none!important;
		outline: 0px auto -webkit-focus-ring-color!important;
		outline-offset: 0px;
	}
}

button, input, select{	font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif!important;
}

dd {
	margin-left: 40px!important;
}

.material-depth-1 {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.material-depth-2 {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
}

.material-trench-1{
	-webkit-box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	-moz-box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.material-header {
    background-color: $blue-500;
    position: absolute;
    min-height: 130px;
    width: 100%;
    top: 0;
    z-index: -1;
}

.wfm-block {
	padding:$full-padding;
	width:100%;
}

.material-block-content {
    padding: $full-padding;
    vertical-align: middle;
}

.material-title {
    color: rgba(0,0,0,0.54);
}

.layout-container {
  width:100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.layout-container .content {
	@extend .material-depth-1;
	-webkit-flex: auto;
	flex: auto;
	padding: 10px;
	flex-basis: 70%;
	margin: 62px 10px 0px 10px;
	background-color: $white;
}

.animate-show {
  opacity: 1;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
}

.animate-show.ng-hide {
  line-height: 0;
  opacity: 0;
}
