
.material-depth-1 {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
}

.material-depth-2 {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.19);
}

.material-header {
    background-color: $blue-500;
    position: absolute;
    min-height: 130px;
    width: 100%;
    top: 0;
    z-index: -1;
}

.material-block {
    height: 100%;
    min-height: 400px;
    background-color: white;
    border-radius: 2px;
}

.material-block-header {
    min-height: 60px;
    border-bottom: 1px solid $gray-300;
    padding: $full-padding;
}

.material-block-content {
    padding: $full-padding;
    vertical-align: middle;
}

.material-title {
    color: rgba(0,0,0,0.54);
}

.navbar {
    background-color: $blue-500;
    border :none;

	a{
		color: white !important;
	}
}

.success {
    color: green;
}
.fail {
    color: red;
}


.filter-form svg {
	margin-top: 8px;
	right: 4%;
	position: absolute;
}

.selected {
	background-color: $blue-500;
	color: white;
	padding: 0 $half-padding;
	transition: $trasnition-timing;
}

.wfm-toggle-group {
	list-style: none;
	margin: 0;
	padding: 0;
	li {
		display: inline-block;
		width: 48%;
		text-align: center;
	
		label {
			width: 100%;
			padding: 12px;
			margin-top:-1px;
			text-transform: uppercase;
			cursor:pointer;
			font-weight: 500;
			color: $gray054;
		}
		label.active {
			border-top: 3px solid $orange-400;
			font-weight: 700;
		}
	}
}

.row > .container{
	padding-bottom: 9px;
	border-bottom: 1px solid #ddd;
}


.notice {
	padding-left:5px;
	padding-top:12px;
	padding-bottom:12px;
} 

.warning{
	color:#111111;
	background-color:#FB8C00;
}

.error{
	color:#111111;
	background-color:#ff9934;
}

// Loading bar
//
// TODO
//
//Markup:
//	
//
//Styleguide 1.9
//

// Errors
//
// There are several different error markers:
// The warning one should be used to alert the user that something have to be done before they can continue.
//
//Markup: <div class="notice warning">Hey, have a look over here!</div>
//	
//
//Styleguide 1.10
//

// Tooltips
//
// TODO
//
//Markup:
//	
//
//Styleguide 1.11
//

// Context menus
//
// Context menus must be used carefully : they should be minimalistic (5 actions maximum) maybe with icons (?)
//
//Markup:
//	
//
//Styleguide 1.13
//