// Context menus
//
//Context menus are used where more actions are needed. To keep them manageable, limit the number of actions displayed within to a maximum of 5.
//
//Markup:
//<button class="context-menu wfm-btn wfm-btn-default">
//	Place me on the right
//	<span class="context-menu-left">
//		<ul class="wfm-list">
//			<li><i class="mdi mdi-account"></i>Sign out</li>
//			<li><i class="mdi mdi-plus"></i>Add a new agent</li>
//			<li><i class="mdi mdi-alert"></i>Drop agents table</li>
//		</ul>
//	</span>
//</button>
//<button class="context-menu wfm-btn wfm-btn-default">
//	place me in the middle
//	<span class="context-menu-bottom">
//		<ul class="wfm-list">
//			<li><i class="mdi mdi-account"></i>Sign out</li>
//			<li><i class="mdi mdi-plus"></i>Add a new agent</li>
//			<li><i class="mdi mdi-alert"></i>Drop agents table</li>
//		</ul>
//	</span>
//</button>
//<button class="context-menu wfm-btn wfm-btn-default">
//	Place me on the left
//	<span class="context-menu-right">
//		<ul class="wfm-list">
//			<li><i class="mdi mdi-account"></i>Sign out</li>
//			<li><i class="mdi mdi-plus"></i>Add a new agent</li>
//			<li><i class="mdi mdi-alert"></i>Drop agents table</li>
//		</ul>
//	</span>
//</button>
//
//Styleguide 1.14
//

.context-menu {
    position: relative;
    cursor:pointer;

    [class*="context-menu-"] {
        transition: $transition-timing;
        @extend .material-depth-2;
        position: absolute;
        opacity: 0;
        visibility: hidden;
        min-width: 200px;
    }

    &:focus {
        [class*="context-menu-"] {
            visibility: visible;
            opacity: 1;
            z-index: 10;
        }
    }

	ul{
		color:$gray087;
		text-align:left!important;
	}

    .context-menu-right {
        top: 100%;
        left: 100%;
        margin: -40px 0 0 $full-padding*2;
		    text-transform: lowercase;

        &:before {
            right: 100%;
            margin-top: $full-padding*2;
        }
    }

    .context-menu-bottom {
        top: 100%;
        left: 50%;
        margin: $full-padding*2 0 0 -100px;
		text-transform: lowercase;

        &:before {
            bottom: 100%; left: 50%;
            margin-left: -$full-padding*2;
        }
    }

    .context-menu-left {
        top: 100%;
        right: 100%;
        margin: -40px $full-padding*2 0 0;
		text-transform: lowercase;

        &:before {
            left: 100%;
            margin-top: $full-padding*2;
        }
    }
}
