// Modals
//
// A modal is launched above the main view and stays there until the user has taken action. Since this is such a obnoxious element it should only be used when you absolutely want the user to focus on a single task.
//
//Markup:
//	<div ng-cloak class="modal-box">
//		<button ng-click="modalLaunch1 = !modalLaunch1" class="wfm-btn wfm-btn-default">Open modal</button>
//		<div ng-cloak ng-show="modalLaunch1">
//			<div class="modalbg">
//				<div class="dialog">
//					<div class="modal-header">
//						Modal title
//					</div>
//					<div class="modal-inner-content">
//						<div class="wfm-block">Ladies and gentlemen, allow me to introduce myself, I am the amazing modal window body!</div>
//					</div>
//					<div class="modal-footer">
//						<aside>
//							<a ng-click="modalLaunch1 = !modalLaunch1" class="wfm-btn wfm-btn-invis-primary">dismiss</a>
//							<a class="wfm-btn wfm-btn-invis-primary">agree</a>
//						</aside>
//					</div>
//				</div>
//			</div>
//		</div>
//	</div>
//
//Styleguide 1.12
//

//Tabbed modal
//
//<div class="styleguide-break"><i class="mdi mdi-alert"></i><span>Use with care, creates complexity. </span></div>
//When needing to display more information than the normal modal allows or present a string of actions to the user a tabbed modal can be used. 
//
//Markup:
//<div ng-cloak class="modal-box">
//	<button ng-click="modalLaunch2 = !modalLaunch2" class="wfm-btn wfm-btn-default">Open tab modal</button>
//	<div ng-cloak ng-show="modalLaunch2">
//		<div class="modalbg">
//			<div class="dialog">
//					<div class="wfm-slide-tabs">
//						<md-content style="padding:0!important;">
//							<md-tabs md-dynamic-height md-border-bottom>
//								<md-tab label="first tab">
//									<md-content class="md-padding">
//										<h4 class="md-display-2">Tab One</h4>
//										<p>Click a tab to watch me go!</p>
//									</md-content>
//								</md-tab>
//								<md-tab label="second tab">
//									<md-content class="md-padding">
//										<h4 class="md-display-2">Tab Two</h4>
//										<p>wheeeee</p>
//									</md-content>
//								</md-tab>
//								<md-tab label="third tab">
//									<md-content class="md-padding">
//										<h4 class="md-display-2">Tab Three</h4>
//										<p>Slow down!</p>
//									</md-content>
//								</md-tab>
//								<md-tab label="fourth tab">
//									<md-content class="md-padding">
//										<h4 class="md-display-2">Tab Four</h4>
//										<p>Now listen here you little whippersnapper. </p>
//									</md-content>
//								</md-tab>
//							</md-tabs>
//						</md-content>
//					</div>
//				<div class="modal-footer">
//					<aside>
//						<a ng-click="modalLaunch2 = !modalLaunch2" class="wfm-btn wfm-btn-invis-primary">dismiss</a>
//						<a class="wfm-btn wfm-btn-invis-primary">agree</a>
//					</aside>
//				</div>
//			</div>
//		</div>
//	</div>
//</div>
//
//Styleguide 1.12.1
//

.modal-box {
	.modalbg {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 99998;
		background: $gray026;
	}
	
	.modalbg .dialog {
		width: 60%;
		z-index: 99999;
		position: relative;
		top: -20px;
		margin: 10% auto;
		background: $white;	
	}

	@media only screen and (max-width:1200px){
	.modalbg .dialog {
	  width:90%;
	 }
	}
	
	.modal-header{
		padding: $full-padding;
		background-color: $blue-500;
		color: $white;
	}
	
	.modal-inner-content{
		background-color: $white;
		color: $gray087;
		max-height: 70vh;
		overflow-y: auto;
	}
	
	.modal-footer{
		padding: $full-padding * 2 $full-padding;
		border-top: 1px solid $gray012;
		color: $gray087;
	}
	
	aside{
		text-align:right;
	}
}