
.modal-box {
	.modalbg {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 50;
		background: $gray026;
	}

	.dialog, .dialog-mini {
		width: 60%;
		z-index: 50;
		position: relative;
		top: -20px;
		margin: 10% auto;
		background: $white;
	}

	.dialog-mini {
		width: 25%;
	}

	.tabbed-panel > md-content{
		padding: 0;
	}

	/*Dialog*/
	@media only screen and (max-width:769px){
		.dialog {
			left:5px!important;
			width:90%;
			right:1%;
		}
	}

	/*Mini dialog*/
	@media only screen and (max-width:1200px){
		.dialog-mini {
			width:90%!important;
		}
	}


	.modal-title{
		padding-left:10px!important;
		text-align: left;
	}

	.modal-inner-content{
		background-color: $white;
		color: $text-color-standard;
		max-height: 70vh;
		padding:10px;
		overflow-y: auto;
		text-align: left;
	}

	.modal-actions{
		color: $text-color-standard;
	}

	aside{
		text-align:right;
	}
}

//Modal
//
// A modal is launched above the main view and stays there until the user has taken action. It can be quickly dismissed by clicking outside it or on the close icon (this should be treated as a cancel).
//
// Note: In all modals and panels the footer links should be buttons, not  &lt;a/&gt; tags.
//
// <div class="jsprewrap">
//   <div class="ksscopy kss-style" ng-click="showJs['modal1'] = !showJs['modal1']">
//       <span ng-hide="showJs['modal1']">Show</span>
//      <span ng-show="showJs['modal1']">Hide</span>
//     JavaScript
//     <i class="mdi mdi-code-tags pull-right"></i>
//   </div>
//   <div class="animate-show" ng-show="showJs['modal1']">
//     <code>
//       <pre class="prettyprint linenums lang-js">
//
// $scope.modalShown = false;
// $scope.toggleModal = function() {
// 	$scope.modalShown = !$scope.modalShown;
// };
//       </pre>
//     </code>
//   </div>
// </div>
//
//Markup:
//	<button ng-click='toggleModal()' class="wfm-btn wfm-btn-default">Open modal</button>
//	<modal-dialog show='modalShown' ng-cloak>
//		<h1 class="modal-title">Modal title</h1>
//		<div class="modal-inner-content">
//			Ladies and gentlemen, allow me to introduce myself, I am the amazing modal window body!
//		</div>
//		<div class="modal-actions">
//			<aside>
//				<button class="wfm-btn wfm-btn-invis-primary">Apply</button>
//			</aside>
//		</div>
//	</modal-dialog>
//
//Styleguide 1.23
//

//Modal (mini)
//
// The mini modal is used for confirmation. As opposed to the regular modal it cant be dissmissed without taking an action.
//
// Note: In all modals and panels the footer links should be buttons, not  &lt;a/&gt; tags.
//
//Note: Recomended translated text { {'AreYouSureYouWantToDelete' | translate} }
//
//Markup:
//	<button ng-click='confirmModal1=true' class="wfm-btn wfm-btn-default">Do something dangerous</button>
//	<div ng-cloak class="modal-box">
//		<div ng-cloak ng-show="confirmModal1">
//			<div class="modalbg">
//				<div class="dialog-mini material-depth-1">
//					<div class="modal-inner-content">
//						<h3>Affected item(s)</h3>
//						Are you sure you want to delete?
//					</div>
//					<div class="modal-actions">
//						<aside>
//							<button ng-click="confirmModal1=false" class="wfm-btn wfm-btn-invis-default">Cancel</button>
//							<button ng-click="confirmModal1=false" class="wfm-btn wfm-btn-invis-primary">Apply</button>
//						</aside>
//					</div>
//				</div>
//			</div>
//		</div>
//	</div>
//
//Styleguide 1.24
//

.click-modal{

	.head-actions {
    margin-top: 0;
	}

	.dialog{
		position: fixed;
	}
}
