// Modals
//
// A modal is launched above the main view and stays there until the user has taken action. Since this is such a obnoxious element it should only be used when you absolutely want the user to focus on a single task.
//
//Markup:
//	<div class="modal-box">
//		<button ng-click="modalLaunch1 = !modalLaunch1" class="wfm-btn wfm-btn-primary">Open</button>
//		<div ng-cloak ng-show="modalLaunch1">
//			<div class="modalbg">
//				<div class="dialog">
//					<div class="modal-header">
//						Modal title
//					</div>
//					<div class="modal-body">
//						Ladies and gentlemen, allow me to introduce myself, I am the amazing modal window body!
//					</div>
//					<div class="modal-footer">
//						<aside>
//							<a ng-click="modalLaunch1 = !modalLaunch1" class="wfm-btn wfm-btn-invis-primary">DISMISS</a>
//							<a class="wfm-btn wfm-btn-invis-primary">AGREE</a>
//						</aside>
//					</div>
//				</div>
//			</div>
//		</div>
//	</div>
//
//Styleguide 1.12
//

.modal-box {
	.modalbg {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 99998;
		background: $gray026;
		transition: $transition-timing;
	}
	
	.modalbg .dialog {
		width: 60%;
		z-index: 99999;
		position: relative;
		top: -20px;
		margin: 10% auto;
		background: $white;	
	}
	
	.modal-header{
		padding: $full-padding;
		background-color: $blue-500;
		color: $white;
	}
	
	.modal-body{
		padding: $full-padding*2;
		background-color: $white;
		color: $gray087;
	}
	
	.modal-footer{
		padding: $full-padding * 2 $full-padding;
		border-top: 1px solid $gray012;
		color: $gray087;
	}
	
	aside{
		text-align:right;
	}
}