
// Navbars
//
//
//
//Styleguide 1.16
//

// Topbar
//
// The topbar is, as you might have guessed at the top of the page, and contains the brand, a global search and some actions. Since the same topbar is always imported into every view it should only contain global and unspescific tools and actions.
//
//Markup: topbar.hbs
//
//Styleguide 1.16.1
//

//View headers
//
//A view header should be the first visible element in your view. It is used to help orientate the user. If needed you can add a global floating action button to it. If you do, it counts towards the limit of action buttons in you view (i.e one).
//The view header is also a uniqe element in the view and therefore not part of any panel or element.
//
//Markup:
//<div class="view-header">
//<div class="view-title">
//		<h1><i class="mdi mdi-account"></i> First header title</h1>
//		<p>Optional description of the view goes here.</p>
//</div>
//	<div class="fab-wrapper">
//		<button class="wfm-fab  material-depth-1"><i class="mdi mdi-plus"></i>
//			<md-tooltip>Add something</md-tooltip>
//		</button>
//	</div>
//</div>
//
//Styleguide 1.16.2
//

.view-header{
	width:100%;
	display: inline-flex;
}
.view-title{
	width:90%;
}

.fab-wrapper{
	width:10%;
	z-index: 99;
	position:absolute;

	.wfm-fab{
		margin-top:-3px;
		position: relative;
	}
}

.head-actions{
	float:right;
	margin-top:-10px;
}

.sub-header{
	padding: $full-padding;
	padding-top: $full-padding*2;
	color: $gray087;
	margin-bottom:$full-padding;
}

.bottom-header{
	padding: $full-padding;
	background-color: $blue-100;
	color: $gray087;
	border-bottom:1px solid $gray012;
}

.sidenav-header{
	padding: $full-padding * 2 $full-padding!important;
	background-color: $blue-300;
	color: $gray087;
	border-bottom:1px solid $gray012;
}

.toolbar {
	margin-bottom: $full-padding;
}

.navbar {
  background-color: $blue-500;
  border-radius:0;
	border: none;
	margin-bottom:0;


	a{
		text-decoration:none;
		display:inline-block;
	}

	.brand{
		color: $white !important;
		font-weight: bold;
		font-size: 18px;
		cursor:pointer;
	}

	.content {
		height: 22px;
		padding: 15px;
		line-height: 20px;
		width: 98%;
		box-sizing: content-box!important;
	}

	.wfm-container{
		padding-left:$full-padding;
	}

	i{
		color: $white;
		vertical-align: middle;
	}
}

.result-icon i{
	color:white!important;
	padding:0px!important;
	margin:0px!important;
}

.breadbin{
	margin-left:30px;
	font-size: 75%;
	display:inline-flex;
	list-style:none;
}

.breadbin a{
	color:white!important;
}

.breadcrumb>.active {
	color: white!important;
}

.breadcrumb{
	background:transparent;
}

.navbar-left {
	float: left;
	max-height: 35px;
}

.navbar-right {
	float: right;
	margin-right: 0;

	button{
		padding:0 0 !important;
	}
}

/*search*/


.global-search {
	font-size: 14px !important;
	padding-left: 5px;
	width: 13rem;
	transition:$transition-timing;

	&:focus{
		width: 27rem;
	}
}

.search-results {
	position: fixed;
	width: 270px;
	font-size: 14px;
	display: block;
	max-height: 75%;
	overflow-y: auto;
	margin: 5px 23px;
	 background: $white;
	-webkit-transition:0.5s all 0.5s ease-in;
	-moz-transition:0.5s all 0.5s ease-in;
	-ms-transition:0.5s all 0.5s ease-in;
	-o-transition:0.5s all 0.5s ease-in;
	transition:0.5s all 0.5s ease-in;

	opacity:1;
}

.global-search:not(:focus) ~ .search-results{
	-webkit-transition:all 0s;
	-moz-transition:all 0s;
	-ms-transition:all 0s;
	-o-transition:all 0s;
	transition:all 0s;

	opacity:0;
}

.nav-context-menu {
    position: relative;
    cursor:pointer;
    background:transparent;
    border:none;

    [class*="context-menu-"] {
        transition: $transition-timing;
        @extend .material-depth-2;
        position: absolute;
        opacity: 0;
        visibility: hidden;
        min-width: 200px;
    }

    &:focus {
        [class*="context-menu-"] {
            visibility: visible;
            opacity: 1;
            z-index: 10;
        }

				i{
					color:$gray054!important;
				}
    }

	.context-content{
		color:$gray087;
		padding: $full-padding;
		text-align:left!important;
		background:$white;
		min-width: 300px;
		box-shadow: 0 8px 17px 0 rgba(0,0,0,.2)!important;
		text-transform: initial;

		p,li{
			font-size: 14px!important;
		}

		.description{
			padding-left:5px;
		}

		footer{
			text-align:right;
		}
	}

	.arrow-up {
	width: 0;
	height: 0;
	float:right;
	margin-top:-10px;
	border-left: 12px solid transparent;
	border-right: 12px solid transparent;

	border-bottom: 15px solid white;
	}

    .nav-context-menu-left {
        top: 100%;
        right: 100%;
        margin: 20px -22px 0 0;
		text-transform: lowercase;

        &:before {
            left: 100%;
            margin-top: $full-padding*2;
        }
    }
}

.notification-ticker{
    color:white;
    font-size: 50%;
    background: orange;
    border-radius: 5px;
		margin-top: -40px;
		padding:-1px 1px 0 0 ;
    z-index: 99999;
    text-align: center;
}
