
// Navbars
//
//
//
//Styleguide 1.5
//

// Topbar
//
// The topbar is at top of the page, and contains the brand, some breadcrumbs, a global search and some actions. Since the topbar is always imported into the template it should remain as global as possible.
//
//Markup:
//<div class="material-depth-1 navbar navbar-default"> 
//  <div class="wfm-container">
//		<div class="navbar-header">
//			<div class="content">
//				<span class="brand">Teleopti WFM</span>
//				<span class="breadbin">
//					<a href="#" class="crumb">Settings ></a>
//					<a href="#" class="crumb">Options</a>
//				</span>
//				<div class="right-actions">
//					<span><a><i class="mdi mdi-account"></i></a></span>
//					<span><a><i class="mdi mdi-settings"></i></a></span>
//					<span><a><i class="mdi mdi-logout"></i></a></span>
//				</div>
//			</div>
//		</div>
//	</div> 
//</div>
//
//Styleguide 1.5.1
// 

// Headers
//
//The normal header is used to indicate a new area or panel, any headers within that panel will have the second header (however, try to keep the total number of headers within one panel as low as possible).
//A secondary header should not live within another secondary header, rather, make a new secondary header to make skimming through the panel simple.
//
//Markup:
//<div class="sub-header"> 
//	First header title
//</div>
//<div class="bottom-header"> 
//	Second header title
//</div>
//
//Styleguide 1.5.2
// 

// Sidenav headers
//
// TODO
//
//Markup:
//<div class="sidenav-header"> 
//	Place me in your sidenav!
//</div>
//
//Styleguide 1.5.3
// 

.sub-header{
	@extend .wfm-block;
	background-color: $blue-300;
	color: $gray087;
}

.bottom-header{
	@extend .wfm-block;
	background-color: $blue-100;
	color: $gray087;
	border-bottom:1px solid $gray012;
}

.sidenav-header{
	width: 100%;
	padding: 10px!important;
	background-color: $blue-300;
	color: $gray087;
	border-bottom:1px solid $gray012;
}

.navbar {
    background-color: $blue-500;
    border-radius:0;
	border: none;
	margin-bottom:0;
	
	a{
		color: $white !important;
		text-decoration:none;
		display:inline-block;
	}
	
	.brand{
		color: $white !important;
		font-weight: bold;
	}
	
	.content {
		height: 50px;
		padding: 15px;
		font-size: 18px;
		line-height: 20px;
		margin-left: -15px;
	}
	
	.wfm-container{
		padding-left:$full-padding;
	}
	
	.breadbin{
		margin-left:30px;
		font-size: 75%;
	}
	
	.right-actions{
		position:absolute;
		right:$full-padding;
		top:30%;
	}
	 .right-actions span{
		display:inline-block;
	 }
	 
	 .right-actions i{
		color: $white;
	 }
}

/*search*/


.global-search {
	font-size: 14px !important;
	padding-left: 5px;
	width: 27rem;}
 
.search-results {
	position: fixed;
	width: 270px;
	font-size: 14px;
	display: block;
	max-height: 75%;
	overflow-y: scroll; 
	margin: 5px 23px;
	
	.category-icon {
		border-radius: 50%;
		width: 25px;
		margin-right: 5px;
		height: 25px;
		vertical-align: middle;
		background-color: lightgray;
	}
}

/*
.animate-repeat {
	list-style:none;
	box-sizing:border-box;
}

 animte the search results

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
	-webkit-transition:all 0.3s ease-in;
	transition:all 0.3s ease-in;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
	opacity: 0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
	opacity: 1;
}

.animate-repeat.ng-leave-stagger, .animate-repeat.ng-enter-stagger {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;

	-webkit-transition-duration: 0s;
	transition-duration: 0s;
} 
*/