
// Navbar
//
// In WFM, the navbar is at top of the page (based on bootstrap right now)
//
//Styleguide 1.5
//

// Topbar
//
//Markup:
//<div class="navbar navbar-default navbar-static-top"> 
//  <div class="container"><div class="navbar-header"><a class="navbar-brand">Teleopti WFM</a></div></div> 
//</div>
//
//Styleguide 1.5.1
// 