
// Navbars
//
//
//
//Styleguide 1.16
//

// Topbar
//
// The topbar is, as you might have guessed at the top of the page, and contains the brand, a global search and some actions. Since the same topbar is always imported into every view it should only contain global and unspescific tools and actions.
//
//Markup:
//<div class="material-depth-1 navbar navbar-default">
//		<div class="navbar-header content">
//			<div class="navbar-left">
//				<span class="brand">Teleopti WFM</span>
//				<span class="breadbin"></span>
//			</div>
//			<div class="navbar-right">
//				<span>
//					<i class="mdi mdi-magnify"></i>
//					<input type="text" placeholder="Search ..." class="global-search" />
//				</span>
//				<span><a><i class="mdi mdi-account"></i></a></span>
//			</div>
//		</div>
//</div>
//
//Styleguide 1.16.1
//

//View headers
//
//A view header should be the first visible element in your view. It is used to help orientate the user. If needed you can add a global floating action button to it. If you do, it counts towards the limit of action buttons in you view (i.e one).
//The view header is also a uniqe element in the view and therefore not part of any panel or element.
//
//Markup:
//<div class="view-header">
//<div class="view-title">
//		<h4><i class="mdi mdi-account"></i> First header title</h4>
//		<p>Optional description of the view goes here.</p>
//</div>
//	<div class="fab-wrapper">
//		<button class="wfm-fab  material-depth-1 info"><i class="mdi mdi-plus"></i>
//			<md-tooltip>Add something</md-tooltip>
//		</button>
//	</div>
//</div>
//
//Styleguide 1.16.2
//

.view-header{
	width:100%;
	display: inline-flex;
}
.view-title{
	width:90%;
}

.fab-wrapper{
	width:10%;
	z-index: 99;
	position:absolute;

	.wfm-fab{
		margin-top:-3px;
		position: relative;
	}
}

//Headers
//
//The normal header is used to indicate a new panel/area. Much like the view header it can have some actions tied to it, for example a context menu. If this is the case the actions only effect the content of that panel/area.
//
//Avoid secondary headers, rather,
//make a new panel/area if possible to make skimming through the page simple.
//
//Markup:
//<div class="sub-header">
//		First header title
//		<div class="head-actions">
//			<button class="context-menu card-context">
//			<i class="mdi mdi-dots-vertical"></i>
//			<span class="context-menu-left">
//				<ul class="wfm-list">
//					<li>Add more item</li>
//					<li>Remove some item</li>
//					<li>Rename all items</li>
//				</ul>
//			</span>
//	</button>
//</div>
//</div>
//
//Styleguide 1.16.3
//

.head-actions{
	float:right;
	margin-top:-10px;
}

.sub-header{
	padding: $full-padding;
	color: $gray087;
}

.bottom-header{
	padding: $full-padding;
	background-color: $blue-100;
	color: $gray087;
	border-bottom:1px solid $gray012;
}

.sidenav-header{
	padding: $full-padding * 2 $full-padding!important;
	background-color: $blue-300;
	color: $gray087;
	border-bottom:1px solid $gray012;
}

.toolbar {
	margin-bottom: $full-padding;
}

.navbar {
  background-color: $blue-500;
  border-radius:0;
	border: none;
	margin-bottom:0;


	a{
		text-decoration:none;
		display:inline-block;
	}

	.brand{
		color: $white !important;
		font-weight: bold;
		cursor:pointer;
	}

	.content {
		height: 22px;
		padding: 15px;
		font-size: 18px;
		line-height: 20px;
		width: 98%;
		box-sizing: content-box!important;
	}

	.wfm-container{
		padding-left:$full-padding;
	}

	i{
		color: $white;
		vertical-align: middle;
	}
}

.result-icon i{
	color:white!important;
	padding:0px!important;
	margin:0px!important;
}

.breadbin{
	margin-left:30px;
	font-size: 75%;
	display:inline-flex;
	list-style:none;
}

.breadbin a{
	color:white!important;
}

.breadcrumb>.active {
	color: white!important;
}

.breadcrumb{
	background:transparent;
}

.navbar-left {
	float: left;
	max-height: 35px;
}

.navbar-right {
	float: right;
	margin-right: 0;
}

/*search*/


.global-search {
	font-size: 14px !important;
	padding-left: 5px;
	width: 13rem;
	transition:$transition-timing;

	&:focus{
		width: 27rem;
	}
}

.search-results {
	position: fixed;
	width: 270px;
	font-size: 14px;
	display: block;
	max-height: 75%;
	overflow-y: auto;
	margin: 5px 23px;
	 background: $white;
	-webkit-transition:0.5s all 0.5s ease-in;
	-moz-transition:0.5s all 0.5s ease-in;
	-ms-transition:0.5s all 0.5s ease-in;
	-o-transition:0.5s all 0.5s ease-in;
	transition:0.5s all 0.5s ease-in;

	opacity:1;
}

.global-search:not(:focus) ~ .search-results{
	-webkit-transition:all 0s;
	-moz-transition:all 0s;
	-ms-transition:all 0s;
	-o-transition:all 0s;
	transition:all 0s;

	opacity:0;
}
