
// Notices
//
// There are several different notice markers:
// * The default one is used to provide information to the user. </br>
// * Details are never shown alone, but rather beneath one of the others. </br>
// * The warning notice should be used to alert the user that something have to be done before they can continue.</br>
// * The error notice should only be triggered when something goes wrong in the background. 
//
//Markup: 
//	<div class="notice default">Hello, let me tell you about notice blocks.</div>
//	<div class="notice detail">I was expanded to show details.</div>
//	<div class="notice warning">Make sure to read all of the styleguide.</div>
//	<div class="notice error">Something triggered this error notice.</div>
//	
//
//Styleguide 1.10
//

.notice {
	@extend .wfm-block;
	cursor:pointer;
	color:#111111;
	display:inline-block;

	&.default{
		background-color:$blue-100;
	}

	&.warning{
		background-color:$orange-600;
	}

	&.error{
		background-color:$red-600;
	}

	&.detail{
		background: $gray012;
	}
}

// Notifications
//
// TODO
//
//Markup:
//<ul class="notification-list">
//	<li><i class="mdi mdi-alert-circle"></i>Notifications are great!</li>
//	<li><i class="mdi mdi-alert-circle"></i>Have another one.</li>
//</ul>
//
//Styleguide 1.11
//

.notification-list{
	list-style:none;
	padding-left:0!important;
	
	li{
		@extend .wfm-block;	
		background-color:$gray012;
		cursor:pointer;
	}
	
	i{
		padding-right:5px;
		color: $gray054;
	}
}