
.alert-error {
	background-color:$red-600;
	border: none;
	border-radius: 0;
}

.alert-success {
	background-color: $green-100;
	border: none;
	border-radius: 0;
}

.alert-info {
	background-color: $blue-300;
	border: none;
	border-radius: 0;
}

.alert-warning {
	background-color: $orange-400;
	border: none;
	border-radius: 0;
}



// Notifications
//
// Notifications are more global and general compared to notices. They can function more like a actions archive. For more about notifications see the <a href="file:///C:/Users/carlr/Repos/styleguide/styleguide/styleguide/section-1.html#/kssref-1-14" >navbar chapter</a>.
//
//Markup:
//	<ul class="notification-list wfm-simple-list">
//		<li>
//			<i class="mdi mdi-alert-circle"></i>
//			<b>Forecast</b>
//			<span class="pull-right">16:18</span>
//			<div class="subtext">Done without errors</div>
//		</li>
//		<li>
//			<i class="mdi mdi-alert-circle"></i>
//			<b>Forecast</b>
//			<span class="pull-right">13:37</span>
//			<div class="subtext">Done without errors</div>
//		</li>
//		<li>
//			<i class="mdi mdi-alert-circle"></i>
//			<b>Forecast</b>
//			<span class="pull-right">11:11</span>
//			<div class="subtext">Done without errors</div>
//		</li>
//	</ul>
//
//Styleguide 1.11
//

.notification-list{

	li{
		background: transparent;
		border:none;
		border-top: 1px solid $gray012;
	}

	i{
		padding-right: 0;
		margin-right: 5px;
	}

	.subtext{
		margin-left: 26px;
	}

}
