// Notices
//
//Notices indicate to the user that an event or action has taken place or that something is stopping the current action.
// There are several different markers to make the type of notice easy to spot:
// <ul class="wfm-simple-list"><li class="text-success"><b>Success: </b>Indicates successful action.</li>
// <li><b>Info: </b>Gives hints and information.</li>
// <li class="text-warning"><b>Warning: </b>Alerts that something has to be done before they can continue.</li>
// <li class="text-danger"><b>Error: </b>Should be triggered when something goes wrong in the background.</li></ul>
//
// A notice should either self-destruct on state change, when timeout is up or be dismissable to free up space. The Notice service methods take 3 arguments: content, timeToLive and destroyOnStateChange.
//
//<div class="jsprewrap">
//	<div ng-click="showjs = !showjs" class="ksscopy">JavaScript</div>
//	<div ng-show="showjs">
//		<code><pre>
//$scope.displaySuccess = function() {
//		NoticeService.success(message, 5000, true);
//};
//		</pre></code>
//	</div>
//</div>
//
// Markup: notices.hbs
//
//Styleguide 2.5
//

.alert-error {
	background-color:$red-600;
	border: none;
	border-radius: 0;
}

.alert-success {
	background-color: $green-100;
	border: none;
	border-radius: 0;
}

.alert-info {
	background-color: $blue-300;
	border: none;
	border-radius: 0;
}

.alert-warning {
	background-color: $orange-400;
	border: none;
	border-radius: 0;
}

.alert-detail {

	background-color: $gray012;
	border: none;
	border-radius: 0;
}

.notice-spacer{
	padding:10px 5px;
	margin-bottom:5px;
}

.notice-container{
	width: 100%!important;
}

.notice-container > .notice-item {
	padding: $full-padding;
	margin-bottom: 0;
	padding: 10px;
	cursor: pointer;
	vertical-align: middle;
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
  .mdi{
    vertical-align: middle;
		color:$gray054;
  }
}

.notice-item .close {
	text-shadow: none;
	opacity: 1;
  position: relative;
  float: right;
  background: 0 0;
  border: 0;
  color: $gray087;
  padding: 0;

}

.notice-container > button {
	border: none;
	outline:none;
}
.notice-container > .notice-item.ng-enter,
.notice-container > .notice-item.ng-leave {
	-webkit-transition:0.5s all ease-in-out;
	-moz-transition:0.5s all ease-in-out;
	-o-transition:0.5s all ease-in-out;
	transition:0.5s all ease-in-out;
}

.notice-container > .notice-item.ng-enter,
.notice-container > .notice-item.ng-leave.ng-leave-active {
	opacity:0;
}
.notice-container > .notice-item.ng-leave,
.notice-container > .notice-item.ng-enter.ng-enter-active {
	opacity:1;
}

.notice-container > div.notice-item {
	background-repeat: no-repeat;
}
