
// Notices
//
//Notices indicate to the user that an event or action has taken place or that something is stopping the current action. 
// There are several different markers to make the type of notice easy to spot:
// * Success: Shown to indicate that an action has been done successfully. 
// * Info: Should be used to give the user hints and information.
// * Details: These are never shown alone, but rather beneath one of the other markers. 
// * Warning: Should be used to alert the user that something have to be done before they can continue.
// * Error: Should only be triggered when something goes wrong in the background. 
//
//Note: the 'notice-spacer' class is for styleguide demo purpose only.
//
//Markup: 
//<div class="alert-success notice-spacer"><i class='mdi mdi-thumb-up'></i> Success: User is updated successfully.</div>
//<div class="notice-group">
//	<div class="alert-info notice-spacer"><i class='mdi mdi-information'></i> Info: A user logged out.</div>
//	<div class="alert-detail notice-spacer">I was born to show details.</div>
//</div>
//	<div class="alert-warning notice-spacer"><i class='mdi mdi-alert'></i> Warning: Press refresh as the data was updated by another user.</div>
//	<div class="alert-error notice-spacer"><i class='mdi mdi-alert-octagon'></i> Error: Something exploded so fix it.</div>
//	
// A notice should either self-destruct or be dismissable to free up space.
//
//Styleguide 1.10
//

/*This is because of growl and bootstrap*/
.alert-error {
	color: $gray054!important;
	background-color: #ee8f7d;
	border: none;
	border-radius: 0;
}

.alert-success {
	color: $gray054!important;
	background-color: #c2e085;
	border: none;
	border-radius: 0;
}

.alert-info {
	color: $gray054!important;
	background-color: #66c2ff;
	border: none;
	border-radius: 0;
}

.alert-warning {
	color: $gray054!important;
	background-color: $orange-400;
	border: none;
	border-radius: 0;
}

.alert-detail {
	color: $gray054!important;
	background-color: $gray012;
	border: none;
	border-radius: 0;
}

.notice-spacer{
	padding:10px 5px;
	margin-bottom:5px;
}

// Notifications
//
// Notifications are more global and general compared to notices. They can function more like a actions archive. All notifications are shown in the right sidenav.
//
//Markup:
//<ul class="notification-list">
//	<li><i class="mdi mdi-alert-circle"></i>Notifications are great!</li>
//	<li><i class="mdi mdi-alert-circle"></i>Have another one.</li>
//</ul>
//
//Styleguide 1.11
//

.notification-list{
	list-style:none;
	padding-left:0!important;
	
	li{
		padding: $full-padding;
		background-color:$gray012;
		cursor:pointer;
		border-bottom: 1px solid $gray026;
	}
	
	i{
		padding-right: $full-padding;
		color: $gray054;
	}
}