.inline-role-name {
	margin: 0;
	padding: 0;
	width: 60%;
	color: black;
	border-bottom: none !important;
}

.role-input {
	color: white;  
	background-color: $orange-400;
}

.role-container{
	max-height: 800px;	
	overflow-y: auto;
}