
.sidenav-toggle {

	input[type='checkbox']{
		display: none;
	}
	
	label {
		text-align: center;
		cursor: pointer;
		transition: $transition-timing;
		max-width: none;
		margin: 0;
	}
	
	label i {
		margin: 5px;
	}
}

.sidenav-toggle .sidenav-wrapper {
		@extend .material-depth-1;
		background-color: $white;
		cursor: pointer;
		margin-top: 62px;
		&.left {
			box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.26);
		}
		&.right {
			box-shadow: -2px 2px 5px 0 rgba(0, 0, 0, 0.26);
		}
}

.layout-container .sidenav {
	background-color: $white;
	flex-basis: 15%;
	top:0;
	height: 1050px;
	height: 100vh;
	bottom:0;
	transition: $transition-timing;
	padding-top: 52px;

	overflow:hidden;
	text-overflow: hidden;
}

.sidenav.is-hidden{
	overflow:hidden;
	text-overflow: hidden;
	transition: $transition-timing;
	flex-basis:0.00001%;
}


.help-text {
	background-color:$white;
	text-align: center;
	padding: $full-padding;
	color:$gray087;
}

.help-widget {
	position: absolute;
	bottom: 0;
}

.tile-footer{
	text-align:right;
}