
//Sidenav toggles
//
//Sidenav toggles are a pair of checkboxes that control the visibility of the sidenavs. The toggles are not part of the sidenav (if they were they would be hidden aswell and the user would be unable to show the sidenav without reloading the page). They instead trigger a <a href="http://goo.gl/M5U1oC">Angular ng-hide</a> on their respective sidenav.
//
//Markup:
//<div class="sidenav-toggle">
//	<div class="sidenav-wrapper left">
//		<input type="checkbox" id="nav-left" ng-model="toggleLeftSide" />
//		<label for="nav-right"><i class="mdi mdi-fast-forward"></i></label>
//	</div>
//</div>
//<div class="sidenav-toggle">
//	<div class="sidenav-wrapper right">
//		<input type="checkbox" id="nav-right" ng-model="toggleRightSide" />
//		<label class="nav-left"><i class="mdi mdi-rewind"></i></label>
//	</div>
//</div>
//	
//Styleguide 1.4.8
//

.sidenav-toggle {

	input[type='checkbox']{
		display: none;
	}
	
	label {
		text-align: center;
		cursor: pointer;
		transition: $transition-timing;
		max-width: none;
		margin: 0;
	}
	
	label i {
		margin: 5px;
	}
}

.sidenav-toggle .sidenav-wrapper {
		@extend .material-depth-1;
		background-color: $white;
		cursor: pointer;
		margin-top: 10px;
		&.left {
			box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.26);
		}
		&.right {
			box-shadow: -2px 2px 5px 0 rgba(0, 0, 0, 0.26);
		}
}

.layout-container .sidenav {
	position:relative;
	background-color: $white;
	-webkit-flex: auto;
	flex: auto;
	flex-basis: 15%;
	top:0;
	height: 1050px;
	bottom:0;
	transition: $transition-timing;
}

.sidenav.left.ng-hide {
  -webkit-transform: translate(-100%,0%);
}

.sidenav.right.ng-hide { 
  -webkit-transform: translate(100%,0%);
}

.help-text {
	background-color:$white;
	text-align: center;
	padding: $full-padding;
	color:$gray087;
}

.help-widget {
	width:100%;
	position: absolute;
	bottom: 0;
}

.tile-footer{
	text-align:right;
}