//Style Rules
//
//Here are detailed all the style rules for the web application.
//
//Styleguide 1
//
//

//Depth
//
//Getting a deeper look into the styles of shadows and positioning.
//
//Keep the number of stacked layers to a minimum and the total number of layer below 3 (including the background).
//
//Markup:
//<div class="spacer"> Background </div>
//<div class="spacer material-depth-1"> Layer 1 </div>
//<div class="spacer material-depth-2"> Layer 2 </div>
//<div class="spacer material-depth-1"> 
//	<p class="material-depth-2"> Stacked </p>
//</div>
//
//Styleguide 1.1 
//

//Colors
//
// We would like to provide alternative themes but it's a WIP
//
//Styleguide 2
// 
//



//Do not
//
//Lets talk about things you should avoid
//<br />
//_"Beware, here there be monsters"_
//
//Styleguide 3
// 
//

//Simple mistakes
//
//This. Not that.
//
//That. Not this.
//
//Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
//
//Styleguide 3.1 

//Breaking the law
//
//Sometimes, rules are ment to be broken
//This however is not one of those times.
//
//Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh.
//
//Styleguide 3.1 



//Icons 
//
//
//
//Styleguide 4
// 
//

// Default set of icons 
//
// We use material icons : http://materialdesignicons.com/
//
//TODO
//
//Styleguide 4.1
//

