//Style Rules
//
//Here are detailed all the style rules for the web application.
//
//Styleguide 1
//
//

//Depth
//
//Getting a deeper look into the styles of shadows and positioning.
//
//Keep the number of stacked layers to a minimum and the total number of layer below 3 (including the background).
//
//Markup:
//<div class="spacer"> Background </div>
//<div class="spacer material-depth-1"> Layer 1 </div>
//<div class="spacer material-depth-2"> Layer 2 </div>
//<div class="spacer material-depth-1"> 
//	<p class="material-depth-2"> Stacked </p>
//</div>
//
//Styleguide 1.1 
//

//Colors
//
// We would like to provide alternative themes but it's a WIP
//
//Styleguide 2
// 
//

//Layouts
//
//
//
//Styleguide 3
// 
//

//Panels
//
//Styleguide 3.1
// 
//

//Panel grids
//
//Styleguide 3.2
// 
//

//Sidenavs
//
//Styleguide 3.3
// 
//

//Graphs
//
//Styleguide 3.4
// 
//

//Icons 
//
//
//
//Styleguide 4
// 
//

// Default set of icons 
//
// We use material icons : http://materialdesignicons.com/
//
//TODO
//
//Styleguide 4.1
//

//Resources
//
//Here you can find some links to go further in CSS best practices
//
//Styleguide 5
// 
//

//Urls
//
// https://developer.mozilla.org/en-US/docs/Web/CSS
//
// http://philipwalton.com/articles/css-architecture/
//
// http://styleguides.io/
//
// http://alistapart.com/article/creating-style-guides
//
// http://axbom.com/slaying-5-ux-myths-good-mankind/
//
//Styleguide 5.1 

.demo{
    -webkit-animation: demo 2s 1 forwards;
    -moz-animation: demo 2s 1 forwards;
    -ms-animation: demo 2s 1 forwards;
    animation: demo 2s 1 forwards;
}

@-webkit-keyframes demo { 
    from { }
    to { width: 100% }
}

@-moz-keyframes demo { 
    from { }
    to { width: 100% }
}

@-ms-keyframes demo { 
    from { }
    to { width: 100% }
}

@keyframes demo { 
    from { }
    to { width: 100% }
}