// Table
//
// Tables are used to give a overview of data, however, following the <a href="index.html" >Main concepts</a> of the styleguide, only relevant data should be displayed. In the cases where that is not possible, please use infinite scrolling or pagination to keep the page lightweight.
// If a table does take time to be loaded, a spinner should be displayed during this time to indicate to the user that it will take some time and that the table is not broken.
//
// A table should be displayed in alphabetical order by default, unless there is an obvious way the user would want the data sorted. Even so, the ability to sort and search within the table is most welcome.
//If the table can be sorted, it should have filled arrows in the header indicating the sorting direction (down for descending and up for ascending), clicking the header should change the sorting direction and the arrow direction.
//
//Cells containing numbers are right aligned using the 'number-cell' class to differentiate them from text content.</br>
//If you need to display bigger forms of data or need more complex actions such as importing/exporting, multi select or the ability to hide columns - take a look at the Big table.
//
//Markup:
//	<table class="wfm-table">
//		<thead>
//			<tr>
//				<th>texts</th>
//				<th>numbers</th>
//			</tr>
//		</thead>
//		<tbody>
//			<tr>
//				<td>text1</td>
//				<td class="number-cell">2135847</td>
//			</tr>
//			<tr>
//				<td>text1</td>
//				<td class="number-cell">2.3546</td>
//			</tr>
//		</tbody>
//	</table>
//
//Styleguide 1.25
//

table{
	border-spacing: 0!important;
}

.wfm-table {
	width: 100%;
	text-align: left;
}

.wfm-table td, .wfm-table th {
  border: 1px solid $gray012;
  color: $text-color-standard;
  padding: $full-padding;
  background-color:$white;
}

.wfm-table th, .wfm-table-header {
  color: $text-color-standard;
  background-color: $secondary;
  text-align: left;

}

.wfm-table .number-cell {
	text-align: right;
}


// Two dimensional table
//
//Markup:
//	<table class="wfm-table wfm-table-multi">
//		<thead>
//			<tr>
//				<th></th>
//				<th>column header</th>
//				<th>column header</th>
//			</tr>
//		</thead>
//		<tbody>
//			<tr>
//				<td>row header</td>
//				<td>item1</td>
//				<td>item2</td>
//			</tr>
//			<tr>
//				<td>row header</td>
//				<td>item3</td>
//				<td>item4</td>
//			</tr>
//		</tbody>
//	</table>
//
//Styleguide 1.26
//

.wfm-table-multi{
	th:first-child,td:first-child{
	  color: $text-color-standard;
	  font-weight:600;
	  background-color: $secondary;
	}
}


//Big table
//
//The big table is used to give data more space and actions. Check out the <a href="http://ui-grid.info/docs/#/tutorial">documentation</a> to see all available functions.
//
// <div class="jsprewrap">
//   <div class="ksscopy kss-style" ng-click="showJs['bigTable'] = !showJs['bigTable']">
//       <span ng-hide="showJs['bigTable']">Show</span>
//      <span ng-show="showJs['bigTable']">Hide</span>
//     JavaScript
//     <i class="mdi mdi-code-tags pull-right"></i>
//   </div>
//   <div class="animate-show" ng-show="showJs['bigTable']">
//     <code>
//       <pre class="prettyprint linenums lang-js">
//
//var data = [];
//for (var i = 0; i < 100; i++) {
//		data[i] = {};
//		for (var j = 0; j < 10; j++) {
//				data[i]['j' + j] = j;
//		}
//}
//$scope.gridOptions = {
//		exporterCsvFilename: 'myFile.csv',
//    exporterOlderExcelCompatibility: true,
//		exporterMenuPdf: false,
//		enableSelectAll: true,
//		enableFullRowSelection: true,
//		enableRowHeaderSelection: true,
//		enableHorizontalScrollbar: uiGridConstants.scrollbars.NEVER,
//		selectionRowHeaderWidth: 35,
//		data: data,
//};
//$scope.gridOptions.enableGridMenu = true;
//       </pre>
//     </code>
//   </div>
// </div>
//
// Markup: bigtables.hbs
//
//Styleguide 1.27

.myGrid {
     width: 100%;
  }

/* Datagrid */
.ui-grid-header-cell {
	@extend .wfm-table-header;
	border: none;

	 i{text-align:right;
	 float:none;}

	 &:hover{
		 background-color: $hover;
		 cursor: pointer;
	 }
}

.ui-grid-header-canvas{
	background:$secondary;
}

.ui-grid{
	border: none;
}

.big-table-wrapper{
	h4 span{
		float:right;
		margin-right:16px;

		i{
			cursor:pointer;
		}
	}
}

/*icons*/


.ui-grid-header-cell:last-child .ui-grid-column-resizer.right{
	border:none!important;
}

.ui-grid-menu-items li i,
.ui-grid-icon-angle-down:before{
	vertical-align: sub!important;
}

.ui-grid-icon-angle-down:before{
	content: "≡";
}

.ui-grid-icon-menu::before{
	content: "᎒";
	vertical-align: sub!important;
}

.ui-grid-menu-button .ui-grid-menu .ui-grid-menu-mid{
	overflow:auto;
}

.ui-grid-menu .ui-grid-menu-inner ul li button.ui-grid-menu-item-active{
	background:$highlight!important;
}

.ui-grid-icon-up-dir:before,
.ui-grid-icon-sort-alt-up:before {
    content: "↑"!important;
}
.ui-grid-icon-down-dir:before,
.ui-grid-icon-sort-alt-down:before
 {
    content: "↓"!important;
}

// .ui-grid-icon-menu::before {
//     background-color: $white;
//     cursor: pointer;
// 		position: absolute;
// 		border: 5px solid white;
// 		margin: 5px;
// 		width: 24px;
// 		height: 24px;
// 		border-radius: 50%;
// 		right:$full-padding;
// 		top:0;
// }

.ui-grid-icon-ok:before,
.ui-grid-menu-item > .ui-grid-icon-cancel:before {
    content: ''!important;
    background-color: $gray026;
    height: 18px;
    width: 18px;
    border-radius: 2px;
    content: " ";
    transition: $transition-timing;
    cursor: pointer;
		overflow: hidden;
}

.ui-grid-all-selected.ui-grid-icon-ok:before,
.ui-grid-row-selected .ui-grid-icon-ok:before,
.ui-grid-menu-item > .ui-grid-icon-ok:before {
	background-color: $secondary;
	content: "✓"!important;
	text-align: center;
	color: #fff;
}

.ui-grid-viewport.ng-isolate-scope {
  overflow-x: auto!important;
}

.ui-grid-top-panel{
	background:$white;
	color:$gray054;
}

.ui-grid-header{
	border: none;
}

.ui-grid-row .ui-grid-cell {
	border: none;
	background-color: $white !important;
	border-bottom: 1px solid $gray-300;
}
.ui-grid-header-cell .ui-grid-vertical-bar {
	display: none;
	text-align:left;
}

.ui-grid-menu-items {
	@extend .wfm-list;
	box-shadow:none !important;
	li:hover{
		box-shadow:none;
	}
}
.ui-grid-menu .ui-grid-menu-inner ul li,
.ui-grid-menu .ui-grid-menu-inner ul li:hover,
.ui-grid-menu .ui-grid-menu-inner ul li.ui-grid-menu-item-active{
	box-shadow:none;
	border:none;
}

.ui-grid-selection-row-header-buttons{
	color: $text-color-standard;
	opacity: 1!important;
}

.ui-grid-menu-button{
	background: transparent;
	border:none;
}

.ui-grid-menu-button .ui-grid-menu .ui-grid-menu-mid{
	overflow-x:auto;
}

.ui-grid-menu .ui-grid-menu-inner .ui-grid-menu-close-button{
	display: none;
}

.ui-grid-menu .ui-grid-menu-inner ul li button,
.ui-grid-menu .ui-grid-menu-inner ul li button:hover,
.ui-grid-menu .ui-grid-menu-inner ul li button:focus,
.ui-grid-menu .ui-grid-menu-inner ul li button.ui-grid-menu-item-active{
	box-shadow: none!important;
}

.ui-grid-row-selected::before{
	color: $text-color-standard;
}

.big-table-wrapper{
	background-color:$white;
}

/*zebra stripe
.ui-grid-row:nth-child(odd) > [ui-grid-row] > .ui-grid-cell{
	background-color: $gray012!important;
}*/

.ui-grid-row-selected > [ui-grid-row] > .ui-grid-cell{
	background-color: $highlight!important;
}

.ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-cell:last-child{
	border-color:$gray-300!important;
	border-right:none!important;
}

.big-table-footer-actions{
	text-align:right;
}

.ui-grid-pinned-container.ui-grid-pinned-container-left .ui-grid-header-cell:last-child{
	border-right: none;
}

.big-table-wrapper table tbody tr {
	border-bottom: 1px solid $hover!important;
}
.table>tbody>tr>td{
	border-top:none;
}

//Temp fix for bug #40330.
//Related issue links: https://github.com/angular-ui/ui-grid/issues/4938
//                     https://github.com/angular-ui/ui-grid/issues/4548
//Delete this when the issue is fixed.
.ui-grid-cell.ui-grid-disable-selection.ui-grid-row-header-cell {
	pointer-events: initial;
}
