// Tables
//
// If a table take time to be loaded, a loading bar should be displayed during this time.
// A table must be displayed in alphabetical order, except for specific use case.
// In general, providing ways to filter and sort on tables, lists, grid is good.
//
//Styleguide 1.8
//

// Default table
//

//
//Markup:
//<table class="table">
//<thead><tr><th>column header</th><th>column header</th></tr></thead> 
//<tbody><tr><td>1</td><td>2</td></tr> </tbody>
//</table>
//
//Styleguide 1.8.1
//