//Tab wizard
//
//Tabs can be used to guide the user through a workflow step by step.
//
//Markup:
//<div class="wfm-slide-tabs">
//  <md-content class="md-padding">
//    <md-tabs md-dynamic-height md-border-bottom md-selected="selectedIndex">
//      <md-tab label="first tab">
//        <md-content class="md-padding">
//          <h4>Tab One</h4>
//          <p>Click a tab to watch me go!</p>
//					<button class="wizard-step wfm-btn wfm-btn-primary" ng-click="nextTab()">Next</button>
//        </md-content>
//      </md-tab>
//      <md-tab label="second tab">
//        <md-content class="md-padding">
//          <h4>Tab Two</h4>
//          <p>wheeeee</p>
//					<button class="wizard-step wfm-btn wfm-btn-primary" ng-click="nextTab()">Next</button>
//        </md-content>
//      </md-tab>
//      <md-tab label="third tab">
//        <md-content class="md-padding">
//          <h4>Tab Three</h4>
//          <p>Slow down!</p>
//					<button class="wizard-step wfm-btn wfm-btn-primary" ng-click="nextTab()">Next</button>
//        </md-content>
//      </md-tab>
//      <md-tab label="fourth tab">
//        <md-content class="md-padding">
//          <h4>Tab Four</h4>
//          <p>Now listen here you little whippersnapper, back in the good old days you had to break words all by the sweat of your own brow. You youngsters have it easy! If you have a long text in here, I will like just wrap to a new line if it has to. </p>
//					<button class="wizard-step wfm-btn wfm-btn-primary" ng-click="nextTab()">Done</button>
//        </md-content>
//      </md-tab>
//    </md-tabs>
//  </md-content>
//</div>
//
//Styleguide 1.15
//

.wfm-slide-tabs{

	.md-ripple-container{
		background-color:transparent!important;
	}

	.wizard-step{
		float:right;
	}

	md-content{
		color:$gray087;
	}

	md-tabs.md-default-theme md-tab.active{
		color:$gray087!important;
	}

	md-tab md-tab-label{
		  padding-bottom: 10px!important;
	}

	.md-header{
		  height: 30px!important;
	}
}

.wfm-slide-tabs md-ink-bar {
    top: 0!important;
		height: 36px;
		z-index: -1;
		background: $white;
}

md-tabs .md-tab.md-active, md-tabs .md-tab.md-focused {
		color:$gray087;
}

md-content.md-default-theme {
    background-color: $white!important;
}


	.wfm-slide-tabs md-tabs md-tab-item.md-active {
		color: rgb(63,81,181)!important;
		background-color:$blue-300 !important;
	  	height: 79%;
	}

	.wfm-slide-tabs md-tabs .md-tab {
		 color:$gray054;
		 margin-top: -8px;
	}


	.wfm-slide-tabs md-tabs-wrapper {
		height: 36px!important;
	}

	.wfm-slide-tabs md-ink-bar{
      color:$pink-500;
      background:$pink-500;
	  top: 28px;
	}

	//modal
	@media(max-width:599px){
		.modal-box .modalbg .dialog{
			max-height:90%;
			overflow-y:auto!important;
		}
	}

	@media(min-width:600px){
		.modal-box .modalbg .dialog{
			max-height:70%;
			overflow-y:auto!important;
		}
	}

 .label:hover, .tab-group input[type=radio]:checked + .label{
	background-color:$blue-500;
}
