//Tabs
//
//Tabs are used to change big content areas and are a great way to divide a single task into smaller pieces. They are typicaly located at the top of the page or a big panel instead of a header. One important thing to remember is to order the tabs in a way that makes sense to the workflow.  Also, avoid having nested tabs or several tab -groups close together to avoid confusion.
//
//Markup:
//<div class="wfm-slide-tabs">
//  <md-content class="md-padding">
//    <md-tabs md-dynamic-height md-border-bottom>
//      <md-tab label="first tab">
//        <md-content class="md-padding">
//          <h4>Tab One</h4>
//          <p>Click a tab to watch me go!</p>
//        </md-content>
//      </md-tab>
//      <md-tab label="second tab">
//        <md-content class="md-padding">
//          <h4>Tab Two</h4>
//          <p>wheeeee</p>
//        </md-content>
//      </md-tab>
//      <md-tab label="third tab">
//        <md-content class="md-padding">
//          <h4>Tab Three</h4>
//          <p>Slow down!</p>
//        </md-content>
//      </md-tab>
//      <md-tab label="fourth tab">
//        <md-content class="md-padding">
//          <h4>Tab Four</h4>
//          <p>Now listen here you little whippersnapper, back in the good old days you had to break words all by the sweat of your own brow. You youngsters have it easy! If you have a long text in here, I will like just wrap to a new line if it has to. </p>
//        </md-content>
//      </md-tab>
//    </md-tabs>
//  </md-content>
//</div>
//
//Styleguide 1.16
//

.wfm-slide-tabs{

	.md-ripple-container{
		background-color:transparent!important;
	}

	md-content{
		color:$gray087;
	}

	md-tabs.md-default-theme md-tab.active{
		color:$gray087!important;
		background-color:$blue-500!important;
	}

	md-tab md-tab-label{
		  padding-bottom: 10px!important;
	}

	.md-header{
		  height: 30px!important;
		  background-color:$blue-300!important;
	}
}


md-content.md-default-theme {
    background-color: $white!important;
}

//project tabs style

	.wfm-slide-tabs md-tabs.md-default-theme md-tab.active {
		color: rgba(0,0,0,.87)!important;
		  background-color:$blue-500 !important;
	  height: 79%;
	}


	.wfm-slide-tabs md-tabs .md-tab {
		 margin-top: -8px;
	}


	.wfm-slide-tabs md-tabs-wrapper {
		height: 30px !important;
		background-color: $blue-300 !important;
	}

	.wfm-slide-tabs md-ink-bar{
	  top: 28px;
	}

	//modal
	@media(max-width:599px){
		.modal-box .modalbg .dialog{
			max-height:90%;
			overflow-y:auto!important;
		}
	}

	@media(min-width:600px){
		.modal-box .modalbg .dialog{
			max-height:70%;
			overflow-y:auto!important;
		}
	}

 .label:hover, .tab-group input[type=radio]:checked + .label{
	background-color:$blue-500;
}
