// Timepicker
//
// Timepicker is based on bootstraps timepicker and all we do is wrap it and apply some special classes  to make it more compatible with material design.
//
//Markup:
//<div class="wfm-timepicker">
//	<timepicker ng-model="mytime" ng-change="changed()" hour-step="timePickerHourStep" minute-step="timePickerMinuteStep" show-meridian="timePickerUseMeridian"></timepicker>
//</div >
//
//Styleguide 2.3
//


.wfm-timepicker{
    width:187px;
    .glyphicon-chevron-up:before{
        content:"\25b2";
        font-size: 10px;
        z-index:10;
    }
    .glyphicon-chevron-down:before{
        content:"\25bc";
        font-size: 10px;
        z-index:10;
    }
    .ng-valid-time{
        position:relative;
    }
    .text-center:first-child td:first-child .btn-link{
        position:absolute;
        top:22px;
        left:30px;
    }
    .text-center:last-child td:first-child .btn-link{
        position:absolute;
        top:30px;
        left:30px;
    }
    .text-center:first-child td:nth-child(3) .btn-link{
        position:absolute;
        top:22px;
        left:90px;
    }
    .text-center:last-child td:nth-child(3) .btn-link{
        position:absolute;
        top:30px;
        left:90px;
    }
    .btn-link:hover .glyphicon-chevron-down:before{
        font-size:14px !important;
        position:relative;
        left:-1.5px;
        bottom:-2px;
    }
    .btn-link:hover .glyphicon-chevron-up:before{
        font-size:14px !important;
        position:relative;
        left:-1.5px;
        top:-2px;
    }
    input{
        width:40px;
    }
    /*width:187px;
    .input-append {
         div {
            width: 33%;
            button {
                padding: 0;
                height: 10px;                         
            }
        }
        input{
            width: 60% !important;
            &.text-center {
                text-align:center;
            }
        }
    }
   
    .ui-grid-icon-down:before {	
        content:"\25bc";
        position: relative;
        top:-5px;  
        font-size: 12px !important; 
    }
    .ui-grid-icon-up:before {
        content:"\25b2"; 
        position: relative;                             
        top:-4px;
        font-size: 12px !important;
    }
    .btn{
          height: 20px !important;
          padding: 0 10px !important;
          vertical-align:top !important;
    }
    .ui-grid-icon-down,.ui-grid-icon-up{
        height:10px;
        background-color: #fff;
        border: none;
        
        &:hover{
		background-color: #ececec;
	    }
    }*/
}