//Time Range Picker
//
//Time range picker.
//
//Markup:
//<time-range-picker start-time="startTime" end-time="endTime"></time-range-picker>
//
//Styleguide 2.6
//    

.wfm-time-range-picker-wrap {

    .wfm-switch-label {
        transform: translateY(-12px) scale(0.6);
        transform-origin: top;
        position: absolute;    
    }


}
