
// Tooltips
//
//Tooltips should be added wherever more information is needed. Keep the text short and clear as to not obstruct other elements on smaller screens.
//
//Markup:
//	<button class="wfm-btn wfm-btn-default"> Tip
//		<md-tooltip>
//			Refresh
//		</md-tooltip>
//	</button>
//  <div tabindex=0 class="context-menu card-context">
//    <i class="mdi mdi-duck">
//      <md-tooltip>Tiny duck</md-tooltip>
//    </i>
//  </div>
//
//Styleguide 1.17
//

md-tooltip {
  font-size: $standard-font-size;
  font-weight: lighter;
    z-index:999999;
}

.action-icon{
  cursor:pointer;
}
