
// Tooltips
//
//Tooltips should be added wherever more information is needed. Keep the text short and clear as to not obstruct other elements on smaller screens. We are waiting for a fix for scroll bug https://github.com/angular/material/issues/2406 
//
//Markup:
//	<button class="wfm-btn wfm-btn-default"> Tip
//		<md-tooltip>
//			Refresh
//		</md-tooltip>
//	</button>
//
//Styleguide 1.13
//

