
// Tooltips
//
//Tooltips should be added wherever more information is needed. Keep the text short and clear as to not obstruct other elements on smaller screens.
//
//Markup:
//	<button class="wfm-btn wfm-btn-default"> Tip
//		<md-tooltip>
//			Refresh
//		</md-tooltip>
//	</button>
//	<i class="action-icon mdi mdi-duck ">
//		<md-tooltip>
//			Refresh
//		</md-tooltip>
//	</i>
//
//Styleguide 1.18
//

md-tooltip {
  font-size: 12px;
  font-weight: lighter;
    z-index:999999;
}

.action-icon{
  cursor:pointer;
}
