//Trees
//
// Based on angular tree
//
//Markup:
//<div class="tree">
//	<div ui-tree>
//		<ol class="angular-ui-tree-nodes">
//			<li ui-tree-node>
//				<div>
//					Parent
//					<ol>
//						<li class="angular-ui-tree-handle"> child </li>
//						<ol>
//							<li class="angular-ui-tree-handle"> child </li>
//							<li class="angular-ui-tree-handle"> child </li>
//						</ol>
//					</ol>
//				</div>
//			</li>
//			<li ui-tree-node>
//				<div>
//					Parent
//					<ol>
//						<li class="angular-ui-tree-handle active">child</li>
//					</ol>
//				</div>
//			</li>
//		</ol>
//	</div>
//</div>
//
//Styleguide 1.3
//


.tree {
	max-height: 800px;
	overflow-y: auto;
	background-color: #f5f5f5;
	box-shadow: inset  0px 2px 5px 0px rgba(0, 0, 0, 0.16);
	vertical-align: middle;


	ol { 
		@extend .wfm-block;
		list-style: none;
	}

	li{
		@extend .wfm-block;
		border-left: 2px solid $blue-500;

		.active-tree{
			background-color:$white;
		}
		
		
	}
}

.tree .active:after{
	float:right;
	height: 25px;
	width: 25px;
	border-radius: 50px;
	text-align: center;
	color: $white;
	margin-top:-2px;
	padding-top: 2px;
	background-color: $blue-300;
	content:"✓";
}

.angular-ui-tree-handle {
	cursor: pointer;
	font-weight: 500;
	&:hover {
		background-color: $gray012;
	}
}

.angular-ui-tree-handle.selected {
	background-color: $blue-500;
	&:hover {
		background-color: $blue-300;
	}
}