//Tree
//
//Styleguide 5
//

//Tree element
//
//A tree structure is used to show relations between different items. Selected items are marked with a checkmark and a background along with a left side border. Each tree line has a right align span child that could show an icon if the line is selected.
//Please note thet the "ng-bind" span should be replaced with the normal angular binding.
//
//<div class="jsprewrap">
//	<div ng-click="showjs = !showjs" class="ksscopy">JavaScript</div>
//	<div ng-show="showjs">
//		<code><pre>
//$scope.treeDemos =   [
//		{categories: [{name: 'item 1'}, {name: 'item 2'}, {name: 'item 3'}, {name: 'item 2'}], name: 'First Group',},
//		{categories: [{name: 'item 1'}, {name: 'item 3'}], name: 'Second Group'}, {categories: [], name: 'Third Group'}
//];
//		</pre></code>
//	</div>
//</div>
//
//  Markup: tree.hbs
//
//Styleguide 5.1


.tree {
	max-height: 800px;
	overflow-y: auto;
	vertical-align: middle;


	ol {
		list-style: none;
	}

	li{
		border-top: 1px solid $gray012;
	}
}

.angular-ui-tree-handle .tree-line-right {
	opacity:1;
	float:right;
	text-align: center;
	color: $text-color-standard;

	i{
		opacity:0;
	}
}

.angular-ui-tree-handle.selected span i{
	opacity:1;
}

.angular-ui-tree-handle {
	@extend .wfm-block;
	cursor: pointer;
	font-weight: 500;
	transition: $transition-timing;
	border-left: 3px solid transparent;

	&:hover {
		background-color: $gray-300;
	}
}

.angular-ui-tree-handle.selected {
	padding-left: 5px;
	border-left: 3px solid $pink-500;
	background-color: $green-100;
}

.angular-ui-tree-handle.selected.ng-hide {
	display:block!important;
	line-height:inherit;
}

.angular-ui-tree-handle.ng-hide {
	line-height:0;
}

.toggle-handle {
	display: inline-block;
	width: 25px;
	height: 25px;
	cursor: pointer;
	margin-right: 5px;
	padding-top: 4px;
}

.toggle-handle.open i {
	transition: $transition-timing;
	transform: rotate(90deg);
}

.tree-toggle-group{
	display:flex;
	display: -ms-flexbox;
}

.tree-handle-wrapper{
	width:100%;
}
