//Trees
//
// Based on angular tree
//
//Markup:
//<div class="tree">
//	<div ui-tree>
//		<ol class="tree-line angular-ui-tree-nodes">
//			<li ui-tree-node>
//				<div>
//					Parent
//					<ol>
//						<li class="angular-ui-tree-handle">
//							child
//						</li>
//						<li class="angular-ui-tree-handle">
//							child
//						</li>
//						<li class="angular-ui-tree-handle">
//							child
//						</li>
//					</ol>
//				</div>
//			</li>
//			<li ui-tree-node>
//				<div>
//					Parent
//					<ol>
//						<li class="angular-ui-tree-handle">
//							child
//						</li>
//					</ol>
//				</div>
//			</li>
//		</ol>
//	</div>
//</div>
//
//Styleguide 1.3
//


.tree {
	max-height: 800px;
	overflow-y: auto;
	padding-bottom: 5px;
	background-color: #f5f5f5;
	box-shadow: inset  0px 2px 5px 0px rgba(0, 0, 0, 0.16);
	list-style-type: none;
}

.tree-line div{
	padding: $half-padding;
	margin: 2px;
}

.angular-ui-tree-handle {
	cursor: pointer;
	font-weight: 500;
	&:hover {
		background-color: $gray012;
	}
}

.angular-ui-tree-handle.selected {
	background-color: $blue-500;
	&:hover {
		background-color: $blue-300;
	}
}