//Text
//
//Styleguide 1.11
//

//Typography
//
//Our standard font-family is 14px Calibri ('Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif). Avoid introducing other font types or sizes as this may lead to issues with layout or translation.
//We use h4 as our default header (see the navbar chapter). Bold text can be used as a secondary header.
//
//Markup:
//<h1>View header</h1>
//<h2>Panel header</h2>
//<h3>Sub header</h3>
//<p>Simple text</p>
//
//Styleguide 1.11.1
//

//Language
//
//The way we adress the user must also be concistent. Feeling familiar can help the user make quicker actions, even in unfamiliar modules.
//
//Styleguide 5
//

//Usage
//
//By keeping common terms the same everywhere, we not only help the user but also save translation resources. 
//
//Markup:
//<table class="wfm-table">
//<thead><tr><th>Do</th><th>Don't</th><th>Distinction</th></tr></thead>
//<tbody>
//	<tr><td>Add</td><td>New</td><td>Add sounds more positive.</td></tr>
//	<tr><td>Search</td><td>Find</td><td>We can't promise the user we will find something.</td></tr>
//	<tr><td>Manage</td><td>Handle</td><td>Manage sounds more positive.</td></tr>
//	<tr><td>Edit</td><td>Modify</td><td>Edit is more commonly used.</td></tr>
//	<tr><td>Refresh</td><td>Update</td><td>Refresh is more commonly used.</td></tr>
//	<tr><td>OK</td><td>Agree</td><td>Use OK if needed but try to use something that describes the action better.</td></tr>
//	<tr><td>Delete/ Remove/ Hide</td><td>Clear</td><td>Use delete for permanent actions, remove for non permanent actions and hide to hide for just that user.</td></tr>
//	<tr><td>Select</td><td>Choose</td><td>Select sounds more positive, choose sounds limiting and demanding.</td></tr>
//	<tr><td>Send/Apply/Save</td><td>Submit</td><td>Use send for actions that need further actions (a request for example), Use save for saving new or changed parameters, apply can be used where appropriate.</td></tr>
//	<tr><td>Show</td><td>Display/view</td><td>Show sounds more positive and less formal.</td></tr>
//	<tr><td>Cancel/Dismiss</td><td>-</td><td>Use cancel for cancelling actions. Use dismiss for removing information where no action from the user is required (like modals without actions).</td></tr>
// </tbody>
//</table>
//
//Styleguide 5.1
//

h1,h2,h3,h4,h5,h6{
	margin-top:10px!important;
	margin-bottom:10px!important;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.1;
  color: inherit;
}

h1{
	font-size: 18px;
}

h2{
	font-size: 16px;
}

h3{
	font-size: 14px;
	font-weight: bold;
}


// Helper classes for text
//
//Helper classes can be used if text needs to have a color association. Please remember that this can cause problems for people who are color-blind so use with care.
//
//Markup:
//<p class="text-muted">Fusce dapibus, tellus ac cursus commodo</p>
//<p class="text-success">Fusce dapibus, tellus ac cursus commodo</p>
//<p class="text-warning">Fusce dapibus, tellus ac cursus commodo</p>
//<p class="text-danger">Fusce dapibus, tellus ac cursus commodo</p>
//
//Styleguide 1.11.3
//

.text-muted {
	color: $gray054;
}

.text-success {
	color: $green-300;
}

.text-warning {
	color: $orange-600;
}

.text-danger {
	color: $red-600;
}
