//Main colors
//
//
// If you are in a sass environment you can use sass variables for these
//
//Blue - Primary color
//	<ul class="swatch-list">
//		<li class="spacer material-depth-1 blue-100-swatch">
//          <p>$blue-100 #99D6FF</p>
//		</li>
//		<li class="spacer material-depth-1 blue-300-swatch">
//        	<p>$blue-300 #66C2FF</p>
//		</li>
//		<li class="spacer material-depth-1 blue-500-swatch">
//          <p class="white-color-text">$blue-500 #0099FF</p>
//		</li>
//	</ul>
//
//Orange - Reserved for warnings
//	<ul class="swatch-list">
//		<li class="spacer material-depth-1 orange-400-swatch">
//          <p>$orange-400 #FFC285</p>
//		</li>
//		<li class="spacer material-depth-1 orange-500-swatch">
//          <p>$orange-500 #FB8C00</p>
//		</li>
//		<li class="spacer material-depth-1 orange-600-swatch">
//          <p>$orange-600 #FB8C00</p>
//		</li>
//	</ul>
//
//Red - Reserved for errors
//<ul class="swatch-list">
//		<li class="spacer material-depth-1 red-600-swatch">
//          <p>$red-600 #EE8F7D</p>
//		</li>
//		<li class="spacer material-depth-1 red-700-swatch">
//          <p class="white-color-text">$red-700 #EE8F7D</p>
//		</li>
//		<li class="spacer material-depth-1 red-800-swatch">
//          <p class="white-color-text">$red-800 #EE8F7D</p>
//		</li>
//</ul>
//
//Green - Reserved for selection/success
//	<ul class="swatch-list">
//		<li class="spacer material-depth-1 green-100-swatch">
//          <p>$green-100 #C2E085</p>
//		</li>
//		<li class="spacer material-depth-1 green-300-swatch">
//         <p>$green-300 #9CCC65</p>
//		</li>
//		<li class="spacer material-depth-1 green-500-swatch">
//         <p>$green-500 #9CCC65</p>
//		</li>
//	</ul>
//
//<div class="md-col6">
//Pink
//	<ul class="swatch-list">
//		<li class="spacer material-depth-1 pink-100-swatch">
//          <p>$pink-100 #F488C8</p>
//		</li>
//		<li class="spacer material-depth-1 pink-300-swatch">
//          <p class="white-color-text">$pink-300 #EC38A3</p>
//		</li>
//		<li class="spacer material-depth-1 pink-500-swatch">
//          <p class="white-color-text">$pink-500 #EC38A3</p>
//		</li>
//	</ul>
//
//Purple
//	<ul class="swatch-list">
//		<li class="spacer material-depth-1 purple-100-swatch">
//          <p>$purple-100 #F488C8</p>
//		</li>
//		<li class="spacer material-depth-1 purple-300-swatch">
//          <p class="white-color-text">$purple-300 #EC38A3</p>
//		</li>
//		<li class="spacer material-depth-1 purple-500-swatch">
//          <p class="white-color-text">$purple-500 #EC38A3</p>
//		</li>
//	</ul>
//
//Teal
//	<ul class="swatch-list">
//		<li class="spacer material-depth-1 teal-100-swatch">
//          <p>$teal-100 #F488C8</p>
//		</li>
//		<li class="spacer material-depth-1 teal-300-swatch">
//          <p>$teal-300 #EC38A3</p>
//		</li>
//		<li class="spacer material-depth-1 teal-500-swatch">
//          <p class="white-color-text">$teal-500 #EC38A3</p>
//		</li>
//	</ul>
//
//Brown
//	<ul class="swatch-list">
//		<li class="spacer material-depth-1 brown-100-swatch">
//          <p>$brown-100 #F488C8</p>
//		</li>
//		<li class="spacer material-depth-1 brown-300-swatch">
//          <p class="white-color-text">$brown-300 #EC38A3</p>
//		</li>
//		<li class="spacer material-depth-1 brown-500-swatch">
//          <p class="white-color-text">$brown-500 #EC38A3</p>
//		</li>
//	</ul>
//
//Gray
//	<ul class="swatch-list">
//		<li class="spacer material-depth-1 white-swatch">
//          <p>$white</p>
//		</li>
//		<li class="spacer material-depth-1 gray-012-swatch">
//          <p>$gray012</p>
//		</li>
//		<li class="spacer material-depth-1 gray-300-swatch">
//          <p>$gray-300 #E0E0E0</p>
//		</li>
//		<li class="spacer material-depth-1 gray-026-swatch">
//         <p>$gray026</p>
//		</li>
//		<li class="spacer material-depth-1 gray-054-swatch">
//          <p>$gray054</p>
//		</li>
//		<li class="spacer material-depth-1 gray-087-swatch">
//          <p>$gray087</p>
//		</li>
//		<li class="spacer material-depth-1 gray-100-swatch">
//          <p>$gray100</p>
//		</li>
//	</ul>
//
//Styleguide 3.1

$blue-500: #0099FF; /*Teleopti blue*/
$blue-300: #66c2ff; //#64b5f6;
$blue-100: #99d6ff; //#BBDEFB;

$orange-400: #ffc285;
$orange-500: #FFA726;
$orange-600: #FB8C00;

$green-500: #8BC34A;
$green-300: #9CCC65;
$green-100: #c2e085;

$red-800: #D32F2F;
$red-700: #EF5350;
$red-600: #ee8f7d;

$purple-100:#E1BEE7;
$purple-300:#BA68C8;
$purple-500:#9C27B0;

$brown-100:#D7CCC8;
$brown-300:#A1887F;
$brown-500:#795548;

$pink-500: #E91E63;
$pink-300: #F06292;
$pink-100: #F8BBD0;

$teal-500: #009688;
$teal-300: #4DB6AC;
$teal-100: #B2DFDB;

$gray-500: #9E9E9E;
$gray-300: #E0E0E0;
$gray-100: #F5F5F5;
$gray012: rgba(0,0,0,0.06);
$gray026: rgba(0,0,0,0.26);
$gray054: rgba(0,0,0,0.54);
$gray087: rgba(0,0,0,0.87);
$gray100: rgba(0,0,0,1);
$white: #ffffff;

$full-padding: 5px; /*sets wfm-block*/
$half-padding: 3px;
$transition-timing: all 0.5s ease-in-out;

// These classes are just for styleguide
.swatch-list {

	.blue-500-swatch {
			background:$blue-500!important;
	}
	.blue-300-swatch {
			background:$blue-300!important;
	}
	.blue-100-swatch {
			background:$blue-100!important;
	}

	.green-500-swatch {
		background:$green-500!important;
	}
	.green-300-swatch {
		background:$green-300!important;
	}
	.green-100-swatch {
		background:$green-100!important;
	}

	.purple-100-swatch {
		background:$purple-100!important;
	}
	.purple-300-swatch {
		background:$purple-300!important;
	}
	.purple-500-swatch {
		background:$purple-500!important;
	}

	.brown-100-swatch {
		background:$brown-100!important;
	}
	.brown-300-swatch {
		background:$brown-300!important;
	}
	.brown-500-swatch {
		background:$brown-500!important;
	}

	.teal-100-swatch {
		background:$teal-100!important;
	}
	.teal-300-swatch {
		background:$teal-300!important;
	}
	.teal-500-swatch {
		background:$teal-500!important;
	}

	.pink-500-swatch {
		background:$pink-500!important;
	}
	.pink-300-swatch {
		background:$pink-300!important;
	}
	.pink-100-swatch {
		background:$pink-100!important;
	}

	.orange-400-swatch {
			background:$orange-400!important;
	}
	.orange-500-swatch {
			background:$orange-500!important;
	}
	.orange-600-swatch {
			background:$orange-600!important;
	}
	.red-800-swatch {
			background:$red-800!important;
	}
	.red-700-swatch {
			background:$red-700!important;
	}
	.red-600-swatch {
			background:$red-600!important;
	}
	.gray-054-swatch {
			background:$gray054!important;
	}
	.gray-300-swatch {
			background:$gray-300!important;
	}
	.gray-012-swatch {
			background:$gray012!important;
	}
	.gray-026-swatch {
			background:$gray026!important;
	}
	.gray-087-swatch {
			background:$gray087!important;
	}
	.gray-100-swatch {
			background:$gray100!important;
	}
	.white-swatch {
			background:$white!important;
	}

	li{
		position:relative;
		width: 100px;
		height: 100px;

		.white-color-text{
			color:$white;
		}

		p{
			left:0;
			right:0;
			bottom:0;
			position:absolute;
		}
	}
}
