//Colors
//
//
//Styleguide 2
//
// If you are in a sass environment you can use sass variables

// Plop
//
//Blue
//	<ul class="swatch-list">
//		<li class="spacer material-depth-2 blue-100-swatch"></li>
//		<li class="spacer material-depth-2 blue-300-swatch"></li>
//		<li class="spacer material-depth-2 blue-500-swatch"></li>
//		
//	</ul>
//
//Orange
//	<ul class="swatch-list">
//		<li class="spacer material-depth-2 orange-400-swatch"></li>
//		<li class="spacer material-depth-2 red-600-swatch"></li>
//	</ul>
//
//Green
//	<ul class="swatch-list">
//		<li class="spacer material-depth-2 green-100-swatch"></li>
//		<li class="spacer material-depth-2 green-400-swatch"></li>
//	</ul>
//
//Pink
//	<ul class="swatch-list">
//		<li class="spacer material-depth-2 pink-100-swatch"></li>
//		<li class="spacer material-depth-2 pink-500-swatch"></li>
//	</ul>
//
//Gray
//	<ul class="swatch-list">
//		<li class="spacer material-depth-2 gray-012-swatch"></li>
//		<li class="spacer material-depth-2 gray-300-swatch"></li>
//		<li class="spacer material-depth-2 gray-026-swatch"></li>
//		<li class="spacer material-depth-2 gray-054-swatch"> </li>
//		<li class="spacer material-depth-2 gray-087-swatch"></li>
//		<li class="spacer material-depth-2 gray-100-swatch"></li>
//	</ul>
//
//Styleguide 2.1

$blue-500: #0099FF; /*Teleopti blue*/
$blue-300: #66c2ff; //#64b5f6;
$blue-100: #99d6ff; //#BBDEFB;

$orange-400: #ffc285;
$orange-600: #FB8C00;
$green-400: #9CCC65;
$green-100: #c2e085;
$red-600: #ee8f7d;

$pink-500: #ec38a3;
$pink-100: #f488c8;

$gray-100: #f5f5f5;
$gray-300: #E0E0E0;
$gray012: rgba(0,0,0,0.06);
$gray026: rgba(0,0,0,0.26);
$gray054: rgba(0,0,0,0.54);
$gray087: rgba(0,0,0,0.87);
$gray100: rgba(0,0,0,1);
$white: #ffffff;

$full-padding: 5px; /*sets wfm-block*/
$half-padding: 3px; 
$transition-timing: all .2s ease-in-out;

// These classes are just for styleguide
.swatch-list {

	.blue-500-swatch {
			background:$blue-500!important;
	}
	.blue-300-swatch {
			background:$blue-300!important;
	}
	.blue-100-swatch {
			background:$blue-100!important;
	}
	
	.green-400-swatch {
		background:$green-400!important;
	}
	.green-100-swatch {
		background:$green-100!important;
	}
	
	.pink-500-swatch {
		background:$pink-500!important;
	}
	.pink-100-swatch {
		background:$pink-100!important;
	}
	
	.orange-400-swatch {
			background:$orange-400!important;
	}
	.red-600-swatch {
			background:$red-600!important;
	}
	.gray-054-swatch {
			background:$gray054!important;
	}
	.gray-300-swatch {
			background:$gray-300!important;
	}
	.gray-012-swatch {
			background:$gray012!important;
	}
	.gray-026-swatch {
			background:$gray026!important;
	}
	.gray-087-swatch {
			background:$gray087!important;
	}
	.gray-100-swatch {
			background:$gray100!important;
	}
}
