// Working hours picker
//
//A directive for specifying the week day and time range. It is built taking the time range picker as a dependency.
//
//<table class="wfm-table">
//<tr><th>Attribute Name</th><th>Usage</th><th>Required</th></tr>
//<tr><td>working-hours</td><td>Bind to time range object</td><td>true</td></tr>
//<tr><td>disable-next-day</td><td>Disable next-day switch</td><td>false</td></tr>
//<tr><td>template-url</td><td>Use a custom template</td><td>false</td></tr>
//</table>
//</br>
//
//Markup:
//	<working-hours-picker class="working-hours-picker" working-hours="workingHours" disable-next-day="disableNextDay"></working-hours-picker>
//
//Styleguide 2.7
//

.working-hours-radio{
  margin-top: $full-padding;
  display: flex;
}

.working-hours-row{
	border-top: 1px solid $gray012;
}
