<div class="big-table-wrapper material-depth-1">
<div class="wfm-block">
<h4>Numbers <span><i class="mdi mdi-arrow-up"></i><i class="mdi mdi-plus"></i></span></h4>
</div>
<div ui-grid="gridOptions" ui-grid-exporter ui-grid-auto-resize ui-grid-selection class="myGrid"></div>
<div class="wfm-block">
<div class="big-table-footer-actions">
<button class="wfm-btn wfm-btn-invis-default">Default</button>
<button class="wfm-btn wfm-btn-invis-primary">Primary</button>
</div>
</div>
</div>