<div class="big-table-wrapper material-depth-1">
<div class="wfm-block">
<h4>Table with numbers</h4>
</div>
<div ui-grid="gridOptions" ui-grid-exporter ui-grid-auto-resize ui-grid-selection class="myGrid"></div>
<div class="wfm-block">
<div class="big-table-footer-actions">
	<p>Number of selected rows:0</p>
</div>
</div>
</div>