<selectable-data-grid record-items="recordItems" starting-offset="2" items-per-row="4" grid-headers="gridHeaders">
    <selectable-data-grid-cell unselectable=" $colIndex == 0">
        <div>ID: <span ng-bind="$item.id"></span></div>
        <div>TEXT: <span ng-bind="$item.text"></span></div>
    </selectable-data-grid-cell>
</selectable-data-grid>