<label>Template type:</label>
<select ng-model="dateRangeTemplateType" ng-options="option for option in dateRangeTemplateTypes"></select>
<date-range-picker ng-model="dateRange" template-type="dateRangeTemplateType" custom-validators="dateRangeCustomValidators">
</date-range-picker>

<!--
  dateRangeCustomValidators = [{
     key: 'lessThan7Days',
     message: 'DateRangeMustBeLessThanSevenDays',
     validate: function(start, end) {
        return moment(end).diff(moment(start), 'days') <= 7;
     }
  }];
-->
