<label>Template type:</label>
<md-select ng-model="dateRangeTemplateType" aria-label="templateType">
  <md-option ng-repeat="option in dateRangeTemplateTypes" ng-value="option">
	<span ng-bind="option"></span>
  </md-option>
</md-select>



<div class="con-row">
  <div class="con-flex">
    <date-range-picker ng-model="dateRange" template-type="dateRangeTemplateType" custom-validators="dateRangeCustomValidators"></date-range-picker>
  </div>
</div>

<!--
  dateRangeCustomValidators = [{
     key: 'lessThan7Days',
     message: 'DateRangeMustBeLessThanSevenDays',
     validate: function(start, end) {
        return moment(end).diff(moment(start), 'days') <= 7;
     }
  }];
-->
