@charset "UTF-8";
/*Teleopti blue*/
/*sets wfm-block*/
.swatch-list .blue-500-swatch {
  background: #0099FF !important; }
.swatch-list .blue-300-swatch {
  background: #66c2ff !important; }
.swatch-list .blue-100-swatch {
  background: #99d6ff !important; }
.swatch-list .green-400-swatch {
  background: #9CCC65 !important; }
.swatch-list .green-100-swatch {
  background: #c2e085 !important; }
.swatch-list .pink-500-swatch {
  background: #ec38a3 !important; }
.swatch-list .pink-100-swatch {
  background: #f488c8 !important; }
.swatch-list .orange-400-swatch {
  background: #ffc285 !important; }
.swatch-list .red-600-swatch {
  background: #ee8f7d !important; }
.swatch-list .gray-054-swatch {
  background: rgba(0, 0, 0, 0.54) !important; }
.swatch-list .gray-300-swatch {
  background: #E0E0E0 !important; }
.swatch-list .gray-012-swatch {
  background: rgba(0, 0, 0, 0.06) !important; }
.swatch-list .gray-026-swatch {
  background: rgba(0, 0, 0, 0.26) !important; }
.swatch-list .gray-087-swatch {
  background: rgba(0, 0, 0, 0.87) !important; }
.swatch-list .gray-100-swatch {
  background: black !important; }

body {
  color: rgba(0, 0, 0, 0.87); }

*:focus {
  outline: -webkit-focus-ring-color auto 0; }

body {
  background-color: rgba(0, 0, 0, 0.06);
  font-size: 16px;
  font-family: Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif !important; }

.material-depth-1, .wfm-btn-default, .wfm-btn-primary, .wfm-fab, .sidenav-toggle .sidenav-wrapper {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26); }

.material-depth-2, .wfm-btn-default:hover, .wfm-btn-primary:hover, .wfm-fab:hover {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2); }

.material-trench-1, .tree, .wfm-leave-behind {
  -webkit-box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.16);
  box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.16); }

.material-header {
  background-color: #0099FF;
  position: absolute;
  min-height: 130px;
  width: 100%;
  top: 0;
  z-index: -1; }

.material-block {
  height: 100%;
  padding: 5px;
  background-color: #ffffff; }

.container-block {
  background-color: #f5f5f5; }

.wfm-block, .tile-footer, .angular-ui-tree-handle, .wfm-list li, select option, .wfm-radio, .wfm-checkbox, .sub-header, .bottom-header, .inner i, .tab-group .tab-container, .notice, .notification-list li {
  padding: 5px;
  width: 100%; }

.material-block-content {
  padding: 5px;
  vertical-align: middle; }

.material-title {
  color: rgba(0, 0, 0, 0.54); }

.layout-container {
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row; }

.layout-container .content {
  -webkit-flex: auto;
  flex: auto;
  padding: 10px;
  flex-basis: 70%;
  margin: 10px; }

.wfm-progress-bar {
  background: #99d6ff;
  height: 5px;
  width: 0;
  margin: 0;
  max-width: 100%;
  border-radius: 0 !important; }

.help-text {
  background-color: #ffffff;
  text-align: center;
  padding: 5px; }

.help-widget {
  position: absolute;
  bottom: 0; }

.tile-footer {
  background-color: #ffffff;
  border-top: 1px solid rgba(0, 0, 0, 0.06);
  text-align: right; }

.tree {
  max-height: 800px;
  overflow-y: auto;
  background-color: #f5f5f5;
  vertical-align: middle; }
  .tree ol {
    list-style: none; }
  .tree li {
    border-top: 1px solid rgba(0, 0, 0, 0.06); }

.angular-ui-tree-handle.selected:after {
  float: right;
  height: 25px;
  width: 25px;
  text-align: center;
  color: rgba(0, 0, 0, 0.87);
  margin-top: -2px;
  padding-top: 2px;
  content: "✓";
  transform: scale(1, 1); }

.angular-ui-tree-handle {
  cursor: pointer;
  font-weight: 500;
  transition: all .2s ease-in-out;
  border-left: 3px solid transparent; }
  .angular-ui-tree-handle:hover {
    background-color: rgba(0, 0, 0, 0.06); }

.angular-ui-tree-handle.selected {
  padding-left: 5px;
  border-left: 3px solid #ec38a3;
  background-color: #c2e085; }

.toggle-handle {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 5px;
  padding-top: 4px; }

.toggle-handle.open i {
  transform: rotate(90deg); }

.tree-toggle-group {
  display: flex; }

.wfm-list {
  padding-left: 0px;
  list-style: none; }
  .wfm-list .active {
    border-left: 3px solid #ec38a3;
    background-color: #ffffff; }

.wfm-list li {
  cursor: pointer;
  overflow: hidden;
  background-color: #f5f5f5;
  border-left: 3px solid transparent;
  border-top: 1px solid rgba(0, 0, 0, 0.06);
  /*
	&:active, &:focus, &:active:hover, &:focus:hover {
		background-color: $blue-500 !important;
	}
	*/ }
  .wfm-list li:hover {
    border-left: 3px solid #E0E0E0; }

.wfm-list-item-selected {
  border-left: 3px solid #ec38a3 !important;
  background-color: #ffffff !important; }

.wfm-leave-behind {
  width: 0;
  float: right;
  overflow: hidden;
  margin-top: -12px;
  margin-bottom: -12px;
  margin-right: -5px;
  background-color: rgba(0, 0, 0, 0.06);
  transition: all .2s ease-in-out;
  padding-top: 12px;
  padding-bottom: 5px; }
  .wfm-leave-behind span {
    white-space: nowrap; }
  .wfm-leave-behind i {
    position: justify;
    padding-left: 5px;
    padding-top: 2px;
    font-size: 18px;
    margin: 0 5px; }
  .wfm-leave-behind p {
    padding-left: 5px;
    margin: 0 5px; }
  .wfm-leave-behind:before {
    color: #99d6ff;
    content: "<";
    width: 5px;
    height: 10px;
    margin-left: -22px;
    position: absolute;
    padding: 0 5px; }

.wfm-list li:hover > .wfm-leave-behind {
  width: 110px; }

@-webkit-keyframes tooltipBackgroundShow {
  0% {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    opacity: 0.25; }

  50% {
    opacity: 1; }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }

@keyframes tooltipBackgroundShow {
  0% {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    opacity: 0.25; }

  50% {
    opacity: 1; }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }

@-webkit-keyframes tooltipBackgroundHide {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@keyframes tooltipBackgroundHide {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

md-tooltip {
  position: absolute;
  font-size: 14px;
  z-index: 999;
  overflow: hidden;
  pointer-events: none;
  border-radius: 4px;
  /**
   * Depending on the tooltip's size as a multiple of 32 (set by JS),
   * change the background's animation duration.
   * The larger the tooltip, the less time the background should take to ripple outwards.
   */ }

md-tooltip[md-direction="bottom"] {
  -webkit-transform: translate3d(0, -30%, 0);
  transform: translate3d(0, -30%, 0);
  margin-top: 8px; }

md-tooltip[md-direction="top"] {
  -webkit-transform: translate3d(0, 30%, 0);
  transform: translate3d(0, 30%, 0);
  margin-bottom: 8px; }

md-tooltip .md-background {
  background: #9CCC65;
  position: absolute;
  left: 50%;
  width: 256px;
  height: 256px;
  margin-left: -128px;
  margin-top: -128px;
  border-radius: 256px;
  opacity: 0.25;
  -webkit-transform: scale(0.2);
  transform: scale(0.2); }

md-tooltip .md-content {
  max-width: 240px;
  white-space: nowrap;
  overflow: hidden;
  color: white;
  text-overflow: ellipsis;
  padding: 8px;
  background: transparent;
  opacity: 0.3;
  transition: inherit; }

md-tooltip.md-hide {
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2); }

md-tooltip.md-show {
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  pointer-events: auto;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

md-tooltip.md-show .md-background {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-animation: tooltipBackgroundShow linear;
  animation: tooltipBackgroundShow linear; }

md-tooltip.md-show .md-content {
  opacity: 0.99; }

md-tooltip.md-hide .md-background {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 0;
  -webkit-animation: tooltipBackgroundHide 0.2s linear;
  animation: tooltipBackgroundHide 0.2s linear; }

md-tooltip[width-32="1"].md-show .md-background {
  -webkit-animation-duration: 90ms;
  animation-duration: 90ms; }

md-tooltip[width-32="2"].md-show .md-background {
  -webkit-animation-duration: 80ms;
  animation-duration: 80ms; }

md-tooltip[width-32="3"].md-show .md-background {
  -webkit-animation-duration: 70ms;
  animation-duration: 70ms; }

md-tooltip[width-32="4"].md-show .md-background {
  -webkit-animation-duration: 60ms;
  animation-duration: 60ms; }

md-tooltip[width-32="5"].md-show .md-background {
  -webkit-animation-duration: 50ms;
  animation-duration: 50ms; }

md-tooltip[width-32="6"].md-show .md-background {
  -webkit-animation-duration: 40ms;
  animation-duration: 40ms; }

md-tooltip[width-32="7"].md-show .md-background {
  -webkit-animation-duration: 30ms;
  animation-duration: 30ms; }

md-tooltip[width-32="8"].md-show .md-background {
  -webkit-animation-duration: 20ms;
  animation-duration: 20ms; }

input {
  font-size: 14px; }

input[type='text'], select {
  border: none;
  color: rgba(0, 0, 0, 0.87);
  border-bottom: 1px solid #E0E0E0; }
  input[type='text']:focus, select:focus {
    border: none;
    outline: none;
    border-bottom: 2px solid #ec38a3; }

.input-prepend {
  width: 100%; }
  .input-prepend i {
    display: inline-block;
    width: 5%; }
  .input-prepend input[type='text'] {
    display: inline-block;
    width: 92%;
    margin: 5px 0;
    padding: 5px 5px 2px; }

.input-append {
  width: 100%; }
  .input-append i {
    display: inline-block;
    font-weight: 600;
    width: 5%; }
  .input-append input[type='text'] {
    display: inline-block;
    width: 92%;
    margin: 5px 0;
    padding: 5px 5px 2px; }

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: rgba(0, 0, 0, 0.26); }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: rgba(0, 0, 0, 0.26);
  opacity: 1; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: rgba(0, 0, 0, 0.26);
  opacity: 1; }

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: rgba(0, 0, 0, 0.26); }

.wfm-radio {
  cursor: pointer; }
  .wfm-radio input[type='radio'] {
    display: none; }
  .wfm-radio label {
    width: 18px;
    height: 18px;
    border-radius: 4px;
    text-align: center;
    margin-left: 23px;
    white-space: nowrap;
    transition: all .2s ease-in-out; }
  .wfm-radio label:before {
    background-color: #E0E0E0;
    content: "";
    border-radius: 50%;
    display: block;
    width: 20px;
    height: 20px;
    color: #ffffff;
    position: absolute; }
  .wfm-radio input[type=radio]:checked ~ label:before {
    background-color: #66c2ff; }

.wfm-slider {
  width: 48px;
  height: 18px;
  margin: 5px;
  position: relative; }
  .wfm-slider input[type='checkbox'] {
    display: none; }
  .wfm-slider label {
    position: absolute;
    background-color: #E0E0E0;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    -webkit-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out; }
  .wfm-slider label:after {
    content: "";
    display: block;
    width: 14px;
    height: 14px;
    border-radius: 44px;
    cursor: pointer;
    position: absolute;
    top: 2px;
    z-index: 1;
    left: 5px;
    background-color: #ffffff;
    -webkit-transition: left .2s ease-in-out;
    transition: left .2s ease-in-out; }
  .wfm-slider input[type=checkbox]:checked ~ label {
    background-color: #66c2ff; }
  .wfm-slider input[type=checkbox]:checked ~ label:after {
    left: 30px; }
  .wfm-slider span {
    /*Slider width + 5px*/
    margin-left: 53px;
    white-space: nowrap; }

.wfm-checkbox {
  margin-left: 5px;
  cursor: pointer; }
  .wfm-checkbox input[type='checkbox'] {
    display: none; }
  .wfm-checkbox label {
    width: 18px;
    height: 18px;
    border-radius: 4px;
    text-align: center;
    margin-left: 23px;
    white-space: nowrap;
    transition: all .2s ease-in-out; }
  .wfm-checkbox label:before {
    background-color: #E0E0E0;
    content: "";
    border-radius: 2px;
    display: block;
    width: 20px;
    height: 20px;
    color: #ffffff;
    position: absolute; }
  .wfm-checkbox input[type=checkbox]:checked ~ label:before {
    background-color: #66c2ff;
    content: "✓"; }

.sub-header {
  background-color: #66c2ff;
  color: rgba(0, 0, 0, 0.87); }

.bottom-header {
  background-color: #99d6ff;
  color: rgba(0, 0, 0, 0.87);
  border-bottom: 1px solid rgba(0, 0, 0, 0.06); }

.sidenav-header {
  width: 100%;
  padding: 10px !important;
  background-color: #66c2ff;
  color: rgba(0, 0, 0, 0.87);
  border-bottom: 1px solid rgba(0, 0, 0, 0.06); }

.navbar {
  background-color: #0099FF;
  border-radius: 0;
  border: none;
  margin-bottom: 0; }
  .navbar a {
    color: #ffffff !important;
    text-decoration: none;
    display: inline-block; }
  .navbar .brand {
    color: #ffffff !important;
    font-weight: bold; }
  .navbar .content {
    height: 50px;
    padding: 15px;
    font-size: 18px;
    line-height: 20px;
    margin-left: -15px; }
  .navbar .wfm-container {
    padding-left: 5px; }
  .navbar .breadbin {
    margin-left: 30px;
    font-size: 75%; }
  .navbar .right-actions {
    position: absolute;
    right: 5px;
    top: 30%; }
  .navbar .right-actions span {
    display: inline-block; }
  .navbar .right-actions i {
    color: #ffffff; }

/*search*/
.global-search {
  font-size: 14px !important;
  padding-left: 5px;
  width: 27rem; }

.search-results {
  position: fixed;
  width: 270px;
  font-size: 14px;
  display: block;
  max-height: 75%;
  overflow-y: scroll;
  margin: 5px 23px; }
  .search-results .category-icon {
    border-radius: 50%;
    width: 25px;
    margin-right: 5px;
    height: 25px;
    vertical-align: middle;
    background-color: lightgray; }

/*
.animate-repeat {
	list-style:none;
	box-sizing:border-box;
}

 animte the search results

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
	-webkit-transition:all 0.3s ease-in;
	transition:all 0.3s ease-in;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
	opacity: 0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
	opacity: 1;
}

.animate-repeat.ng-leave-stagger, .animate-repeat.ng-enter-stagger {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;

	-webkit-transition-duration: 0s;
	transition-duration: 0s;
} 
*/
.wfm-btn {
  border: none;
  padding: 10px;
  margin: 5px;
  border-radius: 3px; }

.wfm-btn-invis-default {
  color: black;
  background-color: transparent; }
  .wfm-btn-invis-default:hover {
    background-color: #ececec; }

.wfm-btn-invis-primary {
  color: #0099FF;
  background-color: transparent; }
  .wfm-btn-invis-primary:hover {
    background-color: #ececec; }

.wfm-btn-invis-disabled {
  color: rgba(0, 0, 0, 0.26);
  background-color: transparent; }
  .wfm-btn-invis-disabled:hover {
    cursor: not-allowed; }

.wfm-btn-default {
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff; }

.wfm-btn-primary {
  color: #ffffff;
  background-color: #0099FF; }

.wfm-fab {
  text-align: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #ffffff;
  background-color: #ffc285; }

.wfm-table {
  width: 100%;
  text-align: left; }

.wfm-table td, th {
  border: 1px solid #f5f5f5;
  color: rgba(0, 0, 0, 0.54);
  padding: 5px; }

.wfm-table th {
  color: rgba(0, 0, 0, 0.87);
  background-color: #99d6ff;
  text-align: center; }

.wfm-table .number-cell {
  text-align: right; }

.wfm-table-multi th:first-child, .wfm-table-multi td:first-child {
  color: rgba(0, 0, 0, 0.87);
  font-weight: 600;
  background-color: #99d6ff; }

/*
// Table symbols
//
//Markup:
//<table class="wfm-table">
//<thead><tr><th>name</th><th>column header</th></tr></thead>
//<tbody>
//	<tr class="staffing-row"><td>staffing</td><td class="number-cell">
//	1
//</td></tr>
//<tr class="notice-row"><td>notice</td><td class="number-cell">
//	3
//</td></tr>
//<tr class="error-row"><td>error</td><td class="number-cell">
//	3
//</td></tr>
// </tbody>
//</table>
//
//Styleguide 1.8.3
//

tr {
	&.notice-row {
		background-color: $orange-600;
	}
	
	&.staffing-row {
		background-color: $blue-500;
	}
	
	&.error-row {
		background-color: $red-600;
	}
}*/
.modal-box .modalbg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: transparent;
  z-index: 99999;
  transition: all 0.1s ease-in-out;
  display: block;
  pointer-events: none; }
.modal-box .modalbg .dialog {
  width: 400px;
  position: relative;
  top: -1000px;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  background: #ffffff; }
.modal-box .modalbg:target {
  display: block;
  pointer-events: auto;
  background: rgba(0, 0, 0, 0.26);
  transition: all .2s ease-in-out; }
.modal-box .modalbg:target .dialog {
  top: -20px;
  transition: all .2s ease-in-out;
  -transition-delay: 0.4s; }
.modal-box .dismiss {
  float: right;
  font-size: 18px; }
.modal-box i {
  color: rgba(0, 0, 0, 0.26); }

.wfm-accordion {
  width: 100%; }

.wfm-accordion ul {
  list-style: none;
  cursor: pointer; }

.dropdown {
  width: 25px;
  content: " ";
  position: relative;
  cursor: pointer;
  font-size: 14px; }

.dropdown:focus {
  background-color: #ffffff; }
  .dropdown:focus .inner {
    visibility: visible;
    pointer-events: auto; }
  .dropdown:focus i {
    color: rgba(0, 0, 0, 0.87) !important; }

.inner {
  width: 1200%;
  position: absolute;
  visibility: hidden;
  transition: 0.5s visibility;
  background: #ffffff;
  margin-top: 5px; }
  .inner.right {
    margin-left: -1100%; }

.inner i {
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06); }
  .inner i:hover {
    background-color: rgba(0, 0, 0, 0.06); }

.tab-group {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden; }
  .tab-group input[type=radio] {
    display: none; }
  .tab-group input[type=radio]:checked + .label {
    font-weight: bold !important;
    border-bottom: 3px solid #ec38a3; }
  .tab-group input[type=radio]:checked + .label + section {
    display: block; }
  .tab-group .label {
    color: rgba(0, 0, 0, 0.87);
    padding: 5px !important;
    position: relative;
    cursor: pointer;
    z-index: 2;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    font-weight: normal;
    /*overrides bootstrap*/
    min-width: 100px !important;
    border-bottom: 3px solid #66c2ff;
    background-color: #66c2ff;
    text-align: center;
    transition: all .2s ease-in-out;
    border-radius: 0 !important;
    /*overrides bootstrap*/
    margin-bottom: 0 !important;
    /*overrides bootstrap*/
    font-size: 100% !important;
    /*overrides bootstrap*/ }
  .tab-group section {
    display: none;
    position: relative;
    z-index: 1;
    width: 100%;
    overflow: hidden; }

.notice {
  cursor: pointer;
  margin: 5px;
  color: #111111;
  display: inline-block; }
  .notice.default {
    background-color: #99d6ff; }
  .notice.warning {
    background-color: #FB8C00; }
  .notice.error {
    background-color: #ee8f7d; }
  .notice.detail {
    background: rgba(0, 0, 0, 0.06);
    margin: -5px 5px 5px; }

.notification-list {
  list-style: none;
  padding-left: 0 !important; }
  .notification-list li {
    background-color: rgba(0, 0, 0, 0.06);
    cursor: pointer; }
  .notification-list i {
    padding-right: 5px;
    color: rgba(0, 0, 0, 0.54); }

.mdi:before {
  font-size: 18px !important; }

.sidenav-toggle label {
  background-color: #ffffff;
  text-align: center;
  cursor: pointer;
  transition: all .2s ease-in-out;
  max-width: none;
  margin: 0; }
.sidenav-toggle label i {
  margin: 5px; }

.sidenav-toggle .sidenav-wrapper {
  background-color: #ffffff;
  cursor: pointer;
  margin-top: 10px; }
  .sidenav-toggle .sidenav-wrapper.left {
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.26); }
  .sidenav-toggle .sidenav-wrapper.right {
    box-shadow: -2px 2px 5px 0 rgba(0, 0, 0, 0.26); }

.layout-container .sidenav {
  background-color: #ffffff;
  -webkit-flex: auto;
  flex: auto;
  flex-basis: 15%;
  top: 0;
  height: 1050px;
  bottom: 0;
  transition: all .2s ease-in-out; }

.sidenav.left.ng-hide {
  -webkit-transform: translate(-100%, 0%); }

.sidenav.right.ng-hide {
  -webkit-transform: translate(100%, 0%); }

.help-text {
  background-color: #ffffff;
  text-align: center;
  padding: 5px;
  color: rgba(0, 0, 0, 0.87); }

.help-widget {
  position: absolute;
  bottom: 0; }
