.swatch-list .blue-500-swatch {
  background: #1976D2 !important; }
.swatch-list .blue-300-swatch {
  background: #64b5f6 !important; }
.swatch-list .blue-100-swatch {
  background: #BBDEFB !important; }
.swatch-list .orange-400-swatch {
  background: #FFA726 !important; }
.swatch-list .gray-054-swatch {
  background: rgba(0, 0, 0, 0.54) !important; }
.swatch-list .gray-300-swatch {
  background: #E0E0E0 !important; }
.swatch-list .gray-012-swatch {
  background: rgba(0, 0, 0, 0.06) !important; }
.swatch-list .gray-026-swatch {
  background: rgba(0, 0, 0, 0.26) !important; }
.swatch-list .gray-087-swatch {
  background: rgba(0, 0, 0, 0.87) !important; }
.swatch-list .gray-100-swatch {
  background: black !important; }

.material-depth-1 {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16); }

.material-depth-2 {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.19); }

.material-header {
  background-color: #1976D2;
  position: absolute;
  min-height: 130px;
  width: 100%;
  top: 0;
  z-index: -1; }

.material-block {
  height: 100%;
  min-height: 400px;
  background-color: white;
  border-radius: 2px; }

.material-block-header {
  min-height: 60px;
  border-bottom: 1px solid #E0E0E0;
  padding: 10px; }

.material-block-content {
  padding: 10px;
  vertical-align: middle; }

.material-title {
  color: rgba(0, 0, 0, 0.54); }

.navbar {
  background-color: #1976D2;
  border: none; }
  .navbar a {
    color: white !important; }

.success {
  color: green; }

.fail {
  color: red; }

.filter-form svg {
  margin-top: 8px;
  right: 4%;
  position: absolute; }

.selected {
  background-color: #1976D2;
  color: white;
  padding: 0 3px;
  transition: all 0.5s ease; }

.wfm-toggle-group {
  list-style: none;
  margin: 0;
  padding: 0; }
  .wfm-toggle-group li {
    display: inline-block;
    width: 48%;
    text-align: center; }
    .wfm-toggle-group li label {
      width: 100%;
      padding: 12px;
      margin-top: -1px;
      text-transform: uppercase;
      cursor: pointer;
      font-weight: 500;
      color: rgba(0, 0, 0, 0.54); }
    .wfm-toggle-group li label.active {
      border-top: 3px solid #FFA726;
      font-weight: 700; }

.row > .container {
  padding-bottom: 9px;
  border-bottom: 1px solid #ddd; }

.notice {
  padding-left: 5px;
  padding-top: 12px;
  padding-bottom: 12px; }

.warning {
  color: #111111;
  background-color: #FB8C00; }

.error {
  color: #111111;
  background-color: #ff9934; }

.inline-role-name {
  margin: 0;
  padding: 0;
  width: 60%;
  color: black;
  border-bottom: none !important; }

.role-input {
  color: white;
  background-color: #FFA726; }

.role-container {
  max-height: 800px;
  overflow-y: auto; }

.tree {
  max-height: 800px;
  overflow-y: auto;
  padding-bottom: 5px;
  background-color: #f5f5f5;
  box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.16);
  vertical-align: middle; }

.tree ol {
  list-style: none; }

.tree-line div {
  padding: 3px;
  margin: 2px; }

.tree i {
  font-size: 32px; }

.angular-ui-tree-handle {
  cursor: pointer;
  font-weight: 500; }
  .angular-ui-tree-handle:hover {
    background-color: rgba(0, 0, 0, 0.06); }

.angular-ui-tree-handle.selected {
  background-color: #1976D2; }
  .angular-ui-tree-handle.selected:hover {
    background-color: #64b5f6; }

.wfm-list {
  padding-left: 0px;
  list-style: none;
  margin: 5px; }

.wfm-list-item {
  margin-bottom: 10px;
  padding: 10px;
  cursor: pointer; }
  .wfm-list-item:active, .wfm-list-item:focus, .wfm-list-item:active:hover, .wfm-list-item:focus:hover {
    background-color: #1976D2 !important; }
  .wfm-list-item:hover {
    background-color: #BBDEFB; }

.wfm-list-menu {
  width: 0;
  float: right;
  overflow: hidden;
  display: inline-block;
  transition: all 0.5s ease;
  height: 18px; }

.wfm-list-item-selected {
  background-color: #1976D2;
  color: white; }
  .wfm-list-item-selected svg > path {
    fill: white !important; }
  .wfm-list-item-selected .wfm-list-menu {
    width: 90px; }

.wfm-list-item:hover > .wfm-list-menu {
  width: 90px; }

/*tooltip - this should be removed */
@-webkit-keyframes tooltipBackgroundShow {
  0% {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    opacity: 0.25; }

  50% {
    opacity: 1; }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }

@keyframes tooltipBackgroundShow {
  0% {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    opacity: 0.25; }

  50% {
    opacity: 1; }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }

@-webkit-keyframes tooltipBackgroundHide {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@keyframes tooltipBackgroundHide {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

md-tooltip {
  position: absolute;
  font-size: 14px;
  z-index: 999;
  overflow: hidden;
  pointer-events: none;
  border-radius: 4px;
  /**
   * Depending on the tooltip's size as a multiple of 32 (set by JS),
   * change the background's animation duration.
   * The larger the tooltip, the less time the background should take to ripple outwards.
   */ }

md-tooltip[md-direction="bottom"] {
  -webkit-transform: translate3d(0, -30%, 0);
  transform: translate3d(0, -30%, 0);
  margin-top: 8px; }

md-tooltip[md-direction="top"] {
  -webkit-transform: translate3d(0, 30%, 0);
  transform: translate3d(0, 30%, 0);
  margin-bottom: 8px; }

md-tooltip .md-background {
  background: #1976D2;
  position: absolute;
  left: 50%;
  width: 256px;
  height: 256px;
  margin-left: -128px;
  margin-top: -128px;
  border-radius: 256px;
  opacity: 0.25;
  -webkit-transform: scale(0.2);
  transform: scale(0.2); }

md-tooltip .md-content {
  max-width: 240px;
  white-space: nowrap;
  overflow: hidden;
  color: white;
  text-overflow: ellipsis;
  padding: 8px;
  background: transparent;
  opacity: 0.3;
  transition: inherit; }

md-tooltip.md-hide {
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2); }

md-tooltip.md-show {
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  pointer-events: auto;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

md-tooltip.md-show .md-background {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-animation: tooltipBackgroundShow linear;
  animation: tooltipBackgroundShow linear; }

md-tooltip.md-show .md-content {
  opacity: 0.99; }

md-tooltip.md-hide .md-background {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 0;
  -webkit-animation: tooltipBackgroundHide 0.2s linear;
  animation: tooltipBackgroundHide 0.2s linear; }

md-tooltip[width-32="1"].md-show .md-background {
  -webkit-animation-duration: 900ms;
  animation-duration: 900ms; }

md-tooltip[width-32="2"].md-show .md-background {
  -webkit-animation-duration: 800ms;
  animation-duration: 800ms; }

md-tooltip[width-32="3"].md-show .md-background {
  -webkit-animation-duration: 700ms;
  animation-duration: 700ms; }

md-tooltip[width-32="4"].md-show .md-background {
  -webkit-animation-duration: 600ms;
  animation-duration: 600ms; }

md-tooltip[width-32="5"].md-show .md-background {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms; }

md-tooltip[width-32="6"].md-show .md-background {
  -webkit-animation-duration: 400ms;
  animation-duration: 400ms; }

md-tooltip[width-32="7"].md-show .md-background {
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms; }

md-tooltip[width-32="8"].md-show .md-background {
  -webkit-animation-duration: 200ms;
  animation-duration: 200ms; }

input {
  width: 100%;
  margin: 5px 0;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #E0E0E0 !important; }

.wfm-btn {
  border: none;
  padding: 10px;
  margin: 5px;
  border-radius: 3px; }

.wfm-btn-default {
  color: #0099ff;
  background-color: transparent; }
  .wfm-btn-default:hover {
    background-color: #ececec; }

.wfm-btn-primary {
  color: #8d8d8d;
  background-color: #ececec; }
  .wfm-btn-primary:active {
    color: #ffffff;
    background-color: #0099ff; }

.wfm-btn-active {
  color: #ffffff;
  background-color: #0099ff; }
