@charset "UTF-8";
.swatch-list .blue-500-swatch {
  background: #1976D2 !important; }
.swatch-list .blue-300-swatch {
  background: #64b5f6 !important; }
.swatch-list .blue-100-swatch {
  background: #BBDEFB !important; }
.swatch-list .orange-400-swatch {
  background: #FFA726 !important; }
.swatch-list .red-600-swatch {
  background: #E53935 !important; }
.swatch-list .gray-054-swatch {
  background: rgba(0, 0, 0, 0.54) !important; }
.swatch-list .gray-300-swatch {
  background: #E0E0E0 !important; }
.swatch-list .gray-012-swatch {
  background: rgba(0, 0, 0, 0.06) !important; }
.swatch-list .gray-026-swatch {
  background: rgba(0, 0, 0, 0.26) !important; }
.swatch-list .gray-087-swatch {
  background: rgba(0, 0, 0, 0.87) !important; }
.swatch-list .gray-100-swatch {
  background: black !important; }

body {
  color: rgba(0, 0, 0, 0.87); }

.material-depth-1 {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16); }

.material-depth-2 {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.19); }

.material-trench-1, .wfm-leave-behind {
  -webkit-box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.16);
  box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.16); }

.material-header {
  background-color: #1976D2;
  position: absolute;
  min-height: 130px;
  width: 100%;
  top: 0;
  z-index: -1; }

.material-block {
  height: 100%;
  min-height: 400px;
  background-color: white;
  border-radius: 2px; }

.wfm-block, .notice, .notification-list li, .tree ol, .tree li, .wfm-list li, .wfm-accordion label, .tab-group .tab-container {
  padding: 5px;
  width: 100%; }

.material-block-header {
  min-height: 60px;
  border-bottom: 1px solid #E0E0E0;
  padding: 10px; }

.material-block-content {
  padding: 10px;
  vertical-align: middle; }

.material-title {
  color: rgba(0, 0, 0, 0.54); }

.wfm-progress-bar {
  background: #BBDEFB;
  height: 5px;
  width: 0;
  margin: 0;
  max-width: 100%;
  border-radius: 0 !important; }

.notice {
  cursor: pointer;
  color: #111111;
  display: inline-block; }
  .notice.default {
    background-color: #BBDEFB; }
  .notice.warning {
    background-color: #FB8C00; }
  .notice.error {
    background-color: #E53935; }
  .notice.detail {
    background: rgba(0, 0, 0, 0.06); }

.notification-list {
  list-style: none;
  padding-left: 0 !important; }
  .notification-list li {
    background-color: rgba(0, 0, 0, 0.06);
    cursor: pointer; }
  .notification-list i {
    padding-right: 5px;
    color: rgba(0, 0, 0, 0.54); }

.dropdown {
  cursor: pointer; }
  .dropdown label {
    float: right;
    width: 25px;
    height: 25px;
    border-radius: 4px;
    text-align: center;
    display: inline-block;
    transition: all 0.2s linear 0s;
    cursor: pointer;
    color: #ffffff; }
  .dropdown i {
    margin-left: 12px;
    margin-top: 4px; }
  .dropdown ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    width: 100%; }
  .dropdown li {
    background-color: #ffffff !important;
    margin: 0px;
    padding: 0px;
    width: 150px;
    max-height: 0px;
    overflow: hidden;
    box-sizing: border-box;
    transition: max-height 0.2s linear 0s; }
  .dropdown li span {
    display: inline-block;
    font-size: 14px; }
  .dropdown li:hover {
    background-color: #E0E0E0 !important; }

.dropdown:hover label {
  background: #64b5f6; }

.dropdown:hover li {
  max-height: 60px;
  padding: 5px; }

.tree {
  max-height: 800px;
  overflow-y: auto;
  background-color: #f5f5f5;
  box-shadow: inset 0px 2px 5px 0px rgba(0, 0, 0, 0.16);
  vertical-align: middle; }
  .tree ol {
    list-style: none; }
  .tree li {
    border-left: 2px solid #1976D2; }
    .tree li .active-tree {
      background-color: #ffffff; }

.tree .active:after {
  float: right;
  height: 25px;
  width: 25px;
  border-radius: 50px;
  text-align: center;
  color: #ffffff;
  margin-top: -2px;
  padding-top: 2px;
  background-color: #64b5f6;
  content: "✓"; }

.angular-ui-tree-handle {
  cursor: pointer;
  font-weight: 500; }
  .angular-ui-tree-handle:hover {
    background-color: rgba(0, 0, 0, 0.06); }

.angular-ui-tree-handle.selected {
  background-color: #1976D2; }
  .angular-ui-tree-handle.selected:hover {
    background-color: #64b5f6; }

.wfm-list {
  padding-left: 0px;
  list-style: none;
  background-color: white; }
  .wfm-list .active {
    border-left: 2px solid blue;
    background-color: #ffffff; }

.wfm-list li {
  cursor: pointer;
  overflow: hidden;
  background-color: #f5f5f5;
  /*
	&:active, &:focus, &:active:hover, &:focus:hover {
		background-color: $blue-500 !important;
	}
	*/ }
  .wfm-list li:hover {
    background-color: #BBDEFB; }
  .wfm-list li:last-child {
    margin-bottom: 0; }

.wfm-leave-behind {
  width: 0;
  float: right;
  overflow: hidden;
  margin-top: -12px;
  margin-bottom: -12px;
  background-color: rgba(0, 0, 0, 0.06);
  transition: all 0.5s ease;
  padding-top: 12px;
  padding-bottom: 5px; }
  .wfm-leave-behind span {
    white-space: nowrap; }
  .wfm-leave-behind i {
    positon: justify;
    padding-left: 5px;
    padding-top: 2px;
    font-size: 18px;
    margin: 0 5px; }
  .wfm-leave-behind p {
    padding-left: 5px;
    margin: 0 5px; }

.wfm-list li:hover > .wfm-leave-behind {
  width: 110px; }

/*tooltip - this should be removed */
@-webkit-keyframes tooltipBackgroundShow {
  0% {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    opacity: 0.25; }

  50% {
    opacity: 1; }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }

@keyframes tooltipBackgroundShow {
  0% {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
    opacity: 0.25; }

  50% {
    opacity: 1; }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1; } }

@-webkit-keyframes tooltipBackgroundHide {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@keyframes tooltipBackgroundHide {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

md-tooltip {
  position: absolute;
  font-size: 14px;
  z-index: 999;
  overflow: hidden;
  pointer-events: none;
  border-radius: 4px;
  /**
   * Depending on the tooltip's size as a multiple of 32 (set by JS),
   * change the background's animation duration.
   * The larger the tooltip, the less time the background should take to ripple outwards.
   */ }

md-tooltip[md-direction="bottom"] {
  -webkit-transform: translate3d(0, -30%, 0);
  transform: translate3d(0, -30%, 0);
  margin-top: 8px; }

md-tooltip[md-direction="top"] {
  -webkit-transform: translate3d(0, 30%, 0);
  transform: translate3d(0, 30%, 0);
  margin-bottom: 8px; }

md-tooltip .md-background {
  background: #1976D2;
  position: absolute;
  left: 50%;
  width: 256px;
  height: 256px;
  margin-left: -128px;
  margin-top: -128px;
  border-radius: 256px;
  opacity: 0.25;
  -webkit-transform: scale(0.2);
  transform: scale(0.2); }

md-tooltip .md-content {
  max-width: 240px;
  white-space: nowrap;
  overflow: hidden;
  color: white;
  text-overflow: ellipsis;
  padding: 8px;
  background: transparent;
  opacity: 0.3;
  transition: inherit; }

md-tooltip.md-hide {
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2); }

md-tooltip.md-show {
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
  pointer-events: auto;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

md-tooltip.md-show .md-background {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-animation: tooltipBackgroundShow linear;
  animation: tooltipBackgroundShow linear; }

md-tooltip.md-show .md-content {
  opacity: 0.99; }

md-tooltip.md-hide .md-background {
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 0;
  -webkit-animation: tooltipBackgroundHide 0.2s linear;
  animation: tooltipBackgroundHide 0.2s linear; }

md-tooltip[width-32="1"].md-show .md-background {
  -webkit-animation-duration: 900ms;
  animation-duration: 900ms; }

md-tooltip[width-32="2"].md-show .md-background {
  -webkit-animation-duration: 800ms;
  animation-duration: 800ms; }

md-tooltip[width-32="3"].md-show .md-background {
  -webkit-animation-duration: 700ms;
  animation-duration: 700ms; }

md-tooltip[width-32="4"].md-show .md-background {
  -webkit-animation-duration: 600ms;
  animation-duration: 600ms; }

md-tooltip[width-32="5"].md-show .md-background {
  -webkit-animation-duration: 500ms;
  animation-duration: 500ms; }

md-tooltip[width-32="6"].md-show .md-background {
  -webkit-animation-duration: 400ms;
  animation-duration: 400ms; }

md-tooltip[width-32="7"].md-show .md-background {
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms; }

md-tooltip[width-32="8"].md-show .md-background {
  -webkit-animation-duration: 200ms;
  animation-duration: 200ms; }

input[type='text'] {
  width: 100%;
  margin: 5px 0;
  padding: 5px 5px 2px;
  border: none;
  color: rgba(0, 0, 0, 0.87);
  border-bottom: 1px solid #E0E0E0; }
  input[type='text']:focus {
    border: none;
    outline: none;
    border-bottom: 2px solid #64b5f6; }

.input-prepend {
  width: 100%; }
  .input-prepend i {
    display: inline-block;
    font-weight: 600;
    width: 2%; }
  .input-prepend input[type='text'] {
    display: inline-block;
    width: 95%; }

.input-append {
  width: 100%; }
  .input-append i {
    display: inline-block;
    font-weight: 600;
    width: 2%; }
  .input-append input[type='text'] {
    display: inline-block;
    width: 95%; }

::-webkit-input-placeholder {
  /* WebKit browsers */
  color: rgba(0, 0, 0, 0.26); }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: rgba(0, 0, 0, 0.26);
  opacity: 1; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: rgba(0, 0, 0, 0.26);
  opacity: 1; }

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: rgba(0, 0, 0, 0.26); }

select {
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid #E0E0E0; }

.wfm-radio input[type='radio'] {
  display: none; }
.wfm-radio label {
  background-color: #E0E0E0;
  width: 18px;
  height: 18px;
  margin: 5px;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out; }
.wfm-radio label:after {
  content: "";
  display: block;
  padding-left: 5px;
  padding-top: 2px;
  width: 20px;
  height: 20px;
  color: #ffffff;
  position: absolute; }
.wfm-radio input[type=radio]:checked ~ label {
  background-color: #64b5f6; }
.wfm-radio span {
  margin-left: 45px; }

.wfm-slider {
  width: 55px;
  height: 26px;
  margin: 5px;
  position: relative; }
  .wfm-slider input[type='checkbox'] {
    display: none; }
  .wfm-slider label {
    position: absolute;
    background-color: #E0E0E0;
    width: 100%;
    height: 100%;
    border-radius: 42px;
    -webkit-transition: background-color .2s ease-in-out;
    transition: background-color .2s ease-in-out; }
  .wfm-slider label:after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 44px;
    cursor: pointer;
    position: absolute;
    top: 3px;
    z-index: 1;
    left: 5px;
    background-color: #ffffff;
    -webkit-transition: left .2s ease-in-out;
    transition: left .2s ease-in-out; }
  .wfm-slider input[type=checkbox]:checked ~ label {
    background-color: #64b5f6; }
  .wfm-slider input[type=checkbox]:checked ~ label:after {
    left: 30px; }
  .wfm-slider span {
    margin-left: 65px; }

.wfm-checkbox input[type='checkbox'] {
  display: none; }
.wfm-checkbox label {
  background-color: #E0E0E0;
  width: 18px;
  height: 18px;
  margin: 5px;
  border-radius: 4px;
  text-align: center;
  -webkit-transition: background-color .2s ease-in-out;
  transition: background-color .2s ease-in-out; }
.wfm-checkbox label:before {
  content: "";
  display: block;
  padding-left: 5px;
  padding-top: 2px;
  width: 20px;
  height: 20px;
  color: #ffffff;
  cursor: pointer;
  position: absolute; }
.wfm-checkbox input[type=checkbox]:checked ~ label {
  background-color: #64b5f6; }
.wfm-checkbox input[type=checkbox]:checked ~ label:before {
  content: "✓"; }
.wfm-checkbox span {
  margin-left: 45px; }

.sub-header {
  background-color: #1976D2;
  color: #ffffff; }

.bottom-header {
  background-color: #64b5f6;
  color: rgba(0, 0, 0, 0.87); }

.navbar {
  background-color: #1976D2;
  border-radius: 0;
  border: none;
  margin-bottom: 0; }
  .navbar a {
    color: #ffffff !important;
    text-decoration: none;
    display: inline-block;
    font-size: 14px; }
  .navbar .brand {
    color: #ffffff !important; }
  .navbar .content {
    height: 50px;
    padding: 15px;
    font-size: 18px;
    line-height: 20px;
    margin-left: -15px; }
  .navbar .breadbin {
    margin-left: 30px; }
  .navbar .right-actions {
    position: absolute;
    right: 5px;
    top: 30%; }

.wfm-btn {
  border: none;
  padding: 10px;
  margin: 5px;
  border-radius: 3px; }

.wfm-btn-invis-default {
  color: black;
  background-color: transparent; }
  .wfm-btn-invis-default:hover {
    background-color: #ececec; }

.wfm-btn-invis-primary {
  color: #1976D2;
  background-color: transparent; }
  .wfm-btn-invis-primary:hover {
    background-color: #ececec; }

.wfm-btn-invis-disabled {
  color: rgba(0, 0, 0, 0.26);
  background-color: transparent; }
  .wfm-btn-invis-disabled:hover {
    cursor: not-allowed; }

.wfm-btn-default {
  color: rgba(0, 0, 0, 0.87);
  background-color: #ffffff;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16); }
  .wfm-btn-default:hover {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26); }

.wfm-btn-primary {
  color: #ffffff;
  background-color: #1976D2;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16); }
  .wfm-btn-primary:hover {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26); }

.wfm-fab {
  text-align: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  color: #ffffff;
  background-color: #FFA726;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16); }
  .wfm-fab:hover {
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26); }

.wfm-table {
  width: 100%;
  text-align: left; }

.wfm-table td, th {
  border: 1px solid #f5f5f5;
  color: rgba(0, 0, 0, 0.54);
  padding: 5px; }

.wfm-table th {
  color: rgba(0, 0, 0, 0.87);
  background-color: #BBDEFB;
  text-align: center; }

.wfm-table .number-cell {
  text-align: right; }

.wfm-table-multi th:first-child, .wfm-table-multi td:first-child {
  color: rgba(0, 0, 0, 0.87);
  font-weight: 600;
  background-color: #BBDEFB; }

.table-mark {
  font-size: 150%; }
  .table-mark .notice-mark {
    color: #FB8C00; }
  .table-mark .staffing-mark {
    color: #1976D2; }
  .table-mark .error-mark {
    color: #E53935; }
  .table-mark .type-mark {
    color: #64b5f6; }

.wfm-accordion {
  width: 100%; }
  .wfm-accordion label {
    position: relative;
    z-index: 20;
    cursor: pointer;
    color: #ffffff;
    background-color: #1976D2;
    margin-bottom: 0;
    border-bottom: 1px solid #ffffff;
    font-weight: inherit; }
  .wfm-accordion .sub-label {
    background-color: #64b5f6;
    color: rgba(0, 0, 0, 0.87); }
  .wfm-accordion input[type='radio'] {
    display: none; }
  .wfm-accordion article {
    overflow: hidden;
    position: relative;
    z-index: 10;
    max-height: 0;
    -webkit-transition: max-height 0.8s;
    -moz-transition: max-height 0.8s;
    transition: max-height 0.8s;
    overflow: hidden; }
  .wfm-accordion input:checked ~ article {
    max-height: 500px;
    -webkit-transition: max-height 0.8s;
    -moz-transition: max-height 0.8s;
    transition: max-height 0.8s; }

.tab-group {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  overflow: hidden; }
  .tab-group input[type=radio] {
    display: none; }
  .tab-group input[type=radio]:checked + .label {
    color: #ffffff;
    border-bottom: 3px solid #FFA726; }
  .tab-group input[type=radio]:checked + .label + section {
    display: block; }
  .tab-group .label {
    padding: 10px !important;
    /*twice that of wfm-block*/
    position: relative;
    z-index: 2;
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -ms-flex-order: -1;
    order: -1;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    min-width: 100px;
    border-bottom: 3px solid #1976D2;
    background-color: #1976D2;
    text-align: center;
    -webkit-transition: 0.3s all ease-in-out;
    transition: 0.3s all ease-in-out;
    border-radius: 0 !important;
    /*overrides bootstrap*/
    margin-bottom: 0 !important;
    /*overrides bootstrap*/ }
  .tab-group .tab-container {
    background-color: rgba(0, 0, 0, 0.06); }
  .tab-group section {
    display: none;
    position: relative;
    z-index: 1;
    width: 100%;
    overflow: hidden; }
