/* FIXME with sass or less variables
    $mainColor: #5677fc
    $mainColorLight: #738ffe
*/

.material-depth-1 {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
}

.material-depth-2 {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.19);
}

.material-header {
    background-color: #1976D2;
    position: absolute;
    min-height: 130px;
    width: 100%;
    top: 0;
    z-index: -1;
}

.material-block {
    height: 100%;
    min-height: 400px;
    background-color: white;
    border-radius: 2px;
}

.material-block-header {
    min-height: 60px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    padding: 10px;
}

.material-block-content {
    padding: 10px;
    vertical-align: middle;
}

.material-title {
    color: rgba(0,0,0,0.54);
}

.navbar {
    background-image: none;
    background-color: #1976D2;
    border :none;
}

.navbar a{
    color: white !important;
}

.material-btn {
    width: 300px;
    border-radius: 2px;
    background-color: #5677fc;
    border:none;
}

.material-btn:hover{
    background-color: #3b50ce;
}

.success {
    color: green;
}
.fail {
    color: red;
}

.btn-wrapper {
	height: 50px;
}

.roles-details-wrapper {
	bottom: 0;
}

.selected {
	background-color: #1976D2;
	color: white;
	padding: 0 5px;
	transition: all 0.5s ease;
}

.selected-role {
	background-color: #1976D2!important;
	color: white;
}

.tree-line > li:nth-child(2) > ol > li {
	padding: 5px;
	margin: 5px;
}

.tree-line > li:nth-child(2) > ol > li > ol {
	border-left: 1px dotted #ddd;
}

.tree-line > li > ol> li {
	margin-top: 15px;
}

ol {
	margin-top: 5px;
}

/*Material bootlegs*/
input {
	width: 100%;
	margin: 5px 0;
	padding: 5px;
	border: none;
	border-bottom: 1px solid #ddd !important;
}

.filter-form svg {
	margin-top: 8px;
	right: 4%;
	position: absolute;
}

.tab-heads li {
	display: inline-block;
}

.tab-heads {
	padding-left: 10px;
}

.inline-role-name {
	margin: 0;
	padding: 0;
	width: 50%;
	color: black;
}

.container > hr {
	margin-top: 10px !important;
}

.tree {
	max-height: 800px;
	overflow-y: auto;
	padding-bottom: 5px;
}

.role-context-menu {
	width: 0;
	float: right;
	overflow: hidden;
	display: inline-block;
	transition: all 0.5s ease;
	height: 18px;
}

.selected-role > .role-context-menu, .role:hover > .role-context-menu {
	width: 90px;
}

.selected-role > .role-context-menu > a > svg > path {
	fill: white!important;
}

.role-context-menu a {
	text-decoration: none;
}

md-tooltip {
	z-index: 999;
}

.role-btn {
	padding: 10px;
	cursor: pointer;
}

.role-btn-success {
	color: white;  
	background-color: #FFA726;
}

.role-btn-default.active, 
.role-btn-default.focus, 
.role-btn-default:active, 
.role-btn-default:focus,
.role-btn-default.active:hover, 
.role-btn-default.focus:hover, 
.role-btn-default:active:hover, 
.role-btn-default:focus:hover {
	background-color: #1976D2!important;
}

.role-btn-default:hover {
	background-color: #BBDEFB;
	border:none;
}

.role-container{
	max-height: 800px;	
}

.role-container > ul {
	padding-left: 0px;
	list-style: none;
	margin-bottom: 10px;
}

.role-container > ul > li, .filter-form {
	margin-bottom: 10px;
}

/*tooltip - this should be removed */

@-webkit-keyframes tooltipBackgroundShow {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    opacity: 0.25; }

  50% {
    opacity: 1; }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; } }

@keyframes tooltipBackgroundShow {
  0% {
    -webkit-transform: scale(0.2);
            transform: scale(0.2);
    opacity: 0.25; }

  50% {
    opacity: 1; }

  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1; } }

@-webkit-keyframes tooltipBackgroundHide {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@keyframes tooltipBackgroundHide {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

md-tooltip {
  position: absolute;
  font-size: 14px;
  z-index: 9;
  overflow: hidden;
  pointer-events: none;
  border-radius: 4px;
  /**
   * Depending on the tooltip's size as a multiple of 32 (set by JS),
   * change the background's animation duration.
   * The larger the tooltip, the less time the background should take to ripple outwards.
   */ }
  md-tooltip[md-direction="bottom"] {
    -webkit-transform: translate3d(0, -30%, 0);
            transform: translate3d(0, -30%, 0);
    margin-top: 8px; }
  md-tooltip[md-direction="top"] {
    -webkit-transform: translate3d(0, 30%, 0);
            transform: translate3d(0, 30%, 0);
    margin-bottom: 8px; }
  md-tooltip .md-background {
	background:  #1976D2;
    position: absolute;
    left: 50%;
    width: 256px;
    height: 256px;
    margin-left: -128px;
    margin-top: -128px;
    border-radius: 256px;
    opacity: 0.25;
    -webkit-transform: scale(0.2);
            transform: scale(0.2); }
  md-tooltip .md-content {
    max-width: 240px;
    white-space: nowrap;
    overflow: hidden;
	color:white;
    text-overflow: ellipsis;
    padding: 8px;
    background: transparent;
    opacity: 0.3;
    transition: inherit; }
  md-tooltip.md-hide {
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2); }
  md-tooltip.md-show {
    transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    pointer-events: auto;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0); }
    md-tooltip.md-show .md-background {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
      -webkit-animation: tooltipBackgroundShow linear;
              animation: tooltipBackgroundShow linear; }
    md-tooltip.md-show .md-content {
      opacity: 0.99; }
  md-tooltip.md-hide .md-background {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0;
    -webkit-animation: tooltipBackgroundHide 0.2s linear;
            animation: tooltipBackgroundHide 0.2s linear; }
  md-tooltip[width-32="1"].md-show .md-background {
    -webkit-animation-duration: 900ms;
            animation-duration: 900ms; }
  md-tooltip[width-32="2"].md-show .md-background {
    -webkit-animation-duration: 800ms;
            animation-duration: 800ms; }
  md-tooltip[width-32="3"].md-show .md-background {
    -webkit-animation-duration: 700ms;
            animation-duration: 700ms; }
  md-tooltip[width-32="4"].md-show .md-background {
    -webkit-animation-duration: 600ms;
            animation-duration: 600ms; }
  md-tooltip[width-32="5"].md-show .md-background {
    -webkit-animation-duration: 500ms;
            animation-duration: 500ms; }
  md-tooltip[width-32="6"].md-show .md-background {
    -webkit-animation-duration: 400ms;
            animation-duration: 400ms; }
  md-tooltip[width-32="7"].md-show .md-background {
    -webkit-animation-duration: 300ms;
            animation-duration: 300ms; }
  md-tooltip[width-32="8"].md-show .md-background {
    -webkit-animation-duration: 200ms;
            animation-duration: 200ms; }
