
<!-- Some examples of how triggering a notice -->
<button class="wfm-btn" ng-click="displaySuccess();">Trigger success</button>
<button class="wfm-btn" ng-click="displayInfo();">Trigger info</button>
<button class="wfm-btn" ng-click="displayWarning();">Trigger warning</button>
<button class="wfm-btn" ng-click="displayError();">Trigger error</button>

<!-- The code below is included by default in our index.html. NO NEED TO REPEAT IT-->
<div id="notice" class="growl-wrapper material-depth-1">
	<div growl></div>
</div>
