
<!-- Some examples of how triggering a notice -->
<button class="wfm-btn wfm-btn-default" ng-click="displaySuccessNew();">Trigger success</button>
<button class="wfm-btn wfm-btn-default" ng-click="displayInfoNew();">Trigger info</button>
<button class="wfm-btn wfm-btn-default" ng-click="displayWarningNew();">Trigger warning</button>
<button class="wfm-btn wfm-btn-default" ng-click="displayErrorNew();">Trigger error</button>

<!-- The code below is included by default in our index.html. NO NEED TO REPEAT IT-->
<wfm-notice notices="wfmNotices"></wfm-notice>
