  <form name="form" class="wfm-form">
      <label>Localized number: <input type="text" ng-model="numericValueInput" name="Example" placeholder="0 ~ 1000000" numeric-value min="0" max="1000000"/></label>
      <p>
            Integer: <span ng-bind="numericValueInputResult"></span>
      </p>
      <label>Localized float-number: <input type="text" ng-model="numericValueFloatInput" name="Example" placeholder="0 ~ 1000000" numeric-value float-number min="0" max="1000000"/></label>
      <p>
            Float number: <span ng-bind="numericValueFloatInputResult"></span>
      </p>
  </form>
  
        