/*Teleopti blue*/
/*sets wfm-block*/
.swatch-list .blue-500-swatch {
  background: #0099FF !important; }
.swatch-list .blue-300-swatch {
  background: #66c2ff !important; }
.swatch-list .blue-100-swatch {
  background: #99d6ff !important; }
.swatch-list .green-400-swatch {
  background: #9CCC65 !important; }
.swatch-list .green-100-swatch {
  background: #c2e085 !important; }
.swatch-list .pink-500-swatch {
  background: #ec38a3 !important; }
.swatch-list .pink-100-swatch {
  background: #f488c8 !important; }
.swatch-list .orange-400-swatch {
  background: #ffc285 !important; }
.swatch-list .orange-600-swatch {
  background: #FB8C00 !important; }
.swatch-list .red-600-swatch {
  background: #ee8f7d !important; }
.swatch-list .gray-054-swatch {
  background: rgba(0, 0, 0, 0.54) !important; }
.swatch-list .gray-300-swatch {
  background: #E0E0E0 !important; }
.swatch-list .gray-012-swatch {
  background: rgba(0, 0, 0, 0.06) !important; }
.swatch-list .gray-026-swatch {
  background: rgba(0, 0, 0, 0.26) !important; }
.swatch-list .gray-087-swatch {
  background: rgba(0, 0, 0, 0.87) !important; }
.swatch-list .gray-100-swatch {
  background: black !important; }
.swatch-list .white-swatch {
  background: #ffffff !important; }
.swatch-list li {
  position: relative;
  width: 100px;
  height: 100px; }
  .swatch-list li p {
    background: #ffffff;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute; }

.myGrid {
  width: 100%; }

.spacer {
  margin: 25px;
  padding: 15px;
  text-align: center;
  display: inline-block;
  background: white; }

/*template styles*/
.kss-sidebar {
  position: fixed !important; }

#kss-node .kss-section {
  max-width: 80%; }

.kss-style code {
  font-size: 12px;
  line-height: 14px !important;
  font-family: Menlo,Monaco,"Andale Mono","lucida console","Courier New",monospace; }

#kss-node ol.linenums li {
  border: none; }

#kss-node .kss-sidebar {
  background: white;
  top: 0;
  z-index: 9; }

.styleguide-break {
  background-color: #ffc285;
  color: rgba(0, 0, 0, 0.87);
  padding: 5px; }
  .styleguide-break span:before {
    content: "This element does not exist in material design. "; }

.angular-req span:before {
  content: "This element require additional angular directives. " !important; }

.kss-markup {
  margin: -1px 0 24px 0;
  border: 1px solid #999;
  max-height: 0px;
  position: absolute;
  width: 61.8%;
  z-index: 99;
  overflow-y: hidden;
  transition: 1s all ease-in;
  padding-top: 30px;
  background: #eee; }

.kss-markup:hover {
  max-height: 1000px;
  z-index: 9999;
  overflow-y: auto; }

.kss-markup:hover:before {
  content: "Copy markup"; }

.kss-markup:before {
  content: "View markup";
  background: #eee;
  position: absolute;
  left: 0;
  top: 0;
  font-weight: bold;
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  right: 0; }
