/*Teleopti blue*/
/*sets wfm-block*/
.swatch-list .blue-500-swatch {
  background: #0099FF !important; }
.swatch-list .blue-300-swatch {
  background: #66c2ff !important; }
.swatch-list .blue-100-swatch {
  background: #99d6ff !important; }
.swatch-list .green-500-swatch {
  background: #8BC34A !important; }
.swatch-list .green-300-swatch {
  background: #9CCC65 !important; }
.swatch-list .green-100-swatch {
  background: #c2e085 !important; }
.swatch-list .purple-100-swatch {
  background: #E1BEE7 !important; }
.swatch-list .purple-300-swatch {
  background: #BA68C8 !important; }
.swatch-list .purple-500-swatch {
  background: #9C27B0 !important; }
.swatch-list .brown-100-swatch {
  background: #D7CCC8 !important; }
.swatch-list .brown-300-swatch {
  background: #A1887F !important; }
.swatch-list .brown-500-swatch {
  background: #795548 !important; }
.swatch-list .teal-100-swatch {
  background: #B2DFDB !important; }
.swatch-list .teal-300-swatch {
  background: #4DB6AC !important; }
.swatch-list .teal-500-swatch {
  background: #009688 !important; }
.swatch-list .pink-500-swatch {
  background: #E91E63 !important; }
.swatch-list .pink-300-swatch {
  background: #F06292 !important; }
.swatch-list .pink-100-swatch {
  background: #F8BBD0 !important; }
.swatch-list .orange-400-swatch {
  background: #ffc285 !important; }
.swatch-list .orange-500-swatch {
  background: #FFA726 !important; }
.swatch-list .orange-600-swatch {
  background: #FB8C00 !important; }
.swatch-list .red-800-swatch {
  background: #D32F2F !important; }
.swatch-list .red-700-swatch {
  background: #EF5350 !important; }
.swatch-list .red-600-swatch {
  background: #ee8f7d !important; }
.swatch-list .gray-054-swatch {
  background: rgba(0, 0, 0, 0.54) !important; }
.swatch-list .gray-300-swatch {
  background: #E0E0E0 !important; }
.swatch-list .gray-012-swatch {
  background: rgba(0, 0, 0, 0.06) !important; }
.swatch-list .gray-026-swatch {
  background: rgba(0, 0, 0, 0.26) !important; }
.swatch-list .gray-087-swatch {
  background: rgba(0, 0, 0, 0.87) !important; }
.swatch-list .gray-100-swatch {
  background: black !important; }
.swatch-list .white-swatch {
  background: #ffffff !important; }
.swatch-list li {
  position: relative;
  width: 100px;
  height: 100px; }
  .swatch-list li p {
    background: #ffffff;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute; }

.spacer {
  margin: 25px;
  padding: 15px;
  text-align: center;
  display: inline-block;
  background: white; }

/*template styles*/
.kss-sidebar {
  position: fixed !important; }

#kss-node .kss-section {
  max-width: 80%; }

.kss-style code {
  font-size: 12px;
  line-height: 14px !important;
  font-family: Menlo,Monaco,"Andale Mono","lucida console","Courier New",monospace; }

#kss-node ol.linenums li {
  border: none; }

#kss-node .kss-sidebar {
  background: white;
  top: 0;
  z-index: 9; }

.styleguide-break {
  background-color: #ffc285;
  color: rgba(0, 0, 0, 0.87);
  padding: 5px; }
  .styleguide-break span:before {
    content: "This element does not exist in material design. "; }

.angular-req span:before {
  content: "This element require additional angular directives. " !important; }
