<div class="material-depth-1 navbar navbar-default">
	<div class="navbar-header content">
		<div class="navbar-left">
			<span class="brand" ui-sref="main">Teleopti WFM</span>
		</div>
		<div class="navbar-right" >
			<span>
				<label for="searchBar" class="input-prepend">
				<i class="mdi mdi-magnify">
				<md-tooltip>Filter something</md-tooltip></i>
				<input type="text" id="searchBar" placeholder="Search" class="global-search"/>
				</label>
			</span>
			<button class="nav-context-menu">
				<i class="mdi mdi-bell"><md-tooltip>Notifications</md-tooltip></i>
				<div class="nav-context-menu-left">
					<div class="arrow-up"></div>
					<div class="context-content" >
						<div class="notification-list">
								<h4>Notifications</h4>
								<div>
									<ul class="wfm-list">
										<li><i class="mdi mdi-alert-circle"></i>1 forecast finished at 14:22</li>
                    <li><i class="mdi mdi-alert-circle"></i>1 forecast finished at 13:22</li>
                    <li><i class="mdi mdi-alert-circle"></i>1 forecast finished at 12:22</li>
									</ul>
								</div>
						</div>
					</div>
				</div>
			</button>
			<button class="nav-context-menu">
			<i class="mdi mdi-help-circle"><md-tooltip>Help</md-tooltip></i>
			<div class="nav-context-menu-left">
				<div class="arrow-up"></div>
				<div class="context-content">
						<h4>
							<a href="#"></a>
							<span class="caps">Current view</span>
            </h4>
						<p class="description">
              Here you would find some information about the view you are currently in.</br>
            </p>
					<footer>
						<a href="#" class="wfm-btn wfm-btn-primary-invis">Go to wiki</a>
					</footer>
				</div>
			</div>
			</button>
			<a href="#"><i class="mdi mdi-settings"></i>
				<md-tooltip>Settings</md-tooltip>
			</a>
			<a href="#"><i class="mdi mdi-logout"></i>
				<md-tooltip>Logout</md-tooltip>
			</a>
		</div>
	</div>
</div>
