<div class="tree">
<div class="angular-ui-tree">
	<ol id="tree-root" class="tree-line angular-ui-tree-nodes">
		<li class="angular-ui-tree-node">
			<div class="tree-toggle-group">
				<div class="toggle-handle open"><i class="mdi mdi-chevron-right"></i></div>
				<div class="angular-ui-tree-handle selected">
					Super parent
					<span><i class="mdi mdi-check"></i></span>
				</div>
			</div>
			<ol class="angular-ui-tree-nodes">
				<li class="angular-ui-tree-node">
					<div class="tree-toggle-group">
						<div class="toggle-handle open"><i class="mdi mdi-chevron-right"></i></div>
						<div class="angular-ui-tree-handle">
							Parent
							<span><i class="mdi mdi-check"></i></span>
						</div>
					</div>
					<ol class="angular-ui-tree-nodes">
						<li class="angular-ui-tree-node">
							<div class="tree-toggle-group">
								<div class="toggle-handle"></i></div>
								<div class="angular-ui-tree-handle selected">
									Child
									<span><i class="mdi mdi-check"></i></span>
								</div>
							</div>
						</li>
					</ol>
				</li>
			</ol>
			<ol class="angular-ui-tree-nodes">
				<li class="angular-ui-tree-node">
					<div class="tree-toggle-group">
						<div class="toggle-handle open"><i class="mdi mdi-chevron-right"></i></div>
						<div class="angular-ui-tree-handle">
							Parent
							<span><i class="mdi mdi-check"></i></span>
						</div>
					</div>
					<ol class="angular-ui-tree-nodes">
						<li class="angular-ui-tree-node">
							<div class="tree-toggle-group">
								<div class="toggle-handle"></i></div>
								<div class="angular-ui-tree-handle">
									Child
									<span>90%</span>
								</div>
							</div>
						</li>
					</ol>
				</li>
			</ol>
		</li>
	</ol>
</div>
</div>
