<div ng-repeat="WorkingPeriod in workingHours">
	<div class="con-row working-hours-row">
		<div class="con-flex working-hours-period">
			<h2>{{ getTimerangeDisplay(WorkingPeriod.StartTime, WorkingPeriod.EndTime)}}</h2>
		</div>
		<div class="con-flex working-hours-day" ng-repeat="WeekDay in WorkingPeriod.WeekDaySelections">
			<md-checkbox ng-model="WeekDay.Checked" aria-label="Checkbox" ng-click="enforceRadioBehavior($parent.$index, WeekDay.WeekDay)">
				<span translate>{{WeekDay | showWeekdays}}</span>
			</md-checkbox>
		</div>
		<div class="con-flex working-hours-action">
			<div tabindex=0 class="context-menu card-context" ng-click="$parent.removeWorkingPeriod($index)">
				<i class="mdi mdi-delete"></i>
				<md-tooltip>{{'DeletePeriod' | translate}} {{ getTimerangeDisplay(WorkingPeriod.StartTime, WorkingPeriod.EndTime)}}</md-tooltip>
			</div>
			<div tabindex=0 class="context-menu card-context" ng-click="$parent.toggleAllChecks($index)">
				<i class="mdi mdi-check"></i>
				<md-tooltip>{{'ToggleAll' | translate}}</md-tooltip>
			</div>
		</div>
	</div>
</div>

<div class="con-row">
	<div class="working-hours-picker-container">
		<!--No need for a con-flex here, its in the directive-->
		<time-range-picker ng-model="newWorkingPeriod" max-hours-range="maxHoursRange" disable-next-day="disableNextDay"></time-range-picker>
		<button type="button" class="wfm-btn wfm-btn-invis-default" ng-click="addEmptyWorkingPeriod()">
				{{'AddOpenHours' | translate}}
			<md-tooltip>{{'AddEmptyPeriod' | translate}}</md-tooltip>
		</button>
	</div>
</div>