.sass-cache
node_modules
styleguide
css/main.css
css/main.css.map
css/styleguide.css
css/main.min.css
*.sln
*.suo
*.idea
*~
*.log
*.tgz
dist/
css/main_dark.min.css
css/main_dark.css
/css/_workinghourspickernew.scss
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/launch.vs.json
/.vs/config/applicationhost.config
