
language: node_js
dist: trusty
sudo: false
node_js:
  - "node" #latest stable
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - gcc-4.8
      - g++-4.8
before_install:
    # Use GCC 4.8 if it's available
  - 'if [ ! `which gcc-4.8` == "" ]; then export CXX=g++-4.8 && export CC=gcc-4.8; fi'
  - npm install -g grunt-cli
  - npm config set registry https://registry.npmjs.org/
  - curl -o- -L https://yarnpkg.com/install.sh | bash #install yarn
  - export PATH=$HOME/.yarn/bin:$PATH
cache:
  yarn: true
install:
  - yarn install --network-concurrency 8 #default is 15
before_script: grunt dist --verbose
script:
  - ./node_modules/.bin/karma start --single-run --browsers PhantomJS
after_deploy:
  - ./deploy-ghpages.sh
env:
  global:
    - GH_REF: github.com/Teleopti/styleguide.git
    - secure: d9ejf1F4Q+kIhKVfaReYlW3itLeMmQzcuJH4vM/LffzJb/PusyI+mMBmo4Bc4h3GmkJEjCb78nrxjzRFZeG3C7C4jOgg2NGGIwQzpHoKcziwmfpX8BgFTnBU6VlmLUBnNxOINppLV6glMR0kHK6o/KLrKC56xKzHX4/yYrXcPdQ=
notifications:
  slack: teleopti:mStgbDoxN1zPMMc27nL6kNRw
deploy:
  provider: npm
  username: 'teleopti_travis'
  email: $email
  api_key: $token
  on:
      tags: true
