<div class="relative working-hour-picker">
  <div class="con-row day-row">
    <div class="con-flex">
      <button tabindex="0" class="wfm-fab mini grow-out" ng-click="$ctrl.openPicker(form)"
      ng-class="{'mini-active': $ctrl.showSummary}">
      <i class="mdi" ng-class="{'mdi-close':$ctrl.showSummary, 'mdi-table-large':!$ctrl.showSummary}"></i>
      <md-tooltip ng-if="!$ctrl.showSummary">{{'OpenHours' | translate}}</md-tooltip>
    </button>
  </div>
  <div class="con-flex line-center animate work-day" ng-repeat="day in $ctrl.weekdays" ng-show="$ctrl.showSummary" ng-class="{'inactive-work-day':!$ctrl.showSummary}">
    <button tabindex="0" class="wfm-fab mini" ng-click="$ctrl.selectDay(day)"
    ng-class="{'mini-success': day.IsSelected}">
    <span style="text-transform:uppercase;">{{day.Name | limitTo:1}}</span>
    <md-tooltip>{{day.Name}}</md-tooltip>
  </button>
</div>

<form ng-cloak name="form" class="wfm-form working-hour-dropdown panel material-depth-2 animate-show" novalidate ng-show="$ctrl.showSummary">
  <div class="sub-header">
    <h2>{{'OpenHours' | translate}}</h2>
    <div class="head-actions panel-menu">
      <div tabindex=0 class="context-menu card-context grow-out" ng-click="$ctrl.overNight = !$ctrl.overNight" ng-show="$ctrl.selectedDays.length > 0" ng-if="$ctrl.overNightSwitch">
        <i class="mdi" ng-class="{'mdi-weather-night':$ctrl.overNight, 'mdi-weather-sunny':!$ctrl.overNight}"></i>
        <md-tooltip ng-if="$ctrl.overNight">{{'OverMidnight'|translate}}</md-tooltip>
        <md-tooltip ng-if="!$ctrl.overNight">{{'Today'|translate}}</md-tooltip>
      </div>
      <div tabindex=0 class="context-menu card-context" ng-click="$ctrl.toggleTimeFormat()" ng-if="$ctrl.timeFormatSwitch">
        <i class="mdi" ng-class="{'mdi-alarm':$ctrl.timeFormat.Meridian, 'mdi-alarm-off':!$ctrl.timeFormat.Meridian}"></i>
        <md-tooltip ng-if="!$ctrl.timeFormat.Meridian">{{'FormatColon'|translate}} 24</md-tooltip>
        <md-tooltip ng-if="$ctrl.timeFormat.Meridian">{{'FormatColon'|translate}} 12</md-tooltip>
      </div>
    </div>

  </div>
  <div class="con-row animate-show" ng-show="$ctrl.selectedDays.length > 0">
    <div class="con-flex">
      <div class="form-input-wrap">
        <label for="open">{{'StartColon' | translate}}</label>
        <div uib-timepicker ng-model="form.openHour" name="open" id="open" show-meridian="$ctrl.timeFormat.Meridian" required=""></div>
        <div ng-cloak class="animate-input-message" ng-show="form.$submitted || form.open.$error.required.$touched">
          <div class="form-input-message" ng-class="{formInvalidInput:form.$invalid}">{{$ctrl.errorMessage}}</div>
        </div>
      </div>
    </div>
    <div class="con-flex">
      <div class="form-input-wrap">
        <label for="close">{{'EndColon'|translate}}</label>
        <div uib-timepicker ng-model="form.closeHour" name="close" id="close" show-meridian="$ctrl.timeFormat.Meridian" required=""></div>
        <div ng-cloak class="animate-input-message" ng-show="form.$submitted || form.close.$error.required.$touched">
          <div class="form-input-message" ng-class="{formInvalidInput:form.$invalid}">{{$ctrl.errorMessage}}</div>
        </div>
      </div>
    </div>
  </div>

  <div class="con-row animate-show" ng-show="$ctrl.showSummary">
    <div class="con-flex">
      <table class="wfm-table">
        <thead>
          <tr>
            <th>{{'Day'|translate}}</th>
            <th>{{'Start' | translate}}</th>
            <th>{{'End' | translate}}</th>
            <th>{{'Clear' | translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="day in $ctrl.weekdays">
            <td>
              {{day.Name}}
              <i class="mdi pull-right" ng-class="{'mdi-weather-night':day.OverNight == true, 'mdi-weather-sunny':day.OverNight == false}" ng-if="$ctrl.overNightSwitch">
                <md-tooltip ng-if="day.OverNight">{{'OverNight'|translate}}</md-tooltip>
                <md-tooltip ng-if="!day.OverNight">{{'Today'|translate}}</md-tooltip>
              </i>
            </td>
            <td class="number-cell">{{day.OpenHour | date: $ctrl.timeFormat.Format}}</td>
            <td class="number-cell">{{day.CloseHour | date: $ctrl.timeFormat.Format}}</td>
            <td class="line-center">
              <i class="mdi mdi-delete pointer" ng-click="$ctrl.clearDay(day);"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="panel">
    <div class="con-footer animate-show" ng-show="$ctrl.selectedDays.length > 0">
      <button class="wfm-btn wfm-btn-invis-default" type="submit" ng-click="$ctrl.saveHours(form)">{{'Apply'|translate}}</button>
      <button class="wfm-btn wfm-btn-invis-primary" type="submit" ng-click="$ctrl.saveAndClose(form)"><md-tooltip>{{'SaveClose'|translate}}</md-tooltip>{{'Save'|translate}}</button>
    </div>
  </div>

</form>
</div>
</div>
