.spacer {
  margin: 25px;
  padding: 15px;
  text-align:center;
  display: inline-block;
  background: white; 
  }


/*template styles*/
.kss-sidebar {
	position:fixed!important;
}

#kss-node .kss-section {
	max-width: 100%;
}
