<div class="inline-flex">
  <timepicker-wrap ng-model="startTime"></timepicker-wrap>
  <timepicker-wrap ng-model="endTime"></timepicker-wrap>
  <div ng-show="!disableNextDay || nextDay">
    <div tabindex=0 class="context-menu card-context" style="margin:0;" ng-click="toggleNextDay()">
      <i ng-if="!nextDay" class="mdi mdi-weather-sunny" ng-class="{'wfm-btn-invis-disabled': disableNextDay }">
        <md-tooltip>
          <span translate>Today</span>
        </md-tooltip>
      </i>
      <i ng-if="nextDay" class="mdi mdi-weather-night" ng-class="{'wfm-btn-invis-disabled': disableNextDay }">
        <md-tooltip>
          <span translate>OverMidnight</span>
        </md-tooltip>
      </i>
    </div>
  </div>
</div>

<div class="error-msg-container ng-invalid-order alert-error notice-spacer">
  <i class="mdi mdi-alert-octagon"></i>
  <span translate>EndTimeMustBeGreaterOrEqualToStartTime</span>
</div>
<div class="error-msg-container ng-invalid-parse alert-error notice-spacer">
  <i class="mdi mdi-alert-octagon"></i>
  <span translate>StartTimeAndEndTimeMustBeSet</span>
</div>
<div class="error-msg-container ng-invalid-range alert-error notice-spacer">
  <i class="mdi mdi-alert-octagon"></i>
  <span>{{invalidTimeRange}}</span>
</div>