<div class="tree">
  <label for="TreePickerFilter" class="input-prepend" ng-if="vm.displayTreeFilter">
    <i class="mdi mdi-filter-outline"></i>
    <input type="text" id="TreePickerFilter" name="TreePickerFilter" autocomplete="off" ng-model="vm.search" placeholder="{{'Filter' | translate}}"
    />
    <tree-filter search="vm.search"></tree-filter>
  </label>
  <ol ng-model="vm.data" style="padding:0;">
    <li node-id="$index" ng-repeat="node in vm.data[vm.nodeChildrenName]" ng-include="'tree_child_renderer.html'"></li>
  </ol>
</div>
<script type="text/ng-template" id="tree_child_renderer.html">
  <div class="tree-toggle-group" tree-animate>
    <div class="toggle-handle">
      <i ng-hide="!node[vm.nodeChildrenName] || node[vm.nodeChildrenName].length==0 " class="mdi mdi-chevron-right"></i>
    </div>
    <div class="tree-handle-wrapper" ng-class="{'selected-true': node[vm.nodeSelectedMark], 'semi-true': node[vm.nodeSemiSelected]}" ng-click="vm.selectNode(this)" ng-bind="node[vm.nodeDisplayName]"></div>
  </div>
  <ol ng-model="node">
    <li node-id="$index" class="tree-child hidden" ng-repeat="node in node[vm.nodeChildrenName]" ng-include="'tree_child_renderer.html'" ></li>
  </ol>
</script>
