// Notices
//
//Notices are temporary alerts that should quickly show up and disappear when appropriate.
//They can indicate to the user that an event or action has taken place or that something is stopping the current action.
// There are several different markers to make the type of notice easy to spot:
// <ul class="wfm-simple-list"><li class="text-success"><b>Success: </b>Indicates successful action.</li>
// <li><b>Info: </b>Gives hints and information.</li>
// <li class="text-warning"><b>Warning: </b>Alerts that something has to be done before they can continue.</li>
// <li class="text-danger"><b>Error: </b>Should be triggered when something goes wrong in the background.</li></ul>
//
// A notice should either self-destruct on state change, when timeout is up or be dismissable to free up space. The Notice service methods take 3 arguments: content, timeToLive and destroyOnStateChange.
// When creating a new notice you will get a notice object. You can destroy the notice by calling notice.destroy().
//
// <div class="jsprewrap">
//   <div class="ksscopy kss-style" ng-click="showJs['notice'] = !showJs['notice']">
//       <span ng-hide="showJs['notice']">Show</span>
//      <span ng-show="showJs['notice']">Hide</span>
//     JavaScript
//     <i class="mdi mdi-code-tags pull-right"></i>
//   </div>
//   <div class="animate-show" ng-show="showJs['notice']">
//     <code>
//       <pre class="prettyprint linenums lang-js">
//
//$scope.displaySuccess = function() {
//		NoticeService.success(message, 5000, true);
//};
//       </pre>
//     </code>
//   </div>
// </div>
//
// Markup: notices.hbs
//
//Styleguide 2.11
//

.notice-error {
	background-color: $red-600 !important;
	border: none;
	border-radius: 0;
}

.notice-warning {
	background-color: $orange-400 !important;
	border: none;
	border-radius: 0;
}

.notice-success {
	background-color: $green-100 !important;
	border: none;
	border-radius: 0;
}

.notice-info {
	background-color: $secondary !important;
	border: none;
	border-radius: 0;
}

.notice-spacer {
	padding: 10px 5px;
	margin-bottom: 5px;
}

.notice-container {
	width: 100% !important;
}

.notice-container > .notice-item {
	padding: $full-padding;
	margin-bottom: 0;
	padding: 10px;
	vertical-align: middle;
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2);
	.mdi {
		margin-right: 5px;
		vertical-align: middle;
		color: $text-color-standard;
	}
}

.notice-close {
	padding-left: $full-padding;
	cursor: pointer;
}

.notice-container > .notice-item.ng-enter,
.notice-container > .notice-item.ng-leave {
	-webkit-transition: $transition-timing;
	-moz-transition: $transition-timing;
	-o-transition: $transition-timing;
	transition: $transition-timing;
}

@keyframes notice-enter {
	from {
		opacity: 0;
		transform: translate(0, 100%);
	}
	to {
		opacity: 1;
		transform: translate(0px, 0px);
	}
}

.notice-item {
	margin: 5px 0;
	animation-name: notice-enter;
	animation-duration: 0.5s;
}
