<label for="chip-filter" class="input-icon">
 <i class="mdi mdi-filter-outline">
   <input type="text" id="chip-filter" ng-model="chipFilter" placeholder="Filter chips">
   <md-tooltip>Filter</md-tooltip>
 </i>
</label>
</br>
<div class="wfm-chip-wrap" ng-repeat="item in sizes | filter: chipFilter">
  <span class="wfm-chip">
    <span class="chip-handle">
      <span ng-bind="item.Type">Dont use ng-bind here.</span>
    </span>
    <span class="chip-text">
      <span ng-bind="item.Name">Dont use ng-bind here'</span>
    </span>
  </span>
</div>
