<div class="wfm-chip-wrap">
  <span class="wfm-chip">
    <span class="chip-handle">
      Size
    </span>
    <span class="chip-text">Small</span>
  </span>
</div>

<div class="wfm-chip-wrap">
  <span class="wfm-chip">
    <span class="chip-handle">
      <i class="mdi mdi-alert-circle"></i>
    </span>
    <span class="chip-text">Medium</span>
  </span>
</div>

<div class="wfm-chip-wrap">
  <span class="wfm-chip">
    <span class="chip-handle chip-success">
      <i class="mdi mdi-thumb-up"></i>
    </span>
    <span class="chip-text">Large</span>
  </span>
</div>

<div class="wfm-chip-wrap">
  <span class="wfm-chip">
    <span class="chip-handle chip-warning">
      <i class="mdi mdi-alert"></i>
    </span>
    <span class="chip-text">Insane</span>
  </span>
</div>

  <div class="wfm-chip-wrap">
    <span class="wfm-chip">
      <span class="chip-handle chip-error">
        <i class="mdi mdi-alert-octagon"></i>
      </span>
      <span class="chip-text">Infinite</span>
    </span>
  </div>
