<div class="panel form-panel material-depth-1">
  <div class="sub-header">
    <h2>Panel title</h2>
    <div class="head-actions panel-menu">
      <div tabindex=0 class="context-menu card-context">
        <i class="mdi mdi-dots-vertical"></i>
        <span class="context-menu-left">
          <ul class="wfm-list">
            <li>Menu item 1</li>
            <li>Menu item 2</li>
            <li>Menu item 3</li>
          </ul>
        </span>
      </div>
    </div>
  </div>

  <form name="devidedForm" class="wfm-form" novalidate>
    <div class="con-row">
      <div class="con-flex">
        <h3>Personal information</h3>
        <div class="form-input-wrap">
          <label for="firstNameId">First Name:</label>
          <input type="text" ng-model="devidedForm.input0" placeholder="Last name" name="firstName" required="" id="firstNameId" autofocus/>
          <div ng-cloak class="animate-show" ng-show ="devidedForm.$submitted || devidedForm.firstName.$touched">
            <div class="form-input-message" ng-class="{formInvalidInput:devidedForm.firstName.$error.required}">First name is required</div>
          </div>
        </div>
        <div class="form-input-wrap">
          <label for="lastNameId">Last Name:</label>
          <input type="text" ng-model="devidedForm.input1" placeholder="First name" name="lastName" required="" id="lastNameId" autofocus/>
          <div ng-cloak class="animate-show" ng-show ="devidedForm.$submitted || devidedForm.lastName.$touched">
            <div class="form-input-message" ng-class="{formInvalidInput:devidedForm.lastName.$error.required}">Last name is required</div>
          </div>
        </div>
        <h3>Preferences</h3>
        <div class="form-input-wrap">
          <label>Pick the best one:</label>
          <md-radio-group ng-model="devidedForm.dessert">
            <md-radio-button value="Option 1" aria-label="radio">Cake</md-radio-button>
            <md-radio-button value="Option 2" aria-label="radio">Pie</md-radio-button>
            <md-radio-button value="Option 3" aria-label="radio">Ice cream</md-radio-button>
          </md-radio-group>
          <div ng-cloak class="animate-show" ng-show ="devidedForm.$submitted || devidedForm.dessert.$touched">
            <div class="form-input-message" ng-class="{formInvalidInput:!devidedForm.dessert}">At least one is required</div>
          </div>
        </div>
      </div>
    </div>
    <div class="con-footer">
      <button class="wfm-btn wfm-btn-invis-default" type="button" ng-click="reset(devidedForm)"><md-tooltip>Hide all errors</md-tooltip>Clear</button>
      <button class="wfm-btn wfm-btn-invis-primary" type="submit" ng-click="update()"><md-tooltip>Save input if valid</md-tooltip>Submit</button>
    </div>
  </form>
</div>
