/*Teleopti blue*/
/*sets wfm-block*/
.borderless {
	border: none !important;
}
.borderless b {
	display: block;
}

html {
	overflow-y: auto !important;
	background: #ebebeb !important;
}

body {
	background: transparent !important;
}

.spacer {
	margin: 25px;
	padding: 15px;
	text-align: center;
	display: inline-block;
	background: white;
}

.con-flex,
.form-input-wrap,
.con-fluid-flex {
	border: 1px dashed rgba(0, 0, 0, 0.26);
}

.ksscopy {
	padding: 10px;
	border-bottom: 1px solid #ccc;
	font-weight: bold;
	cursor: pointer;
	background: rgba(0, 0, 0, 0.06);
}

.kss-modifier__wrapper {
	border: none !important;
}

/*template styles*/
.kss-sidebar {
	position: fixed !important;
}

.sidebar-toggle {
	position: fixed !important;
	top: 20px;
	left: 0px;
	z-index: 100;
	background: white !important;
}

#kss-node .kss-sidebar {
	background: white;
	top: 0;
	left: 0;
	z-index: 90;
	max-height: 100%;
	overflow-y: auto;
	padding: 0;
}

.kss-sidebar-hidden {
	visibility: hidden;
}

#kss-node .kss-title__permalink {
	font-size: 30px;
	font-weight: normal;
}

.kss-header {
	margin: 0 !important;
	padding: 1rem;
}

.kss-nav__menu-item {
	padding: 0.5rem;
}
.kss-nav__menu-item a {
	color: rgba(0, 0, 0, 0.87) !important;
}

.kss-nav__menu > .kss-nav__menu-item {
	padding: 0;
}
.kss-nav__menu > .kss-nav__menu-item > a {
	display: block;
	height: 100%;
	padding: 0.5rem;
}
.kss-nav__menu > .kss-nav__menu-item > a:hover {
	background: rgba(0, 0, 0, 0.12);
}

.kss-nav__menu-child {
	background: rgba(0, 0, 0, 0.12);
}
.kss-nav__menu-child .kss-nav__menu-item:hover {
	background: rgba(0, 0, 0, 0.12) !important;
}

.section-hero {
	background: #0099ff !important;
	outline: 420px solid #0099ff;
	z-index: -1;
	position: relative;
}
.section-hero .kss-style {
	color: white !important;
}
.section-hero .kss-style a {
	color: white !important;
}
.section-hero .kss-style h1 {
	text-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
}
.section-hero .kss-style .kss-title__ref {
	display: none !important;
}

.kss-style code {
	font-size: 12px;
	line-height: 14px !important;
	font-family: Menlo, Monaco, 'Andale Mono', 'lucida console', 'Courier New', monospace;
}

#kss-node ol.linenums li {
	border: none;
}

#kss-node .kss-section {
	max-width: 100%;
	background: white;
	padding: 0.5rem;
	margin-bottom: 2rem !important;
}

@media screen and (min-width: 769px) {
	#kss-node .kss-sidebar {
		background: white;
		top: 0;
		bottom: 0;
		z-index: 9;
		max-height: 100%;
		overflow-y: auto;
	}
	#kss-node .kss-section {
		max-width: 98%;
	}
}

.styleguide-break {
	background-color: #ffc285;
	color: rgba(0, 0, 0, 0.87);
	padding: 5px;
}
.styleguide-break span:before {
	content: 'This element does not exist in material design. ';
}

.angular-req span:before {
	content: 'This element require additional angular directives. ' !important;
}

md-tooltip {
	position: fixed;
}

.darktheme-background {
	background: #303030 !important;
	color: rgba(255, 255, 255, 0.87) !important;
	overflow-x: hidden;
}
.darktheme-background article {
	color: #d1d1d1;
}

.classictheme-background {
	background: rgba(0, 0, 0, 0.12) !important;
	color: rgba(0, 0, 0, 0.87);
	overflow-x: hidden;
}

.swatch {
	transform-origin: center;
	transform: scale(0.9);
}

.swatch-list .spacer {
	width: 100%;
	height: 100px;
	background: transparent !important;
}

.swatch-list .blue-500-swatch {
	background: #0099ff !important;
}
.swatch-list .blue-500-swatch p {
	color: white;
}

.swatch-list .blue-300-swatch {
	background: #66c2ff !important;
}

.swatch-list .blue-100-swatch {
	background: #99d6ff !important;
}

.swatch-list .green-500-swatch {
	background: #8bc34a !important;
}

.swatch-list .green-300-swatch {
	background: #9ccc65 !important;
}

.swatch-list .green-100-swatch {
	background: #c2e085 !important;
}

.swatch-list .purple-100-swatch {
	background: #e1bee7 !important;
}

.swatch-list .purple-300-swatch {
	background: #ba68c8 !important;
}
.swatch-list .purple-300-swatch p {
	color: white;
}

.swatch-list .purple-500-swatch {
	background: #9c27b0 !important;
}
.swatch-list .purple-500-swatch p {
	color: white;
}

.swatch-list .brown-100-swatch {
	background: #d7ccc8 !important;
}

.swatch-list .brown-300-swatch {
	background: #a1887f !important;
}
.swatch-list .brown-300-swatch p {
	color: white;
}

.swatch-list .brown-500-swatch {
	background: #795548 !important;
}
.swatch-list .brown-500-swatch p {
	color: white;
}

.swatch-list .teal-100-swatch {
	background: #b2dfdb !important;
}

.swatch-list .teal-300-swatch {
	background: #4db6ac !important;
}

.swatch-list .teal-500-swatch {
	background: #009688 !important;
}
.swatch-list .teal-500-swatch p {
	color: white;
}

.swatch-list .pink-500-swatch {
	background: #e91e63 !important;
}
.swatch-list .pink-500-swatch p {
	color: white;
}

.swatch-list .pink-300-swatch {
	background: #f06292 !important;
}
.swatch-list .pink-300-swatch p {
	color: white;
}

.swatch-list .pink-100-swatch {
	background: #f8bbd0 !important;
}

.swatch-list .orange-400-swatch {
	background: #ffc285 !important;
}

.swatch-list .orange-500-swatch {
	background: #ffa726 !important;
}

.swatch-list .orange-600-swatch {
	background: #fb8c00 !important;
}

.swatch-list .red-800-swatch {
	background: #d32f2f !important;
}
.swatch-list .red-800-swatch p {
	color: white;
}

.swatch-list .red-700-swatch {
	background: #ef5350 !important;
}

.swatch-list .red-600-swatch {
	background: #ee8f7d !important;
}

.swatch-list .gray-054-swatch {
	background: rgba(0, 0, 0, 0.54) !important;
}
.swatch-list .gray-054-swatch p {
	color: white;
}

.swatch-list .gray-300-swatch {
	background: #e0e0e0 !important;
}

.swatch-list .gray-012-swatch {
	background: rgba(0, 0, 0, 0.12) !important;
}

.swatch-list .gray-026-swatch {
	background: rgba(0, 0, 0, 0.26) !important;
}

.swatch-list .gray-087-swatch {
	background: rgba(0, 0, 0, 0.87) !important;
}

.swatch-list .gray-100-swatch {
	background: black !important;
}

.swatch-list .gray-500-swatch {
	background: #9e9e9e !important;
}

.swatch-list .white-swatch {
	background: #ffffff !important;
}

.swatch-list .blue-500-swatch-dark {
	background: #0a84d6 !important;
}

.swatch-list .blue-300-swatch-dark {
	background: #136fac !important;
}

.swatch-list .blue-100-swatch-dark {
	background: #1d5a83 !important;
}

.swatch-list .green-500-swatch-dark {
	background: #84ad32 !important;
}

.swatch-list .green-300-swatch-dark {
	background: #6f8e32 !important;
}

.swatch-list .green-100-swatch-dark {
	background: #627b32 !important;
}

.swatch-list .purple-100-swatch-dark {
	background: #9c27b0 !important;
}

.swatch-list .purple-300-swatch-dark {
	background: #ba68c8 !important;
}

.swatch-list .purple-500-swatch-dark {
	background: #e1bee7 !important;
}
.swatch-list .purple-500-swatch-dark p {
	color: rgba(0, 0, 0, 0.87) !important;
}

.swatch-list .brown-100-swatch-dark {
	background: #795548 !important;
}

.swatch-list .brown-300-swatch-dark {
	background: #a1887f !important;
}
.swatch-list .brown-300-swatch-dark p {
	color: rgba(0, 0, 0, 0.87) !important;
}

.swatch-list .brown-500-swatch-dark {
	background: #d7ccc8 !important;
}
.swatch-list .brown-500-swatch-dark p {
	color: rgba(0, 0, 0, 0.87) !important;
}

.swatch-list .teal-100-swatch-dark {
	background: #009688 !important;
}

.swatch-list .teal-300-swatch-dark {
	background: #4db6ac !important;
}
.swatch-list .teal-300-swatch-dark p {
	color: rgba(0, 0, 0, 0.87) !important;
}

.swatch-list .teal-500-swatch-dark {
	background: #b2dfdb !important;
}
.swatch-list .teal-500-swatch-dark p {
	color: rgba(0, 0, 0, 0.87) !important;
}

.swatch-list .pink-500-swatch-dark {
	background: #f8bbd0 !important;
}
.swatch-list .pink-500-swatch-dark p {
	color: rgba(0, 0, 0, 0.87) !important;
}

.swatch-list .pink-300-swatch-dark {
	background: #f06292 !important;
}

.swatch-list .pink-100-swatch-dark {
	background: #e91e63 !important;
}

.swatch-list .orange-400-swatch-dark {
	background: #c27c36 !important;
}

.swatch-list .orange-500-swatch-dark {
	background: #d68636 !important;
}

.swatch-list .orange-600-swatch-dark {
	background: #ea9036 !important;
}

.swatch-list .red-800-swatch-dark {
	background: #ee8f7d !important;
}
.swatch-list .red-800-swatch-dark p {
	color: rgba(0, 0, 0, 0.87) !important;
}

.swatch-list .red-700-swatch-dark {
	background: #ef5350 !important;
}

.swatch-list .red-600-swatch-dark {
	background: #ca3333 !important;
}

.swatch-list .gray-054-swatch-dark {
	background: #6b6b6b !important;
}

.swatch-list .gray-300-swatch-dark {
	background: #555555 !important;
}

.swatch-list .gray-012-swatch-dark {
	background: #303030 !important;
}

.swatch-list .gray-026-swatch-dark {
	background: rgba(0, 0, 0, 0.26) !important;
}

.swatch-list .gray-087-swatch-dark {
	background: #d1d1d1 !important;
}
.swatch-list .gray-087-swatch-dark p {
	color: rgba(0, 0, 0, 0.87) !important;
}

.swatch-list .gray-100-swatch-dark {
	background: #9e9e9e !important;
}

.swatch-list .gray-500-swatch-dark {
	background: #9e9e9e !important;
}

.swatch-list .white-swatch-dark {
	background: #424242 !important;
}

.swatch-list li {
	position: relative;
	height: 250px;
	text-align: left;
}
.swatch-list li article {
	left: 0;
	right: 0;
	bottom: 0;
	position: absolute;
	background: #ffffff;
	height: 100px;
	padding: 10px;
}

.searchItem:focus > li {
	background: #66c2ff;
}

/*Fix for old skill picker, remove when possible*/
.md-virtual-repeat-container.md-autocomplete-suggestions {
	position: absolute !important;
	top: 40px;
	right: 20px;
	left: 20px;
	height: 225.5px;
}
