<div ng-show="!displayPopup()">
  <div class="wfm-datepicker-wrap date-range-start-date">
    <div class="sub-header">
      <span>From</span>: <strong>{{ startDate | date: dateFormat }}</strong>
    </div>
    <uib-datepicker
	    ng-model="startDate"
	    show-weeks="true"
	    custom-class="setRangeClass(date, mode)"
	    min-date="dummyMinDate"
	    class="wfm-datepicker"></uib-datepicker>  
  </div>
  <div class="wfm-datepicker-wrap date-range-end-date">
    <div class="sub-header">
      <span>To</span>: <strong>{{ endDate | date: dateFormat }}</strong>
    </div>
    <uib-datepicker
	    ng-model="endDate"
	    show-weeks="true"
	    custom-class="setRangeClass(date, mode)"
	    min-date="dummyMinDate"
	    class="wfm-datepicker"></uib-datepicker>  
  </div>
  <div class="error-msg-container ng-invalid-order alert-error notice-spacer">
    <i class='mdi mdi-alert-octagon'></i> <span>StartDateMustBeEqualToOrEarlierThanEndDate</span>
  </div>
  <div class="error-msg-container ng-invalid-empty alert-error notice-spacer">
    <i class='mdi mdi-alert-octagon'></i> <span>StartDateAndEndDateMustBeSet</span>
  </div>  
</div>

<div ng-show="displayPopup()">
  <label translate class="hor-m-5 inline-vertical-fix">From</label>
  <div class="inline-datepicker-wrap date-range-start-date">
    <input class="pointer start-date-input"
	    type="text"
	    ng-click="dropDownState.showStartDatePicker = !dropDownState.showStartDatePicker"
	    ng-model="startDate"
	    uib-datepicker-popup="{{dateFormat}}"
	    on-open-focus="false"
	    custom-class="setRangeClass(date, mode)"
	    show-weeks="true"
	    is-open="dropDownState.showStartDatePicker"
	    ng-required="true"
	    show-button-bar="false"
	    min-date="dummyMinDate"
	    close-on-date-selection="false" />
  </div>
  <label translate class="hor-m-5 inline-vertical-fix">To</label>
  <div class="inline-datepicker-wrap date-range-end-date">
    <input class="pointer end-date-input"
	    type="text"
	    ng-click="dropDownState.showEndDatePicker = !dropDownState.showEndDatePicker"
	    ng-model="endDate"
	    uib-datepicker-popup="{{dateFormat}}"
	    on-open-focus="false"
	    show-weeks="true"
	    custom-class="setRangeClass(date, mode)"
	    is-open="dropDownState.showEndDatePicker"
	    ng-required="true"
	    show-button-bar="false"
	    min-date="dummyMinDate"
	    close-on-date-selection="false" />
  </div>
  <span class='popup-control'
	  ng-mouseenter="hoverShow=true"
	  ng-mouseleave="hoverShow=false"
	  ng-click="onClickShowAllDates()"
	  ng-class='{"pin-down" : dropDownState.showAllDatePickers}'>
    <i class="mdi mdi-calendar middle inline-vertical-fix"></i>
  </span>
  
  <div class="error-msg-container error-msg-popup-container ng-invalid-order alert-error notice-spacer">
    <i class='mdi mdi-alert-octagon'></i> <span>StartDateMustBeEqualToOrEarlierThanEndDate</span>
  </div>
  <div class="error-msg-container error-msg-popup-container ng-invalid-empty alert-error notice-spacer" ng-if="hoverShow">
    <i class='mdi mdi-alert-octagon'></i> <span>StartDateAndEndDateMustBeSet</span>
  </div>  
 
</div>


