<div class="wfm-multiple-search-wrapper">
	<input id="advanced-search" class="advanced-input" type="text" placeholder="{{vm.searchTitle}}" ng-class="{'expand-advanced-input': vm.showAdvancedSearchOption}"
	 ng-model="vm.searchOptions.keyword" ng-keyup="vm.searchTextInputKeyup($event)" ng-focus="vm.openAdvancedSearchOption($event)"
	 ng-change="vm.searchTextChange()" ng-click="vm.openAdvancedSearchOption($event)" />
	<div class="advanced-input-dropdown" ng-cloak ng-if="vm.showAdvancedSearchOption" outside-click="vm.turnOffAdvancedSearch($event);">
		<div class="panel material-depth-1">
			<div class="sub-header">
				<h2>{{ 'Search' | translate }}</h2>
			</div>
			<form name="form" class="wfm-form" novalidate>
				<div class="con-row" ng-repeat="searchField in vm.searchOptions.searchFields" ng-if="$even">
					<div class="full-padding">
						<input autocomplete="off" ng-if="vm.searchOptions.searchFields[$index]" id="criteria-{{vm.searchOptions.searchFields[$index]}}"
						 class="con-flex advanced-search-field" type="text" ng-keyup="vm.onSearchFieldInputKeyUp($event)" placeholder="{{'PersonFinderField'+ vm.searchOptions.searchFields[$index]|translate}}"
						 ng-model="vm.advancedSearchForm[vm.searchOptions.searchFields[$index]]" maxlength="500" />
					</div>
					<div class="full-padding">
						<input autocomplete="off" ng-if="vm.searchOptions.searchFields[$index + 1]" id="criteria-{{vm.searchOptions.searchFields[$index + 1]}}"
						 class="con-flex advanced-search-field" type="text" ng-keyup="vm.onSearchFieldInputKeyUp($event)" placeholder="{{'PersonFinderField'+ vm.searchOptions.searchFields[$index + 1]|translate}}"
						 ng-model="vm.advancedSearchForm[vm.searchOptions.searchFields[$index + 1]]" maxlength="500" />
					</div>
				</div>
				<div class="con-footer">
					<button class="wfm-btn wfm-btn-invis-default" type="reset" ng-click="vm.clearSearch()">{{'Clear'|translate}}</button>
					<button id="go-advanced-search" type="submit" class="wfm-btn wfm-btn-invis-primary" ng-click="vm.advancedSearch()">{{'Search'
						| translate}}</button>
				</div>
			</form>
		</div>
	</div>

	<div class="search-button">
		<span class="cursor-pointer search-icon" ng-focus="vm.turnOffAdvancedSearch()" ng-click="vm.searchIconClickFn()">
			<i class="mdi mdi-magnify" ng-class="{'focusing-search': vm.searchOptions.focusingSearch}"></i>
			<md-tooltip>{{'Search' | translate}}</md-tooltip>
		</span>
	</div>
</div>